force-app/main/default/flows/Account_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Account_owner_is_changed</name>
        <label>Account owner is changed</label>
        <locationX>561</locationX>
        <locationY>1600</locationY>
        <defaultConnector>
            <targetReference>CSM_Account_Manager_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_manager</targetReference>
            </connector>
            <label>Owner Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>CSM_Account_Manager_Changes</name>
        <label>CSM Account Manager Changes</label>
        <locationX>557</locationX>
        <locationY>1820</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Manager_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CRD__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CRD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOpportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Email_field_on_Opportunities</targetReference>
            </connector>
            <label>Account Manager Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flow_Version_Changes</name>
        <label>Flow Version Changes</label>
        <locationX>557</locationX>
        <locationY>1381</locationY>
        <defaultConnector>
            <targetReference>Account_owner_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Flow Version Changes</defaultConnectorLabel>
        <rules>
            <name>TRUE_Flow_Version_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Flow_Version__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Register_Flow_Versions</targetReference>
            </connector>
            <label>TRUE_Flow Version Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_change</name>
        <label>Name change</label>
        <locationX>557</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>Time_Capture_Version_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>name_Change_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateAccCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Time_Stamp</targetReference>
            </connector>
            <label>name Change Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Version_Changes</name>
        <label>Open Version Changes</label>
        <locationX>563</locationX>
        <locationY>1199</locationY>
        <defaultConnector>
            <targetReference>Flow_Version_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Open Version Changes</defaultConnectorLabel>
        <rules>
            <name>TRUE_Open_Version_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Open_Version__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Register_Open_Versions</targetReference>
            </connector>
            <label>TRUE_Open Version Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Time_Capture_Version_Changes</name>
        <label>Time Capture Version Changes</label>
        <locationX>570</locationX>
        <locationY>840</locationY>
        <defaultConnector>
            <targetReference>Walls_Version_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Time Capture Version Changes</defaultConnectorLabel>
        <rules>
            <name>TRUE_Time_Capture_Version_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TB_Version__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Register_Time_Capture_Versions</targetReference>
            </connector>
            <label>TRUE_Time Capture Version Changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Walls_Version_Changes</name>
        <label>Walls Version Changes</label>
        <locationX>566</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Open_Version_Changes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Walls Version Changes</defaultConnectorLabel>
        <rules>
            <name>TRUE_Walls_Version_Changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.WB_Product_Release__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Register_Walls_Versions</targetReference>
            </connector>
            <label>TRUE_Walls Version Changes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateAccCreate</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISNEW(),ISCHANGED({!$Record.Name}))</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_7_A1_0701060085</name>
        <dataType>String</dataType>
        <expression>(PRIORVALUE({!$Record.TB_Version__r.Name} ))</expression>
    </formulas>
    <formulas>
        <name>formula_4_myRule_11_A1_5994483570</name>
        <dataType>String</dataType>
        <expression>(PRIORVALUE({!$Record.WB_Product_Release__r.Name}))</expression>
    </formulas>
    <formulas>
        <name>formula_5_myRule_15_A1_8979450213</name>
        <dataType>String</dataType>
        <expression>(PRIORVALUE({!$Record.Open_Version__r.Name} ))</expression>
    </formulas>
    <formulas>
        <name>formula_6_myRule_19_A1_0290529837</name>
        <dataType>String</dataType>
        <expression>(PRIORVALUE({!$Record.Flow_Version__r.Name} ))</expression>
    </formulas>
    <interviewLabel>Account After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Register_Flow_Versions</name>
        <label>Register Flow Versions</label>
        <locationX>425</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>Account_owner_is_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Field__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Current__c</field>
            <value>
                <elementReference>$Record.Flow_Version__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Previous__c</field>
            <value>
                <elementReference>formula_6_myRule_19_A1_0290529837</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Field_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Register_Open_Versions</name>
        <label>Register Open Versions</label>
        <locationX>373</locationX>
        <locationY>1346</locationY>
        <connector>
            <targetReference>Flow_Version_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Field__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Current__c</field>
            <value>
                <elementReference>$Record.Open_Version__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Previous__c</field>
            <value>
                <elementReference>formula_5_myRule_15_A1_8979450213</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Field_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Register_Time_Capture_Versions</name>
        <label>Register Time Capture Versions</label>
        <locationX>369</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>Walls_Version_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Field__c</field>
            <value>
                <stringValue>Time Capture</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Current__c</field>
            <value>
                <elementReference>$Record.TB_Version__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Previous__c</field>
            <value>
                <elementReference>formula_3_myRule_7_A1_0701060085</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Field_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Register_Walls_Versions</name>
        <label>Register Walls Versions</label>
        <locationX>372</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Open_Version_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Field__c</field>
            <value>
                <stringValue>Walls</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Current__c</field>
            <value>
                <elementReference>$Record.WB_Product_Release__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Version_Previous__c</field>
            <value>
                <elementReference>formula_4_myRule_11_A1_5994483570</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Field_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetOpportunities</name>
        <label>GetOpportunities</label>
        <locationX>300</locationX>
        <locationY>361</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Name_change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Time_Stamp</name>
        <label>Set Time Stamp</label>
        <locationX>366</locationX>
        <locationY>751</locationY>
        <connector>
            <targetReference>Time_Capture_Version_Changes</targetReference>
        </connector>
        <inputAssignments>
            <field>TimeStamp_AccNameChange__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Email_field_on_Opportunities</name>
        <label>Update Email field on Opportunities</label>
        <locationX>397</locationX>
        <locationY>1899</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CRD_Email__c</field>
            <value>
                <elementReference>$Record.CRD__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunities</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_manager</name>
        <label>update_manager</label>
        <locationX>410</locationX>
        <locationY>1693</locationY>
        <connector>
            <targetReference>CSM_Account_Manager_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_owner_manager__c</field>
            <value>
                <elementReference>$Record.Owner.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Opportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetOpportunities</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
