force-app/main/default/flows/Case_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assignContractManagement</name>
        <label>assignContractManagement</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractManagaementId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignContractManagementId</name>
        <label>assignContractManagementId</label>
        <locationX>402</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>ContractManagaementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateQueueValues.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateQueueValues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDealManagement</name>
        <label>assignDealManagement</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DealManagementId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assignDealManagementId</name>
        <label>assignDealManagementId</label>
        <locationX>666</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>DealManagementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IterateQueueValues.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IterateQueueValues</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkCaseType</name>
        <label>checkCaseType</label>
        <locationX>314</locationX>
        <locationY>995</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Deal_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDealManagement</targetReference>
            </connector>
            <label>Deal Support</label>
        </rules>
        <rules>
            <name>Contracts_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracts Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignContractManagement</targetReference>
            </connector>
            <label>Contracts Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkQueue</name>
        <label>checkQueue</label>
        <locationX>666</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Management_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateQueueValues.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contracts_Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignContractManagementId</targetReference>
            </connector>
            <label>Contract Management Queue</label>
        </rules>
        <rules>
            <name>Deal_Mnagement_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IterateQueueValues.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deal_Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignDealManagementId</targetReference>
            </connector>
            <label>Deal Mnagement Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeSelection</name>
        <label>RecordTypeSelection</label>
        <locationX>578</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OSA_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OSA_Support</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueueRecord</targetReference>
            </connector>
            <label>OSA Support</label>
        </rules>
    </decisions>
    <description>Flow to update Case Owner as Contract Ops/Sales Ops. Created as part of BIZ-45115. { Deleted the components as no longer valid }
Flow to update Case Owner as Deal Management / Contract Management Queue ( BIZ-47763 )</description>
    <environments>Default</environments>
    <interviewLabel>Case Be {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Before Insert</label>
    <loops>
        <name>IterateQueueValues</name>
        <label>IterateQueueValues</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <collectionReference>getQueueRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>checkQueue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>checkCaseType</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getQueueRecord</name>
        <label>getQueueRecord</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IterateQueueValues</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 )</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contracts_Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal_Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <sortField>DeveloperName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordTypeSelection</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>conId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContractManagaementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DealManagementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>salesId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
