force-app/main/default/flows/Collect_PODS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Aggregate_PODS1</name>
        <label>Aggregate PODS</label>
        <locationX>823</locationX>
        <locationY>413</locationY>
        <assignmentItems>
            <assignToReference>ColectionofPODS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOPPODS.Product_Line_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColectionofPODS</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOPTHROHPODS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignHighestvaluetoVariable1</name>
        <label>AssignHighestvaluetoVariable1</label>
        <locationX>953</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>HighestValueProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopthrougHighestpack.Product_Line_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HighestValueProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Looptthrouhselections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectSpecificPODS1</name>
        <label>CollectSpecificPODS</label>
        <locationX>921</locationX>
        <locationY>1198</locationY>
        <assignmentItems>
            <assignToReference>CollectionofPODLicenses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>specificPODS.License_Basis_Text__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionofPODLicenses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopthrougselection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Unique</name>
        <label>Check if Unique</label>
        <locationX>813</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>Aggregate_PODS1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColectionofPODS</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LOOPPODS.Product_Line_Text__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOPTHROHPODS</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>unique</name>
        <label>unique</label>
        <locationX>946</locationX>
        <locationY>662</locationY>
        <defaultConnector>
            <targetReference>AssignHighestvaluetoVariable1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>exist1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighestValueProducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopthrougHighestpack.Product_Line_Text__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Looptthrouhselections</targetReference>
            </connector>
            <label>exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>unique2</name>
        <label>unique</label>
        <locationX>889</locationX>
        <locationY>1051</locationY>
        <defaultConnector>
            <targetReference>CollectSpecificPODS1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>unique3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionofPODLicenses</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>specificPODS.License_Basis_Text__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopthrougselection</targetReference>
            </connector>
            <label>unique</label>
        </rules>
    </decisions>
    <formulas>
        <name>subst1</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!HighestValueProducts},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>SUBST2</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ColectionofPODS},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>SUBST3</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!CollectionofPODLicenses},&quot;-&quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Collect PODS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collect PODS-FINAL+;+specificlicenses+IF1TEXTFORMAT</label>
    <loops>
        <name>LOOPTHROHPODS</name>
        <label>LOOPTHROHPODS</label>
        <locationX>492</locationX>
        <locationY>287</locationY>
        <assignNextValueToReference>LOOPPODS</assignNextValueToReference>
        <collectionReference>ALLPODS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_Unique</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_pods</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopthrougselection</name>
        <label>loopthrougselection</label>
        <locationX>508</locationX>
        <locationY>1043</locationY>
        <assignNextValueToReference>specificPODS</assignNextValueToReference>
        <collectionReference>lookupspecificlicenses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>unique2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UPDATEACCOUNT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Looptthrouhselections</name>
        <label>Looptthrouhselections</label>
        <locationX>517</locationX>
        <locationY>684</locationY>
        <assignNextValueToReference>LoopthrougHighestpack</assignNextValueToReference>
        <collectionReference>SelectedPODSwithHighestPAckadge</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>unique</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_all_PODS_specific</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_all_PODS</name>
        <label>Lookup all PODS</label>
        <locationX>465</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOPTHROHPODS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ENTERACCOUNTNAME</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Own it</stringValue>
            </value>
        </filters>
        <object>Product_Ownership_Detail__c</object>
        <outputReference>ALLPODS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Line_Text__c</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_all_PODS_specific</name>
        <label>Lookup all PODS</label>
        <locationX>516</locationX>
        <locationY>908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopthrougselection</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>License_Basis_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CG Analyze;</stringValue>
            </value>
        </filters>
        <filters>
            <field>License_Basis_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CG Flow;</stringValue>
            </value>
        </filters>
        <filters>
            <field>License_Basis_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CG Protect;</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Own it</stringValue>
            </value>
        </filters>
        <object>Product_Ownership_Detail__c</object>
        <outputReference>lookupspecificlicenses</outputReference>
        <queriedFields>License_Basis_Text__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_pods</name>
        <label>Lookup pods</label>
        <locationX>493</locationX>
        <locationY>512</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Looptthrouhselections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ENTERACCOUNTNAME</elementReference>
            </value>
        </filters>
        <filters>
            <field>Highest_Package_From_License__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Own it</stringValue>
            </value>
        </filters>
        <object>Product_Ownership_Detail__c</object>
        <outputReference>SelectedPODSwithHighestPAckadge</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>Product_Line_Text__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UPDATEACCOUNT</name>
        <label>UPDATEACCOUNT</label>
        <locationX>503</locationX>
        <locationY>1199</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ENTERACCOUNTNAME</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>All_Products_Highest_Package__c</field>
            <value>
                <elementReference>subst1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>All_Products__c</field>
            <value>
                <elementReference>SUBST2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>License_Basis__c</field>
            <value>
                <elementReference>SUBST3</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Lookup_all_PODS</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>NewLine</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>-
-</text>
    </textTemplates>
    <variables>
        <name>ALLPODS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Ownership_Detail__c</objectType>
    </variables>
    <variables>
        <name>ColectionofPODS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionofPODLicenses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ENTERACCOUNTNAME</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>HIghestValuePODS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HighestValueProducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lookupspecificlicenses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Ownership_Detail__c</objectType>
    </variables>
    <variables>
        <name>LOOPPODS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Ownership_Detail__c</objectType>
    </variables>
    <variables>
        <name>LoopthrougHighestpack</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Ownership_Detail__c</objectType>
    </variables>
    <variables>
        <name>PODSwithhighestpackadge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPODSwithHighestPAckadge</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Ownership_Detail__c</objectType>
    </variables>
    <variables>
        <name>specificPODS</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product_Ownership_Detail__c</objectType>
    </variables>
</Flow>
