force-app/main/default/flows/Collect_item_master_number_from_quote_lines.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>collect_all_products_master</name>
        <label>collect all products master</label>
        <locationX>841</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>collectionofallproducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>quoteliniteration.Item_Master_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collectionofquotelinesloop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_meter_types</name>
        <label>Collect meter types</label>
        <locationX>737</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>Collection_of_Meter_Type</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!quoteliniteration.Meter_Type__c};</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collect_all_products_master</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>if_already_collected_value</name>
        <label>if already collected value</label>
        <locationX>845</locationX>
        <locationY>165</locationY>
        <defaultConnector>
            <targetReference>collect_all_products_master</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>collected</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>Collection_of_Meter_Type</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>quoteliniteration.Meter_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Collect_meter_types</targetReference>
            </connector>
            <label>collected</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_DB_exclude</name>
        <label>if DB exclude</label>
        <locationX>388</locationX>
        <locationY>759</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>dB_yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionofallproducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TP-01572</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionofallproducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>TP-01571</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>collectedtext_0</targetReference>
            </connector>
            <label>dB yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_DB_exclude_0</name>
        <label>IIS_include</label>
        <locationX>181</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>clear_boom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IIS_yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>collectionofallproducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IS-01600</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionofallproducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IS-01601</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionofallproducts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>IS-01602</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>collectedtext</targetReference>
            </connector>
            <label>IIS</label>
        </rules>
    </decisions>
    <interviewLabel>Collect item master number from quote lines {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collect item master number from quote lines Get rid of Lineitems+IIS</label>
    <loops>
        <name>collectionofquotelinesloop</name>
        <label>collectionofquotelinesloop</label>
        <locationX>392</locationX>
        <locationY>259</locationY>
        <assignNextValueToReference>quoteliniteration</assignNextValueToReference>
        <collectionReference>collectionofquotlines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>if_already_collected_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>if_DB_exclude_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookup_quote_lines</name>
        <label>lookup quote lines</label>
        <locationX>390</locationX>
        <locationY>119</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>collectionofquotelinesloop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID_P</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>collectionofquotlines</outputReference>
        <queriedFields>Item_Master_Number__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Meter_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>clear_boom</name>
        <label>clear boomi</label>
        <locationX>186</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>collectedtext</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID_P</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>boomi__c</field>
            <value>
                <stringValue>none</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>collectedtext</name>
        <label>collectedtext</label>
        <locationX>396</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>if_DB_exclude</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID_P</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Meter_type_quote_line__c</field>
            <value>
                <elementReference>Collection_of_Meter_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>master_product_pins_from_all_quote_lines__c</field>
            <value>
                <elementReference>collectionofallproducts</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>collectedtext_0</name>
        <label>collectedtext</label>
        <locationX>404</locationX>
        <locationY>1016</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID_P</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Special_case__c</field>
            <value>
                <stringValue>exclude term QT-2183</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>20</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>lookup_quote_lines</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Amountsum</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>COLLECT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Collection_of_Meter_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>collectionofallproducts</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collectionofquotlines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>Productcollection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PArent quote ID</description>
        <name>QuoteID_P</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteliniteration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
