force-app/main/default/flows/Contract_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>CPI_Value</name>
        <label>CPI Value</label>
        <locationX>270</locationX>
        <locationY>2316</locationY>
        <assignmentItems>
            <assignToReference>CPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_SFA_Values.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_SFA_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_SFA_Value</name>
        <label>Default SFA Value</label>
        <locationX>798</locationX>
        <locationY>2316</locationY>
        <assignmentItems>
            <assignToReference>Default_SFA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_SFA_Values.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_SFA_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RPI_Value</name>
        <label>RPI Value</label>
        <locationX>534</locationX>
        <locationY>2316</locationY>
        <assignmentItems>
            <assignToReference>RPI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_SFA_Values.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetch_SFA_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Consolidated_Quote</name>
        <label>Check Consolidated Quote</label>
        <locationX>776</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consolidated_Quote_Ordered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Consolidated_Quote__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Consolidated_Quote__r.SBQQ__Ordered__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Consolidated Quote Ordered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consolidated_Quotes</name>
        <label>Check Consolidated Quotes</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>OrderNotAvailable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consolidated_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consolidated-Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consolidated_Contracts</targetReference>
            </connector>
            <label>Consolidated Quote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contract_Status</name>
        <label>Check Contract Status</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>Check_Quote_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Inserted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contract_Currency</targetReference>
            </connector>
            <label>Inserted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Stage</name>
        <label>Check Quote Stage</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>If_SFA_Cap_in_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Contract_Executed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Contract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Contract_Lookup_in_Quote</targetReference>
            </connector>
            <label>Not Contract Executed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Renewal_Changes</name>
        <label>Check Renewal Changes</label>
        <locationX>974</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Make_Auto_Renewal_Quote_Primary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal_Changes_Contract_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Changes_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Renewal Changes Contract Executed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_CPI</name>
        <label>If CPI</label>
        <locationX>534</locationX>
        <locationY>2208</locationY>
        <defaultConnector>
            <targetReference>Default_SFA_Value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPI_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_SFA_Values.SFA_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPI_Value</targetReference>
            </connector>
            <label>CPI Values</label>
        </rules>
        <rules>
            <name>RPI_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_SFA_Values.SFA_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RPI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RPI_Value</targetReference>
            </connector>
            <label>RPI Values</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_SFA_Cap_in_Quote</name>
        <label>If SFA Cap in Quote</label>
        <locationX>182</locationX>
        <locationY>1692</locationY>
        <defaultConnector>
            <targetReference>SFA_Cap_from_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_SFA_Cap_Exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Renewal_Increase_SFA_Cap__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Renewal_Increase_SFA_Cap__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Silent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SFA_Cap_From_Quote</targetReference>
            </connector>
            <label>Quote SFA Cap Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>OrderNotAvailable</name>
        <label>OrderNotAvailable</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>Check_Contract_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UpdateOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOrderInContract</targetReference>
            </connector>
            <label>UpdateOrder</label>
        </rules>
    </decisions>
    <description>Update Contract Lookup on Quote detail page, Contract number on Contract object. Created as per BIZ-45643, BIZ-47277, BIZ-47308.,BIZ-47537,contract currency.BIZ-48699: Set the Contract Status = “In Force “
BIZ-47716 - If cloned quote is marked primary but does not move to &apos;Contract Executed&apos; stage 30 days before contract end-date, auto-renewal quote needs to marked primary and ordered, SFA Cap Calculation and Renewal Uplift updation. BIZ-45902, BIZ-50017: When the Quote Contract(Contract__c) field is updated, the associated Opportunity Contract field(Associated_Contract_OSA__c) should be updated. BIZ-48732,BIZ-51979- Update order on the contract</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SFA_Calculation</name>
        <dataType>Number</dataType>
        <expression>MIN(
  CASE(
    {!$Record.SFA_Cap__c},
    &quot;CPI + 10%&quot;, {!CPI} + 10,
    &quot;CPI + 5%&quot;, {!CPI} + 5,
    &quot;Greater of CPI or 5%&quot;, MAX({!CPI}, 5),
    &quot;Greater of CPI or 10%&quot;, MAX({!CPI}, 10),
    &quot;RPI + 10%&quot;, {!RPI} + 10,
    &quot;RPI + 5%&quot;, {!RPI} + 5,
    &quot;Greater of RPI or 5%&quot;, MAX({!RPI}, 5),
    &quot;Greater of RPI or 10%&quot;, MAX({!RPI}, 10),
    &quot;10%&quot;, 10,
    &quot;5%&quot;, 5,
    &quot;3%&quot;, 3,
    {!Default_SFA}
  ),
  {!Default_SFA}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Termination_Date_Formula</name>
        <dataType>Date</dataType>
        <expression>{!$Record.SBQQ__Quote__r.SBQQ__StartDate__c} - 1</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Contract : {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract : After Insert Update</label>
    <loops>
        <name>Fetch_SFA_Values</name>
        <label>Fetch SFA Values</label>
        <locationX>182</locationX>
        <locationY>2100</locationY>
        <collectionReference>SFA_Values</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_CPI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Renewal_Uplift</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>974</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Renewal_Changes_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__RenewedContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Changes_Quote</name>
        <label>Get Renewal-Changes Quote</label>
        <locationX>974</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Renewal_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Quote_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Renewal_Changes</elementReference>
            </value>
        </filters>
        <filters>
            <field>Quote_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Contract_Executed</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SFA_Values</name>
        <label>SFA Values</label>
        <locationX>182</locationX>
        <locationY>1992</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_SFA_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFA_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__LookupData__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>1106</locationX>
        <locationY>924</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.SBQQ__PrimaryQuote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_Auto_Renewal_Quote_Primary</name>
        <label>Make Auto-Renewal Quote Primary</label>
        <locationX>1106</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Order_Auto_Renewal_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Quote_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Auto_Renewal</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Order_Auto_Renewal_Quote</name>
        <label>Order Auto-Renewal Quote</label>
        <locationX>1106</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Quote_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auto-Renewal</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SFA_Cap_from_Account</name>
        <label>SFA Cap from Account</label>
        <locationX>314</locationX>
        <locationY>1800</locationY>
        <connector>
            <targetReference>SFA_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>SFA_Cap__c</field>
            <value>
                <elementReference>$Record.Account.Master_Terms_CPI__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Consolidated_Contracts</name>
        <label>Update Consolidated Contracts</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Subscriptions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consolidated_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Superseded by Newer Contract</stringValue>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <recordUpdates>
        <description>BIZ-47537</description>
        <name>Update_Contract_Currency</name>
        <label>Update Contract Currency And Status</label>
        <locationX>50</locationX>
        <locationY>1092</locationY>
        <connector>
            <targetReference>Check_Quote_Stage</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Force</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Contract_LookUp_in_Opty</name>
        <label>Update Related Contract LookUp in Opty</label>
        <locationX>50</locationX>
        <locationY>1500</locationY>
        <connector>
            <targetReference>If_SFA_Cap_in_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Associated_Contract_OSA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Contract_OSA__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Contract_Lookup_in_Quote</name>
        <label>Update Related Contract Lookup in Quote</label>
        <locationX>50</locationX>
        <locationY>1392</locationY>
        <connector>
            <targetReference>Update_Related_Contract_LookUp_in_Opty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.SBQQ__Order__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Uplift</name>
        <label>Update Renewal Uplift</label>
        <locationX>182</locationX>
        <locationY>2592</locationY>
        <inputAssignments>
            <field>SBQQ__RenewalUpliftRate__c</field>
            <value>
                <elementReference>SFA_Calculation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SFA_Cap_From_Quote</name>
        <label>Update SFA Cap From Quote</label>
        <locationX>50</locationX>
        <locationY>1800</locationY>
        <connector>
            <targetReference>SFA_Values</targetReference>
        </connector>
        <inputAssignments>
            <field>SFA_Cap__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Renewal_Increase_SFA_Cap__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Subscriptions</name>
        <label>Update Subscriptions</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>OrderNotAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Consolidated_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__TerminatedDate__c</field>
            <value>
                <elementReference>Termination_Date_Formula</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Subscription__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOrderInContract</name>
        <label>updateOrderInContract</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <connector>
            <targetReference>Check_Contract_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Order__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Consolidated_Quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Order_Renewal_Contract_30_Days_Before</name>
            <connector>
                <targetReference>Check_Consolidated_Quote</targetReference>
            </connector>
            <label>Order Renewal Contract 30 Days Before</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>-30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>EndDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Update_Consolidated_Contracts1</name>
            <label>Update Consolidated Contracts</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CPI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Default_SFA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>RPI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
