force-app/main/default/flows/Contract_Approvers_Assignment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Approver_Users_List_Invocable</name>
        <label>Get Approver Users List Invocable</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <actionName>ApproverMatrixServiceInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Conditions_for_Segment_Lead</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>DealAcv</name>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.Deal_ACV__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesSegment</name>
            <value>
                <elementReference>Get_Contract.SBQQ__Quote__r.OP4I_Sales_Segment__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ApproverMatrixServiceInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Approver_1_Assignment</name>
        <label>Approver 1 Assignment</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>Approver1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Users_List_Invocable.SVP_Sales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Conditions_for_Approver_1_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approver_2_Assignment</name>
        <label>Approver 2 Assignment</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>Approver_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Users_List_Invocable.Industry_President</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Conditions_for_Approver_3_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Approver_3_Assignment</name>
        <label>Approver 3 Assignment</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>Approver_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Users_List_Invocable.COO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_conditions_for_Approver_4_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Approver_4_Assignment</description>
        <name>Approver_4_Assignment</name>
        <label>Approver 4 Assignment</label>
        <locationX>50</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>Approver4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Users_List_Invocable.SVP_Services</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Approvers_to_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approvers_to_Record</name>
        <label>Assign Approvers to Record</label>
        <locationX>182</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>Get_Contract.Approver_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ApproverSegmentLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Approver_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VIndustrySalesLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VServicesSegmentLead</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Approver_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Approver_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contract.Approver_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approver_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Industry Sales Lead Approval</description>
        <name>Industry_Sales_Lead_Approval</name>
        <label>Industry Sales Lead Approval</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>VIndustrySalesLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Users_List_Invocable.Industry_Sales_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Services_Segment_Lead_Approver_Conditions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Services_Segment_Lead</name>
        <label>Services Segment Lead</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>VServicesSegmentLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Users_List_Invocable.Services_Segment_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_conditions_for_Approver_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>VApproverSegmentLead</name>
        <label>Segment Lead Assignment</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ApproverSegmentLead</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Users_List_Invocable.Segment_Lead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Conditions_for_Industry_Sales_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_conditions_for_Approver_1</name>
        <label>Check conditions for Approver 1</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Check_Conditions_for_Approver_1_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approver_SVP_Sales</name>
            <conditionLogic>(1 AND (2 OR 3 OR 21)) OR (4 AND (5 OR 6)) OR 7 OR 8 OR 9 OR 19 OR 20 OR ((10 OR 11 OR 12) AND 13) OR ((10 OR 11 OR 12 OR 17) AND 14) OR ((10 OR 11 OR 12 OR 17 OR 18) AND 15) OR 16 OR (22 AND 23)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Deal_ACV__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Initial_Term_Discount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Additional_Free_months_at_no_cost__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Deal_ACV__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Initial_Term_Discount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Additional_Free_months_at_no_cost__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>XXXXX</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 90</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPI + 3%</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater of CPI or 3%</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5%</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st Renewal Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thru 2nd Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thru 3rd Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perpetual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10%</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater of CPI or 5%</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Min_year_on_year_committed_spend__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Services_Discount_Percentage__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Services_Net_Total__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_1_Assignment</targetReference>
            </connector>
            <label>Approver SVP Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Conditions_for_Approver_1_Assignment</name>
        <label>Check Conditions for Approver 1 Assignment</label>
        <locationX>182</locationX>
        <locationY>1742</locationY>
        <defaultConnector>
            <targetReference>Check_Conditions_for_Approver_3_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approver_Industry_President</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Deal_ACV__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Initial_Term_Discount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_2_Assignment</targetReference>
            </connector>
            <label>Approver Industry President</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Conditions_for_Approver_3_Assignment</name>
        <label>Check Conditions for Approver 3 Assignment</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Check_conditions_for_Approver_4_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>COO</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4 OR 11)) OR ((5 OR 6 OR 7 OR 8 OR 9) AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Deal_ACV__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Additional_Free_months_at_no_cost__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 90</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CPI + 3%</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater of CPI or 3%</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5%</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Greater of CPI or 5%</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10%</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Perpetual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roox</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approver_3_Assignment</targetReference>
            </connector>
            <label>Approver COO</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check conditions for Approver 4 Assignment</description>
        <name>Check_conditions_for_Approver_4_Assignment</name>
        <label>Check conditions for Approver 4 Assignment</label>
        <locationX>182</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Assign_Approvers_to_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approver_Services_Services</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Services_Discount_Percentage__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Services_Net_Total__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Approver_4_Assignment</targetReference>
            </connector>
            <label>Approver SVP Services</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Conditions for Industry Sales Lead</description>
        <name>Check_Conditions_for_Industry_Sales_Lead</name>
        <label>Check Conditions for Industry Sales Lead</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Services_Segment_Lead_Approver_Conditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Industry_Sales_Lead_Approver</name>
            <conditionLogic>(1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)) OR ((8 OR 9 OR 10) AND 11)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Deal_ACV__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Initial_Term_Discount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Additional_Free_months_at_no_cost__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 90</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roox</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annually</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1st Renewal Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thru 2nd Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Term__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thru 3rd Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SFA_Cap_after_Initial_Term__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Industry_Sales_Lead_Approval</targetReference>
            </connector>
            <label>Industry Sales Lead Approver</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check Conditions for Segment Lead</description>
        <name>Check_Conditions_for_Segment_Lead</name>
        <label>Check Conditions for Segment Lead</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_Conditions_for_Industry_Sales_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approver_Segment_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Initial_Term_Discount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Services_Discount_Percentage__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annually</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Min_year_on_year_committed_spend__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Additional_Free_months_at_no_cost__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 45</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 60</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 90</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Software_Payment_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Roox</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VApproverSegmentLead</targetReference>
            </connector>
            <label>Approver Segment Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Services Segment Lead Approver Conditions</description>
        <name>Services_Segment_Lead_Approver_Conditions</name>
        <label>Services Segment Lead Approver Conditions</label>
        <locationX>182</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Check_conditions_for_Approver_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_for_Services_Segment_Lead</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Services_Discount_Percentage__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.Services_Discount_Percentage__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.SBQQ__Quote__r.SBQQ__Opportunity2__r.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Services_Segment_Lead</targetReference>
            </connector>
            <label>Approval for Services Segment Lead</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contract Approvers Assignment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Approvers Assignment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Approver_Users_List_Invocable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_Record</name>
        <label>Update Contract Record</label>
        <locationX>182</locationX>
        <locationY>2870</locationY>
        <inputReference>Get_Contract</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Approver1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Approver4</description>
        <name>Approver4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Approver_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Approver_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ApproverSegmentLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Industry Sales Lead</description>
        <name>VIndustrySalesLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VServicesSegmentLead</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
