force-app/main/default/flows/Create_Champion_Contact_Role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_If_Contact_Role_Already_Exist</name>
        <label>Check If Contact Role Already Exist</label>
        <locationX>180</locationX>
        <locationY>138</locationY>
        <defaultConnectorLabel>Champion Role already exists</defaultConnectorLabel>
        <rules>
            <name>No_Contact_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactRoleID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_Role</targetReference>
            </connector>
            <label>No Contact Role</label>
        </rules>
    </decisions>
    <interviewLabel>Create Champion Contact Role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Champion / Economic Buyer Contact Role</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Role</name>
        <label>Create Contact Role</label>
        <locationX>178</locationX>
        <locationY>322</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>ContactRoleName</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Champion_Economic_Buyer_Contact_Role</name>
        <label>Find Champion / Economic Buyer Contact Role</label>
        <locationX>191</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Contact_Role_Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRoleName</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputAssignments>
            <assignToReference>ContactRoleID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Find_Champion_Economic_Buyer_Contact_Role</startElementReference>
    <status>Active</status>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRoleID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRoleName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
