force-app/main/default/flows/Credit_Note_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Credit_Note_Date</name>
        <label>Assign Credit Note Date</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__EffectiveTaxDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditNoteDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__CreditNoteDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditNoteDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Assign_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date</name>
        <label>Assign Date</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__EffectiveTaxDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__CreditNoteDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Note_Approved</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_Invoice</name>
        <label>Assign Related Invoice</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.blng__Order__r.PO_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SF_OSA_Contract_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.Contract_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ramping_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.blng__Order__r.Ramping_Users__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NetSuite_Transaction_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.NetSuite_Document_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_modification_to_contract_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.blng__Order__r.Includes_modification_to_contract_term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_Termination_Clause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.blng__Order__r.Includes_Termination_Clause__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Deal_Conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.blng__Order__r.Deal_Conversion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cancellation_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.blng__Order__r.Cancellation_fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Deal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.blng__Order__r.Deal_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.blng__Order__r.NS_Order_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Termination_with_Cancellation_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.blng__Order__r.Termination_with_Cancellation_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Invoice_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__RelatedInvoice__r.Invoice_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual_Creation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Credit_Note_Approved</name>
        <label>Credit Note Approved</label>
        <locationX>182</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Update_the_Assign_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_equals_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__CreditNoteSourceAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Credit_Note_Date</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status equals Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Cancel_Rebill_negative_lines</name>
        <label>If Cancel &amp; Rebill &amp; negative lines</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Manual_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CN_Src_Action_Not_manual</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__CreditNoteSourceAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel &amp; Rebill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__RelatedInvoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__CreditNoteSourceAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Negative Lines Conversion</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Related_Invoice</targetReference>
            </connector>
            <label>CN Src Action = Not manual</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_Creation</name>
        <label>Manual Creation</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Credit_Note_Approved</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CN_Src_Action_Manual1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__CreditNoteSourceAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__EffectiveTaxDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.blng__CreditNoteDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Date</targetReference>
            </connector>
            <label>CN Src Action = Manual</label>
        </rules>
    </decisions>
    <description>Flow populates integration related fields - BIZ-47523</description>
    <environments>Default</environments>
    <formulas>
        <name>CreditNoteDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Credit Note After Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Note After insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_the_Assign_Record</name>
        <label>Update the Assign Record</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Cancel_Rebill_negative_lines</targetReference>
        </connector>
        <object>blng__CreditNote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
