force-app/main/default/flows/Creditnote_Line_Before_Insert_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_effective_tax_date</name>
        <label>Assign effective tax date</label>
        <locationX>1005</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__EffectiveTaxDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__CreditNote__r.blng__CreditNoteDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Legal_Entity</name>
        <label>Assign Legal Entity</label>
        <locationX>573</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Legal_Entities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tax_Treatments.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Cancel_and_Rebill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Related_Invoice_line</name>
        <label>Assign Related Invoice line</label>
        <locationX>985</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.SBQQ__Contract__r.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Support_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.Support_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.SBQQ__Contract__r.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ramping_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.Order.Ramping_Users__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OSA_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.Order.ContractNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_modification_to_contract_term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.Order.Includes_modification_to_contract_term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Includes_Termination_Clause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.Order.Includes_Termination_Clause__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Deal_Conversion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.Order.Deal_Conversion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Cancellation_Fee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.Order.Cancellation_fee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Deal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.Order.Deal_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Order_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__InvoiceLine__r.blng__OrderProduct__r.Order.NS_Order_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_Negative_Lines_Manual</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Cancel_and_Rebill</name>
        <label>Check If Cancel and Rebill</label>
        <locationX>764</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>Check_If_Negative_Lines_Manual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Cancel_and_Rebill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__CreditNote__r.blng__CreditNoteSourceAction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel &amp; Rebill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__CreditNote__r.blng__RelatedInvoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Related_Invoice_line</targetReference>
            </connector>
            <label>If Cancel and Rebill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Negative_Lines_Manual</name>
        <label>Check If Negative Lines &amp; Manual</label>
        <locationX>778</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Effective_Tax_date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__EffectiveTaxDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.blng__CreditNote__r.blng__CreditNoteDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_effective_tax_date</targetReference>
            </connector>
            <label>Set Effective Tax date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subsidiary</name>
        <label>Check Subsidiary</label>
        <locationX>542</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Check_If_Cancel_and_Rebill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Subsidiary_is_not_blank</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__CreditNote__r.Subsidiary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__CreditNote__r.blng__CreditNoteSourceAction__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancel &amp; Rebill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__CreditNote__r.blng__CreditNoteSourceAction__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Negative Lines Conversion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Posted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_Entities</targetReference>
            </connector>
            <label>If Subsidiary is not blank</label>
        </rules>
    </decisions>
    <description>Flow populates integration related fields - BIZ-47523</description>
    <environments>Default</environments>
    <formulas>
        <name>RecordNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SubsidiaryName</name>
        <dataType>String</dataType>
        <expression>IF((LEFT(TEXT({!$Record.blng__CreditNote__r.Subsidiary__c}), 1) = &quot;0&quot;), 
MID(TEXT({!$Record.blng__CreditNote__r.Subsidiary__c}), 2, 1), 
LEFT(TEXT({!$Record.blng__CreditNote__r.Subsidiary__c}), 2))</expression>
    </formulas>
    <interviewLabel>Creditnote Line : Before Insert Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Creditnote Line : After Insert and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Legal_Entities</name>
        <label>Get Legal Entities</label>
        <locationX>372</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tax_Treatments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubsidiaryName</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__LegalEntity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tax_Treatments</name>
        <label>Get Tax Treatments</label>
        <locationX>466</locationX>
        <locationY>523</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Legal_Entity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__TaxLegalEntity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Legal_Entities.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__TaxCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Product__r.SBQQ__TaxCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxTreatment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>1033</locationX>
        <locationY>806</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>544</locationX>
        <locationY>7</locationY>
        <connector>
            <targetReference>Check_Subsidiary</targetReference>
        </connector>
        <object>blng__CreditNoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
