force-app/main/default/flows/Delete_PCC_from_Detached_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_if_there_are_PCC_to_delete</name>
        <label>Check if there are PCC to delete</label>
        <locationX>395</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PCC_to_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PCCtodelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>gather_data_from_all_PCCs</targetReference>
            </connector>
            <label>PCC to delete</label>
        </rules>
    </decisions>
    <formulas>
        <name>Counter</name>
        <dataType>Number</dataType>
        <expression>1 + {!Counter}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Merge</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;html&gt;&apos; + {!PCC_info_area_temp} +  &apos;---&lt;br&gt; &lt;b&gt;Product Line:&lt;/b&gt;&apos; + {!DatafromPCC.Product_Line__c} + &apos;,  &lt;b&gt;Product Customer Contact Role:&lt;/b&gt;&apos; + TEXT({!DatafromPCC.Role__c}) + &apos;, &lt;b&gt;Product Customer Number:&lt;/b&gt;&apos; + {!DatafromPCC.Subscription__r.Name} + &apos; &lt;br/&gt;&lt;/html&gt;&apos;</expression>
    </formulas>
    <interviewLabel>Delete PCC from Detached Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete PCC from Detached Contact</label>
    <loops>
        <name>gather_data_from_all_PCCs</name>
        <label>gather data from all PCCs</label>
        <locationX>624</locationX>
        <locationY>45</locationY>
        <assignNextValueToReference>DatafromPCC</assignNextValueToReference>
        <collectionReference>PCCtodelete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_PCC_info_area_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>PCC_Notification_checkbox</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_PCC_from_Detached_Contact</name>
        <label>Delete PCC from Detached Contact</label>
        <locationX>842</locationX>
        <locationY>273</locationY>
        <connector>
            <targetReference>gather_data_from_all_PCCs</targetReference>
        </connector>
        <inputReference>DatafromPCC</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_PCC_info_area_value</name>
        <label>Get PCC info area value</label>
        <locationX>876</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_PCC_Info_area</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PCC_info_area_temp</assignToReference>
            <field>PCC_information_area__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PPC_from_Detached_Contact</name>
        <label>Get PCC from Detached Contact</label>
        <locationX>201</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_there_are_PCC_to_delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>Subscription_Contact__c</object>
        <outputReference>PCCtodelete</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact_Account__c</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>Product_Line_New__c</queriedFields>
        <queriedFields>Role__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Subscription__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>PCC_Notification_checkbox</name>
        <label>PCC Notification checkbox</label>
        <locationX>486</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Detach_Contact_with_PCC_notification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PCC_Info_area</name>
        <label>Update PCC Info area</label>
        <locationX>1046</locationX>
        <locationY>155</locationY>
        <connector>
            <targetReference>Delete_PCC_from_Detached_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PCC_information_area__c</field>
            <value>
                <elementReference>Merge</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_PPC_from_Detached_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DatafromPCC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription_Contact__c</objectType>
    </variables>
    <variables>
        <name>PCC_info_area_temp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PCCidstodelete</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PCCtodelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription_Contact__c</objectType>
    </variables>
</Flow>
