force-app/main/default/flows/Early_Resouce_Request_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Early_Resouce_Request_Created_Demo</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Sales Engineer Email Notification</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Services_SOW__c.Early_Resouce_Request_Created_Demo</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Services_SOW__c.Early_Resouce_Request_Created_Demo</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Early_Resouce_Request_Created_Professional_Services</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Professional Services Email</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Services_SOW__c.Early_Resouce_Request_Created_Professional_Services</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision4</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Services_SOW__c.Early_Resouce_Request_Created_Professional_Services</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Early_Resouce_Request_Created_Professional_Services_scoping</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Early_Resouce_Request_Created_Professional_Services_scoping</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Services_SOW__c.Early_Resouce_Request_Created_Professional_Services_scoping</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Services_SOW__c.Early_Resouce_Request_Created_Professional_Services_scoping</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Early_Resource_Request_Created_Business_Consulting</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Business Consulting</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Services_SOW__c.Early_Resource_Request_Created_Business_Consulting</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Services_SOW__c.Early_Resource_Request_Created_Business_Consulting</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Early_Resouce_Request_Assigned_PB</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Professional_services_resource_assigned</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Services_SOW__c.Early_Resouce_Request_Assigned_PB</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Services_SOW__c.Early_Resouce_Request_Assigned_PB</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Sales Engineer Request Created</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Professional Services Request Created</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Professional Services Scoping</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Business Consulting Request Created</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Assigned Professional Services Request</label>
        </rules>
    </decisions>
    <description>Sends an email alert when a new Early Resource Request is created.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
  AND(
      ISCHANGED([Services_SOW__c].Type_of_Support_Required__c),
      ISPICKVAL([Services_SOW__c].Type_of_Support_Required__c, &quot;Sales Engineer&quot;)
  ),
  AND(
    ISNEW(),
    [Services_SOW__c].RecordType.Name = &quot;Early Resource Tracking&quot;,
     ISPICKVAL([Services_SOW__c].Type_of_Support_Required__c, &quot;Sales Engineer&quot;)
  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  AND(
      ISCHANGED({!myVariable_current.Type_of_Support_Required__c}),
      ISPICKVAL({!myVariable_current.Type_of_Support_Required__c}, &quot;Sales Engineer&quot;)
  ),
  AND(
    ISNEW(),
    {!myVariable_current.RecordType.Name} = &quot;Early Resource Tracking&quot;,
     ISPICKVAL({!myVariable_current.Type_of_Support_Required__c}, &quot;Sales Engineer&quot;)
  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
  AND(
      ISCHANGED([Services_SOW__c].Type_of_Support_Required__c),
      ISPICKVAL([Services_SOW__c].Type_of_Support_Required__c, &quot;Professional Services&quot;)
  ),
  AND(
    ISNEW(),
    [Services_SOW__c].RecordType.Name = &quot;Early Resource Tracking&quot;,
    ISPICKVAL([Services_SOW__c].Type_of_Support_Required__c, &quot;Professional Services&quot;)
  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  AND(
      ISCHANGED({!myVariable_current.Type_of_Support_Required__c}),
      ISPICKVAL({!myVariable_current.Type_of_Support_Required__c}, &quot;Professional Services&quot;)
  ),
  AND(
    ISNEW(),
    {!myVariable_current.RecordType.Name} = &quot;Early Resource Tracking&quot;,
    ISPICKVAL({!myVariable_current.Type_of_Support_Required__c}, &quot;Professional Services&quot;)
  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
  AND(
      ISCHANGED([Services_SOW__c].Type_of_Support_Required__c),
      ISPICKVAL([Services_SOW__c].Type_of_Support_Required__c, &quot;Professional Services Scoping&quot;)
  ),
  AND(
    ISNEW(),
    [Services_SOW__c].RecordType.Name = &quot;Early Resource Tracking&quot;,
     ISPICKVAL([Services_SOW__c].Type_of_Support_Required__c, &quot;Professional Services Scoping&quot;)
  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  AND(
      ISCHANGED({!myVariable_current.Type_of_Support_Required__c}),
      ISPICKVAL({!myVariable_current.Type_of_Support_Required__c}, &quot;Professional Services Scoping&quot;)
  ),
  AND(
    ISNEW(),
    {!myVariable_current.RecordType.Name} = &quot;Early Resource Tracking&quot;,
     ISPICKVAL({!myVariable_current.Type_of_Support_Required__c}, &quot;Professional Services Scoping&quot;)
  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
  AND(
      ISCHANGED([Services_SOW__c].Type_of_Support_Required__c),
      ISPICKVAL([Services_SOW__c].Type_of_Support_Required__c, &quot;Business Consulting&quot;)
  ),
 AND(
    ISNEW(),
    [Services_SOW__c].RecordType.Name = &quot;Early Resource Tracking&quot;,
    ISPICKVAL([Services_SOW__c].Type_of_Support_Required__c, &quot;Business Consulting&quot;)
  )
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  AND(
      ISCHANGED({!myVariable_current.Type_of_Support_Required__c}),
      ISPICKVAL({!myVariable_current.Type_of_Support_Required__c}, &quot;Business Consulting&quot;)
  ),
 AND(
    ISNEW(),
    {!myVariable_current.RecordType.Name} = &quot;Early Resource Tracking&quot;,
    ISPICKVAL({!myVariable_current.Type_of_Support_Required__c}, &quot;Business Consulting&quot;)
  )
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISPICKVAL([Services_SOW__c].Type_of_Support_Required__c, &quot;Professional Services Scoping&quot;),
ISCHANGED([Services_SOW__c].Services_Request_Status__c ),
ISPICKVAL([Services_SOW__c].Services_Request_Status__c,&quot;Assigned&quot;)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISPICKVAL({!myVariable_current.Type_of_Support_Required__c}, &quot;Professional Services Scoping&quot;),
ISCHANGED({!myVariable_current.Services_Request_Status__c} ),
ISPICKVAL({!myVariable_current.Services_Request_Status__c},&quot;Assigned&quot;)
)</expression>
    </formulas>
    <interviewLabel>Early_Resouce_Request_Created-8_InterviewLabel</interviewLabel>
    <label>Early Resouce Request Created + PS Scoping</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Services_SOW__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Services_SOW__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Services_SOW__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
