force-app/main/default/flows/Financial_Period_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_FPeriod_End_Date</name>
        <label>Check FPeriod End Date</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>End_Date_Plus_Two_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EndDatePlusTwoDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Finance_Period_Status</targetReference>
            </connector>
            <label>End Date Plus Two Days</label>
        </rules>
    </decisions>
    <description>Scheduled Flow to Close a Finance Period 2 days after its End Date - BIZ-47404</description>
    <environments>Default</environments>
    <formulas>
        <name>EndDatePlusTwoDay</name>
        <dataType>Boolean</dataType>
        <expression>IF ({!$Record.blng__PeriodEndDate__c} + 2 = TODAY(),true, false)</expression>
    </formulas>
    <interviewLabel>Financial Period Schedule Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Financial Period Schedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Finance_Period_Status</name>
        <label>Update Finance Period Status</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__PeriodStatus__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>blng__FinancePeriod__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_FPeriod_End_Date</targetReference>
        </connector>
        <object>blng__FinancePeriod__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-10-25</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
