force-app/main/default/flows/Finance_Period_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_in_status_List</name>
        <label>Assign in status List</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>UpdateStatusList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateFPStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_FP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_status</name>
        <label>Assign the status</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>UpdateFPStatus.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_FP.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateFPStatus.blng__PeriodStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>openedorclosed</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_in_status_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>If_closed</name>
        <label>If closed</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>openedorclosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_FP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>If_Opened</name>
        <label>If Opened</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>openedorclosed</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_FP</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AprMonth</name>
        <choiceText>Apr</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>AugMonth</name>
        <choiceText>Aug</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Close</name>
        <choiceText>Close</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>DecMonth</name>
        <choiceText>Dec</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>FebMonth</name>
        <choiceText>Feb</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>JanMonth</name>
        <choiceText>Jan</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>JulMonth</name>
        <choiceText>Jul</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>JunMonth</name>
        <choiceText>Jun</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>MarMonth</name>
        <choiceText>Mar</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>MayMonth</name>
        <choiceText>May</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>NovMonth</name>
        <choiceText>Nov</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OctMonth</name>
        <choiceText>Oct</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Open</name>
        <choiceText>Open</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>SepMonth</name>
        <choiceText>Sep</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>FP_Period_Status</name>
        <label>FP Period Status</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Iterate_FP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Close1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Period_Status.selectedChoiceLabels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_closed</targetReference>
            </connector>
            <label>Close</label>
        </rules>
        <rules>
            <name>Open1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Period_Status.selectedChoiceLabels</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Opened</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <description>Flow to Open or Close all the Finance Periods for the selected month - BIZ-47404</description>
    <environments>Default</environments>
    <formulas>
        <name>YearofToday</name>
        <dataType>Number</dataType>
        <expression>YEAR(TODAY())</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Finance Period Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Finance Period Status</label>
    <loops>
        <name>Iterate_FP</name>
        <label>Iterate FP</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_FP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Status_for_open</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Finance_Book</name>
        <label>Get Finance Book</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__FinanceBook__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FP</name>
        <label>Get FP</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FP_Period_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>MonthsScreen.selectedChoiceLabels</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__FinanceBook__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Finance_Book.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Period_Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YearofToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__FinancePeriod__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_for_open</name>
        <label>Update Status for open</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Closed_Page</targetReference>
        </connector>
        <inputReference>UpdateStatusList</inputReference>
    </recordUpdates>
    <screens>
        <name>Closed_Page</name>
        <label>Closed Page</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thankyou_Open</name>
            <fieldText>&lt;p&gt;The Finance Periods have been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finance_Period</name>
        <label>Finance Period</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Finance_Book</targetReference>
        </connector>
        <fields>
            <name>MonthsScreen</name>
            <choiceReferences>JanMonth</choiceReferences>
            <choiceReferences>FebMonth</choiceReferences>
            <choiceReferences>MarMonth</choiceReferences>
            <choiceReferences>AprMonth</choiceReferences>
            <choiceReferences>MayMonth</choiceReferences>
            <choiceReferences>JunMonth</choiceReferences>
            <choiceReferences>JulMonth</choiceReferences>
            <choiceReferences>AugMonth</choiceReferences>
            <choiceReferences>SepMonth</choiceReferences>
            <choiceReferences>OctMonth</choiceReferences>
            <choiceReferences>NovMonth</choiceReferences>
            <choiceReferences>DecMonth</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Select Month</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Period_Status</name>
            <choiceReferences>Open</choiceReferences>
            <choiceReferences>Close</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Period Status</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Finance_Period</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>FB</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinanceBook__c</objectType>
    </variables>
    <variables>
        <name>FinancePeriod</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>openedorclosed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateFPStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
    <variables>
        <name>UpdateStatusList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__FinancePeriod__c</objectType>
    </variables>
</Flow>
