force-app/main/default/flows/Flow_Link_PC_to_OAPrj.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>If_PC_is_found</name>
        <label>If PC is found</label>
        <locationX>768</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductCustomer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_OA_Project_to_PC</targetReference>
            </connector>
            <label>YES - found</label>
        </rules>
        <rules>
            <name>NO_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductCustomer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>NO - not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Product_Line_exists</name>
        <label>If Product Line exists</label>
        <locationX>408</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductLineData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Customer_for_the_Account</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varProductLineData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_PC_link_from_OA_Project</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <interviewLabel>Flow_Link_PC_to_OAPrj {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_Link_PC_to_OAPrj</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Customer_for_the_Account</name>
        <label>Get Product Customer for the Account</label>
        <locationX>775</locationX>
        <locationY>286</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_PC_is_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_LineNew__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductLineData.Id</elementReference>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>varProductCustomer</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Line_Record</name>
        <label>Get Product Line Record</label>
        <locationX>415</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Product_Line_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProductLine</elementReference>
            </value>
        </filters>
        <object>Product_Line__c</object>
        <outputReference>varProductLineData</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Link_OA_Project_to_PC</name>
        <label>Link OA Project to PC</label>
        <locationX>1126</locationX>
        <locationY>513</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Customer__c</field>
            <value>
                <elementReference>varProductCustomer.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Remove_PC_link_from_OA_Project</name>
        <label>Remove PC link from OA Project</label>
        <locationX>83</locationX>
        <locationY>286</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Customer__c</field>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <startElementReference>Get_Product_Line_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>varProductLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductLineData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Product_Line__c</objectType>
    </variables>
    <variables>
        <description>OA Project Id</description>
        <name>varProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
