force-app/main/default/flows/Invoice_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Due_date</name>
        <label>Assign Due date</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__DueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDatefromPaymentterms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_email_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EMail_Fields</name>
        <label>Assign EMail Fields</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__BillToContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__Order__r.BillToContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Additional_emails_to_send__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.blng__Order__r.Additional_emails_to_send__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Subsidiary_payment_details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Payment_Details</name>
        <label>Assign Payment Details</label>
        <locationX>50</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.Subsidiary_Payment_Details__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment_Details.Subsidiary_Payment_info__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_the_Order_ID</name>
        <label>Assign the Order ID</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice_Lines.blng__OrderProduct__r.Order.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_Payment_Terms</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_email_fields</name>
        <label>Check email fields</label>
        <locationX>182</locationX>
        <locationY>995</locationY>
        <defaultConnector>
            <targetReference>Check_Subsidiary_payment_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_email_fields_are_not_null</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Order__r.Additional_emails_to_send__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Additional_emails_to_send__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Order__r.BillToContactId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.blng__BillToContact__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EMail_Fields</targetReference>
            </connector>
            <label>If  email fields are not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subsidiary_payment_details</name>
        <label>Check Subsidiary payment details</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_subsidiary_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Payment_Details__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Payment_Details</targetReference>
            </connector>
            <label>If subsidiary is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Custom_Payment_Terms</name>
        <label>Custom Payment Terms</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_email_fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_custom_terms</name>
            <conditionLogic>(1 OR 2 OR 4) AND 3 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Order__r.SBQQ__PaymentTerm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 7</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Order__r.SBQQ__PaymentTerm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Net 120</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__InvoiceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Order__r.SBQQ__PaymentTerm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__DueDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Due_date</targetReference>
            </connector>
            <label>If custom terms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_status</name>
        <label>Invoice status</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Custom_Payment_Terms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_New_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__InvoiceStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_Lines</targetReference>
            </connector>
            <label>If New &amp; Draft</label>
        </rules>
    </decisions>
    <description>Set additional recipients of the Invoice document - BIZ-48610
Changed to before insert to meet flow standards and created new flow for after insert updates
Deleted the renewal element &amp; switched to after insert flow</description>
    <environments>Default</environments>
    <formulas>
        <name>CustomPaymenttermsformula</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.blng__Order__r.SBQQ__PaymentTerm__c},
&quot;Net 7&quot;, &quot;result1&quot;, 
&quot;Net 120&quot;, &quot;result2&quot;,
&quot;else_result&quot;)</expression>
    </formulas>
    <formulas>
        <name>GetDatefromPaymentterms</name>
        <dataType>Date</dataType>
        <expression>CASE({!$Record.blng__Order__r.SBQQ__PaymentTerm__c},
&quot;Net 7&quot;, ({!$Record.blng__InvoiceDate__c} + 7), 
&quot;Net 120&quot;, ({!$Record.blng__InvoiceDate__c} + 120),
&quot;Other&quot;, ({!$Record.blng__InvoiceDate__c} + {!$Record.blng__Order__r.Custom_Software_Payment_Term__c}),
{!$Record.blng__DueDate__c})</expression>
    </formulas>
    <formulas>
        <name>Labelpayment</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.blng__Order__r.Subsidiary__c}) &amp; &quot; &quot; &amp; TEXT({!$Record.CurrencyIsoCode})</expression>
    </formulas>
    <interviewLabel>Invoice Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice : Before Insert and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice_Lines</name>
        <label>Get Invoice Lines</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_Order_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Details</name>
        <label>Get Payment Details</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Payment_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Labelpayment</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice_Template__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoice_status</targetReference>
        </connector>
        <object>blng__Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>InvoiceTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Template__mdt</objectType>
    </variables>
    <variables>
        <name>InvTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice_Template__mdt</objectType>
    </variables>
    <variables>
        <name>OrderIDinIL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
