force-app/main/default/flows/Invoice_Line_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Product_Type</name>
        <label>Product Type</label>
        <locationX>491</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Type_Tax_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Product__r.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tax_details_in_Invoice_Line</targetReference>
            </connector>
            <label>Product Type = Tax Only?</label>
        </rules>
    </decisions>
    <description>Set Billing and Tax relates rules on Tax Only Invoices - BIZ-48453</description>
    <environments>Default</environments>
    <interviewLabel>Invoice Line Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Line Create : After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Tax_details_in_Invoice_Line</name>
        <label>Update Tax details in Invoice Line</label>
        <locationX>323</locationX>
        <locationY>414</locationY>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>$Record.blng__Product__r.blng__BillingRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__ChargeType__c</field>
            <value>
                <elementReference>$Record.blng__ChargeType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>$Record.blng__TaxRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Product_Type</targetReference>
        </connector>
        <object>blng__InvoiceLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>projectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
