force-app/main/default/flows/Invoice_Line_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Product_Type</name>
        <label>Product Type</label>
        <locationX>491</locationX>
        <locationY>351</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_type_check</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.Invoice_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.Invoice_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__Invoice__r.Invoice_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expense</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__InvoiceLineStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Posted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tax_details_in_Invoice_Line</targetReference>
            </connector>
            <label>Invoice type check</label>
        </rules>
    </decisions>
    <description>Set Billing and Tax relates rules on Tax Only Invoices - BIZ-48453</description>
    <environments>Default</environments>
    <interviewLabel>Invoice Line Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Line Create : After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tax_Treatment</name>
        <label>Get Tax Treatment</label>
        <locationX>464</locationX>
        <locationY>515</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_tax_treatment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__TaxLegalEntity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__LegalEntity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__TaxCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.blng__Product__r.SBQQ__TaxCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxTreatment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Tax_details_in_Invoice_Line</name>
        <label>Update Tax details in Invoice Line</label>
        <locationX>323</locationX>
        <locationY>414</locationY>
        <connector>
            <targetReference>Get_Tax_Treatment</targetReference>
        </connector>
        <inputAssignments>
            <field>blng__BillingRule__c</field>
            <value>
                <elementReference>$Record.blng__Product__r.blng__BillingRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__ChargeType__c</field>
            <value>
                <elementReference>$Record.blng__Product__r.SBQQ__ChargeType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>blng__TaxRule__c</field>
            <value>
                <elementReference>$Record.blng__Product__r.blng__TaxRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_tax_treatment</name>
        <label>Update tax treatment</label>
        <locationX>594</locationX>
        <locationY>515</locationY>
        <inputAssignments>
            <field>blng__TaxTreatment__c</field>
            <value>
                <elementReference>Get_Tax_Treatment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Product_Type</targetReference>
        </connector>
        <object>blng__InvoiceLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>projectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
