force-app/main/default/flows/MigrationQuoteLineAfterInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Quote_Line</name>
        <label>Assign Quote Line</label>
        <locationX>213</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteLineRecord.Original_ACV_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteLineRecord.Previous_ACV_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateQuoteLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQuoteLienID</name>
        <label>AssignQuoteLienID</label>
        <locationX>522</locationX>
        <locationY>452</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteLineRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkSegmentofQuoteLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignValues</name>
        <label>assignValues</label>
        <locationX>811</locationX>
        <locationY>958</locationY>
        <assignmentItems>
            <assignToReference>previousACVChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculatePrevValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACVChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>acvChangeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Quote_Line</name>
        <label>Assign Quote Line</label>
        <locationX>818</locationX>
        <locationY>1124</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteLineRecord.Original_ACV_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACVChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteLineRecord.Previous_ACV_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>previousACVChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteLineRecord.YOY_Quantity_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateQuoteLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkSegmentofQuoteLine</name>
        <label>checkSegmentofQuoteLine</label>
        <locationX>521</locationX>
        <locationY>730</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Line1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSegment1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Line</targetReference>
            </connector>
            <label>IsSegment1</label>
        </rules>
        <rules>
            <name>SegmentGreaterThan1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPrviousSegmentLine</targetReference>
            </connector>
            <label>SegmentGreaterThan1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Quote_Line1</name>
        <label>Update Quote Line</label>
        <locationX>513</locationX>
        <locationY>1131</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateQuoteLine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Line</targetReference>
            </connector>
            <label>Update True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>acvChangeFormula</name>
        <dataType>Number</dataType>
        <expression>{!calculateValue} - {!previousACVChange}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calculatePrevValue</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!getPrviousSegmentLine.ACV_Change_Manual__c}), IF(ISNULL({!getPrviousSegmentLine.Extended_Term_Discount__c}), (({!getPrviousSegmentLine.SBQQ__NetTotal__c}*12) / {!getPrviousSegmentLine.Segment_Months__c}),
((({!getPrviousSegmentLine.SBQQ__NetTotal__c} + {!getPrviousSegmentLine.Extended_Term_Discount__c} )*12) / {!getPrviousSegmentLine.Segment_Months__c})), IF(ISNULL({!getPrviousSegmentLine.Extended_Term_Discount__c}), ({!getPrviousSegmentLine.ACV_Change__c} + {!getPrviousSegmentLine.Previous_ACV_Change__c}),
{!getPrviousSegmentLine.ACV_Change__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calculateValue</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!$Record.Extended_Term_Discount__c}), (({!$Record.SBQQ__NetTotal__c}*12) / {!$Record.Segment_Months__c}),
((({!$Record.SBQQ__NetTotal__c} + {!$Record.Extended_Term_Discount__c} )*12) / {!$Record.Segment_Months__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>previousSegment</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__SegmentIndex__c}-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>quantityChange</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__Quantity__c} - {!getPrviousSegmentLine.SBQQ__Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Migration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MigrationQuoteLineAfterInsertUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPrviousSegmentLine</name>
        <label>getPrviousSegmentLine</label>
        <locationX>811</locationX>
        <locationY>784</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__SegmentIndex__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>previousSegment</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Line</name>
        <label>Update Quote Line</label>
        <locationX>205</locationX>
        <locationY>1272</locationY>
        <inputReference>UpdateQuoteLineRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>401</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AssignQuoteLienID</targetReference>
        </connector>
        <filterFormula>(ISPICKVAL({!$Record.SBQQ__Quote__r.SBQQ__Type__c}, &apos;Migration Quote&apos;))</filterFormula>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ACVChange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>previousACVChange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>updateQuoteLine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>UpdateQuoteLineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
