force-app/main/default/flows/Notify_Owner_of_Open_Opp_ty_Economic_buyer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Economic_buyer_check</name>
        <label>Economic buyer check</label>
        <locationX>374</locationX>
        <locationY>52</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Economic_buyer_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Economic_buyer_Open_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_all_opps</targetReference>
            </connector>
            <label>Economic buyer exists</label>
        </rules>
    </decisions>
    <interviewLabel>Notify Owner of Open Opp-ty Economic buyer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Owner of Open Opp-ty Economic buyer</label>
    <loops>
        <name>check_all_opps</name>
        <label>check all opps</label>
        <locationX>586</locationX>
        <locationY>47</locationY>
        <assignNextValueToReference>Check_opps_id</assignNextValueToReference>
        <collectionReference>Get_Economic_buyer_Open_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Owner_email_economic_buyer</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Contact_Role</name>
        <label>Delete Contact Role</label>
        <locationX>808</locationX>
        <locationY>309</locationY>
        <connector>
            <targetReference>check_all_opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_opps_id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Economic Buyer</stringValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Economic_buyer_Open_Opportunities</name>
        <label>Get Economic buyer Open Opportunities</label>
        <locationX>213</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Economic_buyer_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Economic_Buyer_lookup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Simple_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Economic_Buyer_lookup__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Owner_email_economic_buyer</name>
        <label>Owner email economic buyer</label>
        <locationX>795</locationX>
        <locationY>59</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Populate_email_for_notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_opps_id.Owner.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Economic_Buyer</name>
        <label>Clear Economic Buyer</label>
        <locationX>1007</locationX>
        <locationY>279</locationY>
        <connector>
            <targetReference>Delete_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Check_opps_id.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Economic_Buyer_lookup__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_email_for_notification</name>
        <label>Populate email for notification</label>
        <locationX>992</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Clear_Economic_Buyer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Owner_of_Open_opp_ty__c</field>
            <value>
                <elementReference>Owner_email_economic_buyer.Email</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Economic_buyer_Open_Opportunities</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Check_opps_id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
