force-app/main/default/flows/Opportunity_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Anticipated_Cancellation_Notification</name>
        <label>Anticipated Cancellation Notification</label>
        <locationX>1379</locationX>
        <locationY>4215</locationY>
        <actionName>Opportunity.Email_Notification_Anticipated_Cancellation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_PCs_for_Closed_Won_Opportunities</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Email_Notification_Anticipated_Cancellation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Intapp_Prime</name>
        <label>Intapp Prime</label>
        <locationX>542</locationX>
        <locationY>2396</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_Intapp_prime</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>X1_Segment_lead_notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_Intapp_prime</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_Contract_Ops</name>
        <label>Notify Contract Ops</label>
        <locationX>592</locationX>
        <locationY>1986</locationY>
        <actionName>Opportunity.New_OSA_Requested</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_OSA_Rec</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.New_OSA_Requested</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Closed_Won_Billing_Pause</name>
        <label>Opportunity Closed Won Billing Pause</label>
        <locationX>1050</locationX>
        <locationY>3041</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_Billing_Pause</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TRUE_Economic_buyer_got_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_Billing_Pause</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Closed_Won_Cloud_Email_Cancellation</name>
        <label>Opportunity Closed Won Cloud Email Cancellation</label>
        <locationX>1226</locationX>
        <locationY>3230</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_Cloud_Email_Cancellation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TRUE_Economic_buyer_got_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_Cloud_Email_Cancellation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Closed_Won_Email_Cancellation</name>
        <label>Opportunity Closed Won Email Cancellation</label>
        <locationX>1185</locationX>
        <locationY>3088</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_Email_Cancellation</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>X6_Cloud_Email_Cancellation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_Email_Cancellation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Closed_Won_engagement_letter</name>
        <label>Opportunity Closed Won engagement letter</label>
        <locationX>542</locationX>
        <locationY>2503</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_Engagement_Letter</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>X0_OnePlace</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_Engagement_Letter</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Closed_Won_Finance_Catch_All_Notification</name>
        <label>Opportunity Closed Won Finance Catch All Notification</label>
        <locationX>1870</locationX>
        <locationY>3536</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_Finance_Catch_All_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TRUE_Economic_buyer_got_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_Finance_Catch_All_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Closed_Won_greater_than_20K</name>
        <label>Opportunity Closed Won greater than 20K</label>
        <locationX>571</locationX>
        <locationY>2835</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_greater_than_20K</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TRUE_Economic_buyer_got_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_greater_than_20K</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Closed_Won_Legal_Consulting_Services</name>
        <label>Opportunity Closed Won - Legal - Consulting Services</label>
        <locationX>1590</locationX>
        <locationY>3378</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_Legal_Consulting_Services</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TRUE_Economic_buyer_got_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_Legal_Consulting_Services</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Closed_Won_less_than_20K</name>
        <label>Opportunity Closed Won less than 20K</label>
        <locationX>718</locationX>
        <locationY>2930</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_less_than_20K</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TRUE_Economic_buyer_got_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_less_than_20K</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Closed_Won_One_Place</name>
        <label>Opportunity Closed Won One Place</label>
        <locationX>548</locationX>
        <locationY>2626</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_OnePlace</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>X1_Sales_Notification_for_greater_than_20K</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_OnePlace</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Closed_Won_Services_Partner</name>
        <label>Opportunity Closed Won Services-Partner</label>
        <locationX>1384</locationX>
        <locationY>3290</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_Services_Partner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TRUE_Economic_buyer_got_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_Services_Partner</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Opportunity_Closed_Won_Training</name>
        <label>Opportunity Closed Won Training</label>
        <locationX>835</locationX>
        <locationY>3028</locationY>
        <actionName>Opportunity.Opportunity_Closed_Won_Training</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TRUE_Economic_buyer_got_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_Closed_Won_Training</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Pending_Closer_Email_Alert</name>
        <label>Pending Closer Email Alert</label>
        <locationX>744</locationX>
        <locationY>3957</locationY>
        <actionName>Opportunity.Status_Pending_Closure_Services</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Anticipated_Cancellation_Noti_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Status_Pending_Closure_Services</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Renewal_at_Risk</name>
        <label>Renewal at Risk</label>
        <locationX>1731</locationX>
        <locationY>3470</locationY>
        <actionName>Opportunity.Opportunity_renewal_at_risk</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TRUE_Economic_buyer_got_populated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Opportunity_renewal_at_risk</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Status_Pending_Closure_Services1</name>
        <label>Status_Pending_Closure_Services1</label>
        <locationX>607</locationX>
        <locationY>1858</locationY>
        <actionName>Opportunity.Status_Pending_Closure_Services</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>New_OSA_Requested</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Status_Pending_Closure_Services</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Status_Pending_Closure_Software1</name>
        <label>Status_Pending_Closure_Software1</label>
        <locationX>533</locationX>
        <locationY>2142</locationY>
        <actionName>Opportunity.Status_Pending_Closure_Software</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_Pending_Closure_Software_Services</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Status_Pending_Closure_Software</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Status_Pending_Closure_Software2</name>
        <label>Status_Pending_Closure_Software2</label>
        <locationX>539</locationX>
        <locationY>2297</locationY>
        <actionName>Opportunity.Status_Pending_Closure_Software</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>X14_Intapp_Prime</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Status_Pending_Closure_Software</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AssignToList</name>
        <label>AssignToList</label>
        <locationX>1537</locationX>
        <locationY>1437</locationY>
        <assignmentItems>
            <assignToReference>ListOfQuotesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_Quote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Contract_Expiration_Date</name>
        <label>Populate Contract Expiration Date</label>
        <locationX>1079</locationX>
        <locationY>1565</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_Quote.SBQQ__ExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requested_Contract_Expiration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isQuoteTrueCondition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Expiration_Date</name>
        <label>Populate Expiration Date</label>
        <locationX>804</locationX>
        <locationY>1549</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_Quote.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Initial_Software_Term_Length_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract_Expiration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Primary_Contact</name>
        <label>Populate Primary Contact</label>
        <locationX>623</locationX>
        <locationY>1542</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_Quote.SBQQ__PrimaryContact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Signer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Subscription_Term</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Quote_fields</name>
        <label>Populate Quote fields</label>
        <locationX>436</locationX>
        <locationY>1549</locationY>
        <assignmentItems>
            <assignToReference>Loop_over_Quote.SBQQ__MasterContract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Associated_Contract_OSA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isRecUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Primary_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_RAC_Total_on_PC</name>
        <label>Reset RAC Total on PC</label>
        <locationX>1168</locationX>
        <locationY>5050</locationY>
        <assignmentItems>
            <assignToReference>RAC_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Totaling_RAC_on_Existing_PC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Totaling_RAC_on_Existing_PC</name>
        <label>Totaling RAC on Existing PC</label>
        <locationX>939</locationX>
        <locationY>5051</locationY>
        <assignmentItems>
            <assignToReference>RAC_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_multiple_OPCs.Recurring_Amount_Change__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RAC_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Existing_Product_Customer.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PC_RAC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_OPC_based_on_PC</name>
        <label>Update OPC based on PC</label>
        <locationX>1383</locationX>
        <locationY>5050</locationY>
        <assignmentItems>
            <assignToReference>Loop_for_multiple_OPCs.Product_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Existing_Product_Customer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_RAC_Total_on_PC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_OPCs_with_PCs</name>
        <label>Update OPCs with PCs</label>
        <locationX>924</locationX>
        <locationY>4822</locationY>
        <assignmentItems>
            <assignToReference>Loop_for_multiple_OPCs.Product_Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewProductCustomer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_multiple_OPCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PC_RAC</name>
        <label>Update_PC_RAC</label>
        <locationX>708</locationX>
        <locationY>5051</locationY>
        <assignmentItems>
            <assignToReference>Existing_Product_Customer.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RAC_Total</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Existing_Product_Customer.CSM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_multiple_OPCs.TCSM__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_multiple_OPCs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Anticipated_Cancellation_Noti_Check</name>
        <label>Anticipated Cancellation Noti Check</label>
        <locationX>891</locationX>
        <locationY>4112</locationY>
        <defaultConnector>
            <targetReference>Create_PCs_for_Closed_Won_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Anticipated_Cancellation_Criteria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OPP017EFxx_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Ant_Can</targetReference>
            </connector>
            <label>Anticipated Cancellation Criteria</label>
        </rules>
    </decisions>
    <decisions>
        <name>Champion_got_populated_Decision</name>
        <label>Champion got populated Decision</label>
        <locationX>963</locationX>
        <locationY>3748</locationY>
        <defaultConnector>
            <targetReference>StageisPendingCloser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Champion_got_populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChampiongotpopulatedFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Champion_Contact_Role</targetReference>
            </connector>
            <label>Champion got populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_PCs_for_Closed_Won_Opportunities</name>
        <label>Create PCs for Closed Won Opportunities</label>
        <locationX>887</locationX>
        <locationY>4298</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Product_Customer</name>
            <conditionLogic>(1 AND 2 AND 4) OR (2 AND 3 AND 4) OR (4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01250000000Hq3WAAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>01250000000Hq3WAAS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Customer_Create</targetReference>
            </connector>
            <label>Create Product Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_PC_exist_for_this_product_line</name>
        <label>Does PC exist for this product line</label>
        <locationX>1379</locationX>
        <locationY>4727</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Product_Customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_OPC_based_on_PC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Product_Customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_PCs</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>isQuoteTrueCondition</name>
        <label>isQuoteTrueCondition</label>
        <locationX>1335</locationX>
        <locationY>1450</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isQuoteTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isRecUpdate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToList</targetReference>
            </connector>
            <label>isQuoteTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>LisOPCNOtNull</name>
        <label>LisOPCNOtNull</label>
        <locationX>900</locationX>
        <locationY>4554</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OPCNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListofOPCRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_for_multiple_OPCs</targetReference>
            </connector>
            <label>OPCNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_OSA_Requested</name>
        <label>New OSA Requested</label>
        <locationX>724</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>Status_Pending_Closure_Software</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OSA_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_OSA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Contract_Ops</targetReference>
            </connector>
            <label>OSA is true</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuoteRecNullCheck</name>
        <label>QuoteRecNullCheck</label>
        <locationX>331</locationX>
        <locationY>920</locationY>
        <defaultConnector>
            <targetReference>Status_Pending_Closure_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteRecNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateQuoteRec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_Quote</targetReference>
            </connector>
            <label>QuoteRecNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>StageisPendingCloser</name>
        <label>StageisPendingCloser</label>
        <locationX>962</locationX>
        <locationY>3931</locationY>
        <defaultConnector>
            <targetReference>Anticipated_Cancellation_Noti_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StageCheck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Closer_Email_Alert</targetReference>
            </connector>
            <label>StageCheck</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Pending_Closure_Services</name>
        <label>Status Pending Closure Services</label>
        <locationX>729</locationX>
        <locationY>1802</locationY>
        <defaultConnector>
            <targetReference>New_OSA_Requested</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Status Pending Closure Services</defaultConnectorLabel>
        <rules>
            <name>TRUE_Status_Pending_Closure_Services</name>
            <conditionLogic>(1 AND (2 OR 6) AND 3 AND 4) OR (1 AND (2 or 6) AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__r.Has_Services_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__r.Has_Software_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__r.Contract_Master_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>06. Pending Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Pending_Closure_Services1</targetReference>
            </connector>
            <label>TRUE_Status Pending Closure Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Pending_Closure_Software</name>
        <label>Status Pending Closure Software</label>
        <locationX>714</locationX>
        <locationY>2097</locationY>
        <defaultConnector>
            <targetReference>Status_Pending_Closure_Software_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Status Pending Closure Software</defaultConnectorLabel>
        <rules>
            <name>TRUE_Status_Pending_Closure_Software</name>
            <conditionLogic>(2 or 5) and 1 and 3 and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__r.Has_Services_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__r.Has_Software_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>06. Pending Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Pending_Closure_Software1</targetReference>
            </connector>
            <label>TRUE_Status Pending Closure Software</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Pending_Closure_Software_Services</name>
        <label>Status Pending Closure Software&amp;Services</label>
        <locationX>728</locationX>
        <locationY>2221</locationY>
        <defaultConnector>
            <targetReference>X14_Intapp_Prime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Status Pending Closure Software&amp;Services</defaultConnectorLabel>
        <rules>
            <name>TRUE_Status_Pending_Closure_Software_Services</name>
            <conditionLogic>(2 or 5) and 1 and 3 and 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Closure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__r.Has_Services_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryQuote__r.Has_Software_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>06. Pending Closure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Pending_Closure_Software2</targetReference>
            </connector>
            <label>TRUE_Status Pending Closure Software&amp;Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>TRUE_Economic_buyer_got_populated</name>
        <label>TRUE_Economic buyer got populated</label>
        <locationX>834</locationX>
        <locationY>3541</locationY>
        <defaultConnector>
            <targetReference>Champion_got_populated_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Economic_buyer_got_populated_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EconomicbuyergotpopulatedFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ecomonic_Buyer_Role</targetReference>
            </connector>
            <label>Economic buyer got populated Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Contract_Expiration</name>
        <label>Update Contract Expiration</label>
        <locationX>1075</locationX>
        <locationY>1340</locationY>
        <defaultConnector>
            <targetReference>isQuoteTrueCondition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Contract Expiration</defaultConnectorLabel>
        <rules>
            <name>TRUE_Update_Contract_Expiration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Contract_Expiration_Date</targetReference>
            </connector>
            <label>TRUE_Update Contract Expiration</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_OSA</name>
        <label>Update OSA</label>
        <locationX>429</locationX>
        <locationY>1341</locationY>
        <defaultConnector>
            <targetReference>Update_Primary_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update OSA</defaultConnectorLabel>
        <rules>
            <name>TRUE_Update_OSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Quote_fields</targetReference>
            </connector>
            <label>TRUE_Update OSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Primary_Contact</name>
        <label>Update Primary Contact</label>
        <locationX>615</locationX>
        <locationY>1329</locationY>
        <defaultConnector>
            <targetReference>Update_Subscription_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Primary Contact</defaultConnectorLabel>
        <rules>
            <name>TRUE_Update_Primary_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Primary_Contact</targetReference>
            </connector>
            <label>TRUE_Update Primary Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Subscription_Term</name>
        <label>Update Subscription Term</label>
        <locationX>800</locationX>
        <locationY>1337</locationY>
        <defaultConnector>
            <targetReference>Update_Contract_Expiration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Update Subscription Term</defaultConnectorLabel>
        <rules>
            <name>TRUE_Update_Subscription_Term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Expiration_Date</targetReference>
            </connector>
            <label>TRUE_Update Subscription Term</label>
        </rules>
    </decisions>
    <decisions>
        <name>X0_OnePlace</name>
        <label>0. OnePlace</label>
        <locationX>758</locationX>
        <locationY>2597</locationY>
        <defaultConnector>
            <targetReference>X1_Sales_Notification_for_greater_than_20K</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_0_OnePlace</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>OnePlace</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won_One_Place</targetReference>
            </connector>
            <label>TRUE_0. OnePlace</label>
        </rules>
    </decisions>
    <decisions>
        <name>X12_Renewal_At_Risk</name>
        <label>12. Renewal At Risk</label>
        <locationX>1866</locationX>
        <locationY>3333</locationY>
        <defaultConnector>
            <targetReference>X8_Finance_Catch_All_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_12_Renewal_At_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_42</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Renewal_at_Risk</targetReference>
            </connector>
            <label>TRUE_12. Renewal At Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>X14_Intapp_Prime</name>
        <label>14. Intapp Prime</label>
        <locationX>730</locationX>
        <locationY>2350</locationY>
        <defaultConnector>
            <targetReference>X1_Segment_lead_notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_14. Intapp Prime</defaultConnectorLabel>
        <rules>
            <name>TRUE_14_Intapp_Prime</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intapp Prime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Package__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intapp Prime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intapp_Prime</targetReference>
            </connector>
            <label>TRUE_14. Intapp Prime</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1_Sales_Notification_for_greater_than_20K</name>
        <label>1. Sales Notification for greater than 20K</label>
        <locationX>768</locationX>
        <locationY>2719</locationY>
        <defaultConnector>
            <targetReference>X2_Sales_Notification_for_equal_or_less_than_20K</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_1_Sales_Notification_for_greater_than_20K</name>
            <conditionLogic>(1 OR 2 OR 3 OR 8 OR 9) AND 4 AND 5 AND 6 AND 7 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Product Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-on Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>License Uplift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exclude_from_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maintenance_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Module</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring Adjustment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Legal - Recurring Adjustment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won_greater_than_20K</targetReference>
            </connector>
            <label>TRUE_1. Sales Notification for greater than 20K</label>
        </rules>
    </decisions>
    <decisions>
        <name>X1_Segment_lead_notification</name>
        <label>-1. Segment lead notification</label>
        <locationX>742</locationX>
        <locationY>2459</locationY>
        <defaultConnector>
            <targetReference>X0_OnePlace</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_1_Segment_lead_notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Services_Opportunity_Product_Count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Services_Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Implementation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Services_Project_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Intapp Prime</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Services_Project_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Consulting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Services_Project_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partner</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won_engagement_letter</targetReference>
            </connector>
            <label>TRUE_-1. Segment lead notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>X2_Sales_Notification_for_equal_or_less_than_20K</name>
        <label>2. Sales Notification for equal or less than 20K</label>
        <locationX>913</locationX>
        <locationY>2780</locationY>
        <defaultConnector>
            <targetReference>X3_Training_Opportunity_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_2_Sales_Notification_for_equal_or_less_than_20K</name>
            <conditionLogic>(1 OR 2 OR 3 OR 8 OR 9) AND 4 AND 5 AND 6 AND 7 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Product Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-on Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>License Uplift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exclude_from_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Maintenance_Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Module</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring Adjustment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Legal - Recurring Adjustment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won_less_than_20K</targetReference>
            </connector>
            <label>TRUE_2. Sales Notification for equal or less than 20K</label>
        </rules>
    </decisions>
    <decisions>
        <name>X3_Training_Opportunity_Closed</name>
        <label>3. Training Opportunity Closed</label>
        <locationX>1065</locationX>
        <locationY>2835</locationY>
        <defaultConnector>
            <targetReference>X4_Billing_Pause</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_3_Training_Opportunity_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_28</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won_Training</targetReference>
            </connector>
            <label>TRUE_3. Training Opportunity Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>X4_Billing_Pause</name>
        <label>4. Billing Pause</label>
        <locationX>1204</locationX>
        <locationY>2888</locationY>
        <defaultConnector>
            <targetReference>X5_Email_Cancellation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_4_Billing_Pause</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_30</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won_Billing_Pause</targetReference>
            </connector>
            <label>TRUE_4. Billing Pause</label>
        </rules>
    </decisions>
    <decisions>
        <name>X5_Email_Cancellation</name>
        <label>5. Email Cancellation</label>
        <locationX>1316</locationX>
        <locationY>2950</locationY>
        <defaultConnector>
            <targetReference>X6_Cloud_Email_Cancellation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_5_Email_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_32</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won_Email_Cancellation</targetReference>
            </connector>
            <label>TRUE_5. Email Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <name>X6_Cloud_Email_Cancellation</name>
        <label>6. Cloud Email Cancellation</label>
        <locationX>1366</locationX>
        <locationY>3101</locationY>
        <defaultConnector>
            <targetReference>X7_Services_Partner_Opportunities_closure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_6_Cloud_Email_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_34</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won_Cloud_Email_Cancellation</targetReference>
            </connector>
            <label>TRUE_6. Cloud Email Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <name>X7_Services_Partner_Opportunities_closure</name>
        <label>7. Services - Partner Opportunities closure</label>
        <locationX>1601</locationX>
        <locationY>3218</locationY>
        <defaultConnector>
            <targetReference>X9_Legal_Consulting_Services</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_7_Services_Partner_Opportunities_closure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services - Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exclude_from_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won_Services_Partner</targetReference>
            </connector>
            <label>TRUE_7. Services - Partner Opportunities closure</label>
        </rules>
    </decisions>
    <decisions>
        <name>X8_Finance_Catch_All_Notification</name>
        <label>8. Finance Catch All Notification</label>
        <locationX>1963</locationX>
        <locationY>3428</locationY>
        <defaultConnector>
            <targetReference>TRUE_Economic_buyer_got_populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_8_Finance_Catch_All_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exclude_from_Notifications__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Legal - Billing Paused/Restarted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Training</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accounting Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Acquired Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>After Market Partner Tracking Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Software Product</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Module</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>License Uplift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Services - Partner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Legal - Entitlement Cleanup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Legal - Consulting Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>User Count Uplift</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SFA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accounting Adjustment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New Product Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sale_Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recurring Adjustment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Platform Conversion - Internal Increase</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Platform Conversion - Internal Decrease</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Consulting Services - Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won_Finance_Catch_All_Notification</targetReference>
            </connector>
            <label>TRUE_8. Finance Catch All Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>X9_Legal_Consulting_Services</name>
        <label>9. Legal - Consulting Services</label>
        <locationX>1744</locationX>
        <locationY>3294</locationY>
        <defaultConnector>
            <targetReference>X12_Renewal_At_Risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TRUE_9_Legal_Consulting_Services</name>
            <conditionLogic>(3 OR 5) AND 1 AND 2 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal - Consulting Services</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consulting Services - Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Closed_Won_Legal_Consulting_Services</targetReference>
            </connector>
            <label>TRUE_9. Legal - Consulting Services</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ChampiongotpopulatedFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
ISNEW(),
NOT(ISBLANK({!$Record.Champion_lookup__c}))
),
AND(
NOT(ISBLANK({!$Record.Champion_lookup__c })),
ISCHANGED({!$Record.Champion_lookup__c })
)
)</expression>
    </formulas>
    <formulas>
        <name>EconomicbuyergotpopulatedFormula</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
ISNEW(),
NOT(ISBLANK({!$Record.Economic_Buyer_lookup__c}))
),
AND(
NOT(ISBLANK({!$Record.Economic_Buyer_lookup__c  })),
ISCHANGED({!$Record.Economic_Buyer_lookup__c})
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()), 
NOT(ISBLANK({!$Record.Associated_Contract_OSA__c })), ISCHANGED({!$Record.Associated_Contract_OSA__c })  
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_28</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
{!$Record.Exclude_from_Notifications__c=FALSE}, 
{!$Record.IsWon}, 
ISCHANGED({!$Record.IsWon}), 
ISPICKVAL({!$Record.StageName},&quot;Closed Won&quot;), 
ISPICKVAL({!$Record.Type}, &quot;Training&quot;) 
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()), 
NOT(ISBLANK({!$Record.Contract_Signer__c})),
NOT(ISBLANK({!$Record.Contract_Signer__c})),
ISCHANGED({!$Record.Contract_Signer__c }),
NOT(ISBLANK({!$Record.Associated_Contract_OSA__c}))
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_30</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
{!$Record.Exclude_from_Notifications__c=FALSE}, 
{!$Record.IsWon}, 
ISCHANGED({!$Record.IsWon}), 
ISPICKVAL({!$Record.Type}, &quot;Legal - Billing Paused/Restarted&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_32</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
{!$Record.Exclude_from_Notifications__c=FALSE},
{!$Record.IsWon}, 
ISCHANGED({!$Record.IsWon}),
ISCHANGED({!$Record.StageName }),
{!$Record.Sale_Category__c =&quot;Churn&quot;},
NOT(ISPICKVAL({!$Record.Type},&quot;ACV Recovery/Partial ACV Reinstatement&quot;)) 
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_34</name>
        <dataType>Boolean</dataType>
        <expression>AND( 
{!$Record.Exclude_from_Notifications__c=FALSE},
{!$Record.IsWon}, 
ISCHANGED({!$Record.IsWon}), 
CONTAINS({!$Record.Opp_Product_Lines__c},&quot;Cloud&quot;),
OR(
ISPICKVAL({!$Record.Type},&quot;Cancellation - Customer&quot;) ,
ISPICKVAL({!$Record.Type},&quot;Cancellation - Product&quot;)) 


)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_42</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Record.Concession_Amount__c &lt; 0},
ISPICKVAL({!$Record.Type}, &quot;Legal - CPI / Recurring Increase&quot;),
{!$Record.IsClosed = FALSE
})</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()), 
NOT(ISBLANK({!$Record.Initial_Software_Term_Length_Months__c })), ISCHANGED({!$Record.Initial_Software_Term_Length_Months__c})  
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISNEW()), 
NOT(ISBLANK({!$Record.Requested_Contract_Expiration__c})), ISCHANGED({!$Record.Requested_Contract_Expiration__c})  
)</expression>
    </formulas>
    <formulas>
        <name>IDSHORT</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_for_multiple_OPCs.Product_LineNew__c},15)</expression>
    </formulas>
    <formulas>
        <name>OPP017EFxx_Formula</name>
        <dataType>Boolean</dataType>
        <expression>AND(
   $Record.Exclude_from_Notifications__c=FALSE,
   $Record.IsClosed=FALSE,
   $Record.Maintenance_Amount__c &lt; 0,
   $Record.Ant_Can_Sent__c=FALSE,
   $Record.Record_Type_Text__c =&quot;Legal - Cancellation / Recurring Downgrade&quot;, 
   NOT(ISPICKVAL($Record.Type, &quot;Legal - Recurring Adjustment&quot;)),
   NOT(ISPICKVAL($Record.Type, &quot;Legal - CPI / Recurring Increase&quot;)) 
)</expression>
    </formulas>
    <interviewLabel>Opportunity After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Insert Update</label>
    <loops>
        <name>Loop_for_multiple_OPCs</name>
        <label>Loop for multiple OPCs</label>
        <locationX>708</locationX>
        <locationY>4751</locationY>
        <collectionReference>ListofOPCRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Does_PC_Exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Product_Component</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Quote</name>
        <label>Loop over Quote</label>
        <locationX>243</locationX>
        <locationY>1078</locationY>
        <collectionReference>UpdateQuoteRec</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_OSA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Quote_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_PCs</name>
        <label>Create New PCs</label>
        <locationX>1203</locationX>
        <locationY>4775</locationY>
        <assignRecordIdToReference>NewProductCustomer.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_OPCs_with_PCs</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>Loop_for_multiple_OPCs.Recurring_Amount_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSM__c</field>
            <value>
                <elementReference>Loop_for_multiple_OPCs.TCSM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Loop_for_multiple_OPCs.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Lifecycle_Stage_I__c</field>
            <value>
                <stringValue>New Customer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Lifecycle_Stage__c</field>
            <value>
                <stringValue>Project not started yet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_LineNew__c</field>
            <value>
                <elementReference>IDSHORT</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>Loop_for_multiple_OPCs.Product_Line__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Subscription__c</object>
    </recordCreates>
    <recordLookups>
        <name>Does_PC_Exist</name>
        <label>Does PC Exist</label>
        <locationX>947</locationX>
        <locationY>4721</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_PC_exist_for_this_product_line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Line_New_Text__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_for_multiple_OPCs.Product_Line_New_Text__c</elementReference>
            </value>
        </filters>
        <object>Subscription__c</object>
        <outputReference>Existing_Product_Customer</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Product_Customer_Create</name>
        <label>Product Customer - Create</label>
        <locationX>725</locationX>
        <locationY>4441</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LisOPCNOtNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity_Product_Component__c</object>
        <outputReference>ListofOPCRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_LineNew__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Recurring_Amount_Change__c</queriedFields>
        <queriedFields>Product_Line_New_Text__c</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>TCSM__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>UpdateQuoteRec</name>
        <label>UpdateQuoteRec</label>
        <locationX>567</locationX>
        <locationY>845</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuoteRecNullCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Opportunity2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ant_Can</name>
        <label>Update Ant Can</label>
        <locationX>1135</locationX>
        <locationY>4101</locationY>
        <connector>
            <targetReference>Anticipated_Cancellation_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Ant_Can_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Product_Customer</name>
        <label>Update Existing Product Customer</label>
        <locationX>489</locationX>
        <locationY>5196</locationY>
        <inputReference>Existing_Product_Customer</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Product_Component</name>
        <label>Update Opportunity Product Component</label>
        <locationX>492</locationX>
        <locationY>4868</locationY>
        <connector>
            <targetReference>Update_Existing_Product_Customer</targetReference>
        </connector>
        <inputReference>ListofOPCRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OSA_Rec</name>
        <label>Update OSA Rec</label>
        <locationX>436</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Status_Pending_Closure_Software</targetReference>
        </connector>
        <inputAssignments>
            <field>Request_OSA__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Record</name>
        <label>Update Quote Record</label>
        <locationX>733</locationX>
        <locationY>1683</locationY>
        <connector>
            <targetReference>Status_Pending_Closure_Services</targetReference>
        </connector>
        <inputReference>ListOfQuotesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>407</locationX>
        <locationY>538</locationY>
        <connector>
            <targetReference>UpdateQuoteRec</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Create_Champion_Contact_Role</name>
        <label>Create Champion Contact Role</label>
        <locationX>735</locationX>
        <locationY>3770</locationY>
        <connector>
            <targetReference>StageisPendingCloser</targetReference>
        </connector>
        <flowName>Create_Champion_Contact_Role</flowName>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>$Record.Champion_lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactRoleName</name>
            <value>
                <stringValue>Champion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Ecomonic_Buyer_Role</name>
        <label>Create Ecomonic Buyer Role</label>
        <locationX>734</locationX>
        <locationY>3642</locationY>
        <connector>
            <targetReference>Champion_got_populated_Decision</targetReference>
        </connector>
        <flowName>Create_Champion_Contact_Role</flowName>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>$Record.Economic_Buyer_lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactRoleName</name>
            <value>
                <stringValue>Economic Buyer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Existing_Product_Customer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>isRecUpdate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListofOPCRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity_Product_Component__c</objectType>
    </variables>
    <variables>
        <name>ListOfQuotesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>NewProductCustomer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>QuoteToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>RAC_Total</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UpdateOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
