force-app/main/default/flows/OpportunityLineItem_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>OLIRecordUpdate</name>
        <label>OLIRecordUpdate</label>
        <locationX>456</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>OLIRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Product_Revenue_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_recurring_product_false</name>
        <label>Set recurring product false</label>
        <locationX>462</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>OLIRecord.Recurring_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpportuniyLineItem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Recurring_Product_True</name>
        <label>Set Recurring Product True</label>
        <locationX>192</locationX>
        <locationY>587</locationY>
        <assignmentItems>
            <assignToReference>OLIRecord.Recurring_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpportuniyLineItem</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Rule Code: OPPP-002xFxx
Set_Recurring_Product_True
Checks the Recurring Product checkbox when Opportunity Product Revenue Type is set to &quot;recurring&quot;</description>
        <name>Opportunity_Product_Revenue_Type</name>
        <label>Opportunity_Product_Revenue_Type</label>
        <locationX>438</locationX>
        <locationY>504</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Recurring_Product_to_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProductRevenueType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Recurring_Product_True</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set_Recurring_Product to true</label>
        </rules>
        <rules>
            <name>Set_Recurring_product_to_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpportunityProductRevenueType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_recurring_product_false</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Set Recurring product to false</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityLineItem After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateOpportuniyLineItem</name>
        <label>UpdateOpportuniyLineItem</label>
        <locationX>270</locationX>
        <locationY>835</locationY>
        <inputReference>OLIRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>OLIRecordUpdate</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityProductRevenueType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Opportunity_Product_Revenue_Type__c</elementReference>
        </value>
    </variables>
</Flow>
