force-app/main/default/flows/OpportunityLineItem_Before_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Update_Opportunity_Product_Fields</name>
        <label>Update Opportunity Product Fields</label>
        <locationX>602</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>$Record.Net_Amount2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.SBQQ__NetTotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Net_Price_Month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.Net_Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Recurring_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.SBQQ__AdditionalDiscount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Recurring_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReccuringProductFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Segment_Index__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.SBQQ__SegmentIndex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Term_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.SBQQ__EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Term_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.SBQQ__StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Price_Book_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_Line_Item.Total_Price_Book_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.NS_Order_id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Salesforce_Order_Line_Id__r.NetSuite_Line_Id__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>BIZ-49319
opportunity product Net_Price_Month__c should sync with quote line Net_Unit_Price__c - BIZ-49614</description>
    <environments>Default</environments>
    <formulas>
        <name>ReccuringProductFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(
  ISPICKVAL({!Get_Quote_Line_Item.Product_Type__c}, &quot;Software&quot;),
TRUE, 
FALSE)</expression>
    </formulas>
    <interviewLabel>OpportunityLineItem Before Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityLineItem Before Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Quote_Line_Item</name>
        <label>Get Quote Line Item</label>
        <locationX>301</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opportunity_Product_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>161</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Quote_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
