force-app/main/default/flows/Order_Product_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Null</name>
        <label>Check Null</label>
        <locationX>507</locationX>
        <locationY>571</locationY>
        <defaultConnector>
            <targetReference>If_Financial_Book_Is_Blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_OppProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_OppProduct</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Null OppProduct</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Financial_Book_Is_Blank</name>
        <label>If Financial Book Is Blank</label>
        <locationX>508</locationX>
        <locationY>812</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__FinanceBookAccounting__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Financial_Book</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Product After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product After Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Financial_Book</name>
        <label>Get Financial Book</label>
        <locationX>520</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Financial_Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accounting Book</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__FinanceBook__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_OppProduct</name>
        <label>Get Related OppProduct</label>
        <locationX>513</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__QuoteLine__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update OpportunityLineItem</label>
        <locationX>282</locationX>
        <locationY>673</locationY>
        <connector>
            <targetReference>If_Financial_Book_Is_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_OppProduct.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Salesforce_Order_Line_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Financial_Book</name>
        <label>Update Financial Book</label>
        <locationX>318</locationX>
        <locationY>1093</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__FinanceBookAccounting__c</field>
            <value>
                <elementReference>Get_Financial_Book.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordUpdates>
    <start>
        <locationX>386</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Related_OppProduct</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
