force-app/main/default/flows/Order_Product_Before_Insert_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_Order_Item</name>
        <label>Update Order Item</label>
        <locationX>675</locationX>
        <locationY>512</locationY>
        <assignmentItems>
            <assignToReference>$Record.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__EndDate__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Date_Validation</name>
        <label>Date Validation</label>
        <locationX>669</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Start_and_End_Date_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_Item</targetReference>
            </connector>
            <label>Is Start and End Date Blank?</label>
        </rules>
    </decisions>
    <description>To populate Order Product Start and End Date from respective Quote Line</description>
    <environments>Default</environments>
    <interviewLabel>Order Product : Before Insert or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product : Before Insert or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Date_Validation</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
