force-app/main/default/flows/Order_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Created as per BIZ-45643, BIZ-46203
Contract creation and Order lookup updation.</description>
    <environments>Default</environments>
    <interviewLabel>Order : After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order : After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_NS_Order_id</name>
        <label>Update NS Order id</label>
        <locationX>336</locationX>
        <locationY>582</locationY>
        <inputAssignments>
            <field>NS_Order_id__c</field>
            <value>
                <elementReference>$Record.NetSuite_Sales_order_Internal_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.OpportunityLineItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Quote_Lookup</name>
        <label>Update Related Quote Lookup</label>
        <locationX>336</locationX>
        <locationY>394</locationY>
        <connector>
            <targetReference>Update_NS_Order_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_Related_Quote_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
