force-app/main/default/flows/Order_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <description>Created as per BIZ-45643, BIZ-46203
Contract creation and Order lookup updation.
Case Creation as per BIZ-50366</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Order : After Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order : After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_NS_Order_id</name>
        <label>Update NS Order id</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>NS_Order_id__c</field>
            <value>
                <elementReference>$Record.NetSuite_Sales_order_Internal_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__Quote__r.SBQQ__Opportunity2__r.OpportunityLineItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Quote_Lookup</name>
        <label>Update Related Quote Lookup</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_NS_Order_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Related_Quote_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseSubjectforOrderActivation</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Order {!$Record.OrderNumber} ready for Review and Activation.</text>
    </textTemplates>
    <textTemplates>
        <name>CaseSubjectforOrderContracting</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Order {!$Record.OrderNumber} ready for Contracting.</text>
    </textTemplates>
</Flow>
