force-app/main/default/flows/Payment_Before_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_fx_rate</name>
        <label>Assign fx rate</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Exchange_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>USDAmount_Amount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Legal_entity</name>
        <label>Assign Legal entity</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Legal_Entities.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Exchange_Rate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_USD_amount</name>
        <label>Assign USD amount</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.USD_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmountxRate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Exchange_Rate</name>
        <label>Check Exchange Rate</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Exchange_Rate_Populate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exchange_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.USD_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_USD_amount</targetReference>
            </connector>
            <label>If Exchange Rate Populate</label>
        </rules>
        <rules>
            <name>If_USD_Amount_Populate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.blng__Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exchange_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.USD_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_fx_rate</targetReference>
            </connector>
            <label>If USD Amount Populate</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Subsidiary_added</name>
        <label>Check If Subsidiary added</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Exchange_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes_Added</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidiary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_Entities</targetReference>
            </connector>
            <label>If Yes Added</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AmountxRate</name>
        <dataType>Number</dataType>
        <expression>{!$Record.blng__Amount__c}*{!$Record.Exchange_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SubsidaryFormula</name>
        <dataType>String</dataType>
        <expression>IF((LEFT(TEXT({!$Record.Subsidiary__c}), 1) = &quot;0&quot;), 
MID(TEXT({!$Record.Subsidiary__c}), 2, 1), 
LEFT(TEXT({!$Record.Subsidiary__c}), 2))</expression>
    </formulas>
    <formulas>
        <name>USDAmount_Amount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.USD_Amount__c}/{!$Record.blng__Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Payment Before Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Before Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Legal_Entities</name>
        <label>Get Legal Entities</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Legal_entity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubsidaryFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__LegalEntity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Subsidiary_added</targetReference>
        </connector>
        <object>blng__Payment__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
