force-app/main/default/flows/Proforma_Invoice_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssignOrdersCount</name>
        <label>AssignOrdersCount</label>
        <locationX>870</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>OrderCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_orders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IfOrderCreated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IfOrderCreated</name>
        <label>IfOrderCreated</label>
        <locationX>1072</locationX>
        <locationY>426</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderCount0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateQuoteasunordered</targetReference>
            </connector>
            <label>OrderCount0</label>
        </rules>
        <rules>
            <name>Ordercount1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOrders</targetReference>
            </connector>
            <label>Ordercount1</label>
        </rules>
    </decisions>
    <description>Scheduled flow to activate Order and generate Invoices for Renewal Letters 30 days before Contract End Date. Updated Status value in condition</description>
    <environments>Default</environments>
    <interviewLabel>Proforma Invoice - Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Proforma Invoice - Scheduled</label>
    <loops>
        <name>LoopOrders</name>
        <label>LoopOrders</label>
        <locationX>678</locationX>
        <locationY>561</locationY>
        <collectionReference>Get_orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Order_as_Activated</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_orders</name>
        <label>Get orders</label>
        <locationX>866</locationX>
        <locationY>417</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignOrdersCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_as_Closed_won</name>
        <label>Update Opp as Closed won</label>
        <locationX>669</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Get_orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Quote__r.SBQQ__Opportunity2__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_as_Activated</name>
        <label>Update Order as Activated</label>
        <locationX>678</locationX>
        <locationY>684</locationY>
        <connector>
            <targetReference>Update_renewal_as_order_activated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOrders.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Proforma_Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_quote_status_as_Contracted</name>
        <label>Update quote status as Contracted</label>
        <locationX>669</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>Update_Opp_as_Closed_won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Quote__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_Stage__c</field>
            <value>
                <stringValue>Contract Executed</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_renewal_as_order_activated</name>
        <label>Update renewal as order activated</label>
        <locationX>862</locationX>
        <locationY>680</locationY>
        <inputAssignments>
            <field>Order_Activated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuoteasOrdered_0</name>
        <label>UpdateQuoteAsOrdered</label>
        <locationX>1185</locationX>
        <locationY>319</locationY>
        <connector>
            <targetReference>Get_orders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuoteasunordered</name>
        <label>UpdateQuoteAsUnordered</label>
        <locationX>1080</locationX>
        <locationY>596</locationY>
        <connector>
            <targetReference>UpdateQuoteasOrdered_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Ordered__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_quote_status_as_Contracted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Days_remaining_for_Renewal__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </filters>
        <object>Proforma_Invoice__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-08-18</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
