force-app/main/default/flows/Quote_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Quote_Currency</name>
        <label>Assign Quote Currency</label>
        <locationX>577</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>oppcurrencycode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Quote_is_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_renewal_quote_values_from_orginal</name>
        <label>Assign renewal quote values from orginal</label>
        <locationX>232</locationX>
        <locationY>724</locationY>
        <assignmentItems>
            <assignToReference>BillingFreqfromOrgQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentTermsfromOrgQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Order__r.SBQQ__PaymentTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MasterContractTermsfromOrgQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Contract_Master_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoicingContactFromOrgQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Invoicing_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SoftwareDeliveryContactfromOrgQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Software_Delivery_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Proforma_Invoice_record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Currency</name>
        <label>Update Account Currency</label>
        <locationX>313</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>oppcurrencycode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Quote_is_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp_currency</name>
        <label>Update Opp currency</label>
        <locationX>840</locationX>
        <locationY>464</locationY>
        <assignmentItems>
            <assignToReference>oppcurrencycode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Quote_is_Renewal</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Quote_is_Renewal</name>
        <label>Check if Quote is Renewal</label>
        <locationX>594</locationX>
        <locationY>620</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_renewal_quote_values_from_orginal</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Account_currency</name>
        <label>If Account currency</label>
        <locationX>577</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_currency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Currency</targetReference>
            </connector>
            <label>Check Account currency</label>
        </rules>
        <rules>
            <name>Quote_Currency_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Currency</targetReference>
            </connector>
            <label>Quote Currency is  present</label>
        </rules>
    </decisions>
    <description>Added proforma invoice creation for renewal quote</description>
    <environments>Default</environments>
    <formulas>
        <description>BIZ-46254</description>
        <name>SetQuoteExpirationDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <interviewLabel>Quote - After Create Formula {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Proforma_Invoice_record</name>
        <label>Create Proforma Invoice record</label>
        <locationX>225</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Update_Renewal_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>Renewal_Quote__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Start_Date__c</field>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Proforma_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Quote_Line_s_Proforma_Invoice</name>
        <label>Update Quote Line&apos;s Proforma Invoice</label>
        <locationX>434</locationX>
        <locationY>867</locationY>
        <connector>
            <targetReference>Update_Quote_Name</targetReference>
        </connector>
        <inputAssignments>
            <field>Proforma_Invoice_Renewal_Quote__c</field>
            <value>
                <elementReference>Create_Proforma_Invoice_record</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SBQQ__LineItems__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Name</name>
        <label>Update Quote Name</label>
        <locationX>601</locationX>
        <locationY>861</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>oppcurrencycode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExpirationDate__c</field>
            <value>
                <elementReference>SetQuoteExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Quote</name>
        <label>Update Renewal Quote</label>
        <locationX>333</locationX>
        <locationY>867</locationY>
        <connector>
            <targetReference>Update_Quote_Line_s_Proforma_Invoice</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_Master_Terms__c</field>
            <value>
                <elementReference>MasterContractTermsfromOrgQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Contact__c</field>
            <value>
                <elementReference>InvoicingContactFromOrgQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>BillingFreqfromOrgQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OriginalQuote__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaymentTerms__c</field>
            <value>
                <elementReference>PaymentTermsfromOrgQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Delivery_Contact__c</field>
            <value>
                <elementReference>SoftwareDeliveryContactfromOrgQuote</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>451</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>If_Account_currency</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BillingFreqfromOrgQuote</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoicingContactFromOrgQuote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MasterContractTermsfromOrgQuote</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oppcurrencycode</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PaymentTermsfromOrgQuote</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SoftwareDeliveryContactfromOrgQuote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
