force-app/main/default/flows/Quote_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Proforma_to_QL</name>
        <label>Assign Proforma to  QL</label>
        <locationX>1296</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineUpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Update_Performa.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdateRecord.Proforma_Invoice_Renewal_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Proforma_Invoice_record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineUpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_To_Update_Performa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Currency</name>
        <label>Assign Quote Currency</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>oppcurrencycode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignOSAValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignOSAValue</name>
        <label>assignOSAValue</label>
        <locationX>710</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>osaAutoNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OP4I_Contract_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkQuoteType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Currency</name>
        <label>Update Account Currency</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>oppcurrencycode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Account__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignOSAValue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opp_currency</name>
        <label>Update Opp currency</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>oppcurrencycode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignOSAValue</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_quote_if_quote_is_Auto_renewal</name>
        <label>Check quote if quote is Auto renewal</label>
        <locationX>1214</locationX>
        <locationY>296</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Autorenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto-Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Autorenewal_Quote</targetReference>
            </connector>
            <label>If Autorenewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkQuoteType</name>
        <label>checkQuoteType</label>
        <locationX>710</locationX>
        <locationY>995</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewSales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuote</targetReference>
            </connector>
            <label>.NewSales</label>
        </rules>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuoteAmendment</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkRenewalQuoteType</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkRenewalQuoteType</name>
        <label>checkRenewalQuoteType</label>
        <locationX>931</locationX>
        <locationY>1137</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AutoRenewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto-Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuoteRenewal1</targetReference>
            </connector>
            <label>AutoRenewal</label>
        </rules>
        <rules>
            <name>RenewalChanges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal-Changes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuoteRenewal2</targetReference>
            </connector>
            <label>RenewalChanges</label>
        </rules>
        <rules>
            <name>Consolidated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consolidated-Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateQuoteRenewal3</targetReference>
            </connector>
            <label>Consolidated</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Account_currency</name>
        <label>If Account currency</label>
        <locationX>710</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_currency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Account_currency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Currency</targetReference>
            </connector>
            <label>Check Account currency</label>
        </rules>
        <rules>
            <name>Quote_Currency_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Currency</targetReference>
            </connector>
            <label>Quote Currency is  present</label>
        </rules>
    </decisions>
    <description>This will calculate OSA Number reference on Quote. Created as part of BIZ-47720,BIZ-50998
Merged the flows to follow the standards. 
Updated flow to create renewal letters for only Autorenewals.BIZ-48829
Added logic to create a Deal Velocity case - BIZ-47666
Update Contract Months and First Segment months-BIZ-49068
Update Subsidiary for Renewal Quote BIZ-49267
Added scheduled path to calculate tax &amp; create Renewal letter
Set Op4iDealId on Renewal Quote.BIZ-50017- Data Model Changes to OSA.
BIZ-49393, 
OP4i Sales Segment Mapping for Renewal and Amenede Quotes BIZ-49780</description>
    <environments>Default</environments>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} +&apos; &apos;+  &apos;Deal Velocity&apos;</expression>
    </formulas>
    <interviewLabel>Quote: After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote: After Insert</label>
    <loops>
        <name>Loop_To_Update_Performa</name>
        <label>Loop To Update Performa</label>
        <locationX>1494</locationX>
        <locationY>704</locationY>
        <collectionReference>Get_QuoteLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Proforma_to_QL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_QL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Deal_Velocity_Case</name>
        <label>Create Deal Velocity Case</label>
        <locationX>711</locationX>
        <locationY>474</locationY>
        <connector>
            <targetReference>If_Account_currency</targetReference>
        </connector>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>varDealVelocityRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>$Record.Quote_Stage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Proforma_Invoice_record</name>
        <label>Create Proforma Invoice record</label>
        <locationX>1468</locationX>
        <locationY>457</locationY>
        <connector>
            <targetReference>Get_QuoteLines</targetReference>
        </connector>
        <inputAssignments>
            <field>Renewal_Quote__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Start_Date__c</field>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>Proforma_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_QuoteLines</name>
        <label>Get QuoteLines</label>
        <locationX>1493</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_To_Update_Performa</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getDealVelocityRecordType</name>
        <label>getDealVelocityRecordType</label>
        <locationX>712</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Deal_Velocity_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal_Velocity</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varDealVelocityRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Autorenewal_Quote</name>
        <label>Update Autorenewal Quote</label>
        <locationX>1226</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>Create_Proforma_Invoice_record</targetReference>
        </connector>
        <inputAssignments>
            <field>AVA_SFCPQ__Quote_AutomateTaxCalculation__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_QL</name>
        <label>Update QL</label>
        <locationX>1660</locationX>
        <locationY>686</locationY>
        <inputReference>QuoteLineUpdateList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuote</name>
        <label>updateQuote</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>OSA_Number__c</field>
            <value>
                <elementReference>osaAutoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuoteAmendment</name>
        <label>updateQuoteAmendment</label>
        <locationX>435</locationX>
        <locationY>1294</locationY>
        <connector>
            <targetReference>updateRelatedOpty_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OP4I_Sales_Segment__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.SBQQ__Quote__r.OP4I_Sales_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSA_Number__c</field>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.OSA_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_OSA_Number__c</field>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.SBQQ__Quote__r.OSA_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuoteRenewal1</name>
        <label>updateQuoteRenewal</label>
        <locationX>577</locationX>
        <locationY>1209</locationY>
        <inputAssignments>
            <field>Contract_Master_Terms__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Contract_Master_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Segment_Months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Free_Months__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Invoicing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4IDealID__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.OP4I_Deal_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4I_Sales_Segment__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.OP4I_Sales_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSA_Number__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.OSA_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OriginalQuote__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaymentTerms__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Order__r.SBQQ__PaymentTerm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Delivery_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Software_Delivery_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <elementReference>$Record.SBQQ__OriginalQuote__r.Subsidiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuoteRenewal2</name>
        <label>updateQuoteRenewal</label>
        <locationX>819</locationX>
        <locationY>1320</locationY>
        <inputAssignments>
            <field>Contract_Master_Terms__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Contract_Master_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Segment_Months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Free_Months__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Invoicing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4IDealID__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.OP4I_Deal_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4I_Sales_Segment__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.OP4I_Sales_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSA_Number__c</field>
            <value>
                <elementReference>osaAutoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_OSA_Number__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.OSA_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OriginalQuote__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaymentTerms__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Order__r.SBQQ__PaymentTerm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Delivery_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Software_Delivery_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <elementReference>$Record.SBQQ__OriginalQuote__r.Subsidiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateQuoteRenewal3</name>
        <label>updateQuoteRenewal</label>
        <locationX>1142</locationX>
        <locationY>1139</locationY>
        <inputAssignments>
            <field>Contract_Master_Terms__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Contract_Master_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Segment_Months__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Free_Months__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Invoicing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4IDealID__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.OP4I_Deal_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OP4I_Sales_Segment__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.OP4I_Sales_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OSA_Number__c</field>
            <value>
                <elementReference>osaAutoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OriginalQuote__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PaymentTerms__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Order__r.SBQQ__PaymentTerm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__SubscriptionTerm__c</field>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Delivery_Contact__c</field>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__r.Software_Delivery_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <elementReference>$Record.SBQQ__OriginalQuote__r.Subsidiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateRelatedOpty_0</name>
        <label>updateRelatedOpty</label>
        <locationX>576</locationX>
        <locationY>1386</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Associated_Contract_OSA__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Associated_Contract_OSA__c</field>
            <value>
                <elementReference>$Record.Contract__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getDealVelocityRecordType</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>After_1_min</name>
            <connector>
                <targetReference>Check_quote_if_quote_is_Auto_renewal</targetReference>
            </connector>
            <label>After 1 min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>40</triggerOrder>
    <variables>
        <name>oppcurrencycode</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>osaAutoNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuoteLineUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineUpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>varDealVelocityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
