force-app/main/default/flows/Quote_Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Assign_MSSA_And_SOW</name>
        <label>Assign MSSA</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>MSSAValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MSSA_Document_Attached</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_quote_record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Developed as apart of BIZ-48204</description>
        <name>Check_for_Quote_Stage</name>
        <label>Check for Quote Stage</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_for_stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing Proposal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pricing_and_Proposal</targetReference>
            </connector>
            <label>Check for stage Pricing Proposal</label>
        </rules>
        <rules>
            <name>Check_for_stage_OSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalize OSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OSA_Required_Field</targetReference>
            </connector>
            <label>Check for stage OSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_MSSA_And_SOW</name>
        <label>Check MSSA And SOW</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Null_Check_MSSA_and_SOW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSSA_or_SOW_not_checked</name>
            <conditionLogic>((1 OR 2) AND 9) OR ((3 OR 4 OR 5 OR 6 OR 7 OR 8) AND (10))</conditionLogic>
            <conditions>
                <leftValueReference>Contract_Master_Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New MSSA Signed Separate</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Contract_Master_Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSSA Attached</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Milestone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Trial</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>T&amp;M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Service_Payment_Term</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blended FF_T&amp;M</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MSSA_Document_Attached</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.SOW_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>PSOps Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validation_SCreen</targetReference>
            </connector>
            <label>MSSA or SOW not checked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check_MSSA_and_SOW</name>
        <label>Null Check MSSA and SOW</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Update_quote_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MSSA_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MSSA_Document_Attached</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_MSSA_And_SOW</targetReference>
            </connector>
            <label>MSSA Is Not Null</label>
        </rules>
    </decisions>
    <description>BIZ-48107 Automate governance and approval related requirements
Updated Add validation for MSSA and SOW checkbox as part of BIZ-48776.
Line of business added as per BIZ-49662.
Modified error message as part of BIZ-50735
Modified Component visibility as part of BIZ-51471
Modified to remove SOW Document Attatched field reference as per BIZ-50639</description>
    <dynamicChoiceSets>
        <name>Contractmasterterm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Master_Terms__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LineofBusiness</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Line_of_Business__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Servicepaymentterm1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Services_Terms__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Software</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__BillingFrequency__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>softwarepaymentterm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Software_Payment_Terms__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>MSSAFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF({!MSSA_Document_Attached}!=null,{!MSSA_Document_Attached},False)</expression>
    </formulas>
    <interviewLabel>Quote - Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Submit for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_quote_record</name>
        <label>Update quote record</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <connector>
            <targetReference>Greenboxscreenflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finalize OSA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>BilltoAccount1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Address__c</field>
            <value>
                <elementReference>BilltoAddress1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Master_Terms__c</field>
            <value>
                <elementReference>Contract_Master_Label</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoicing_Contact__c</field>
            <value>
                <elementReference>InvoicingContactc.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MSSA_Document_Attached__c</field>
            <value>
                <elementReference>MSSAValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>Software_Billing_frequency_1st_year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExpirationDate__c</field>
            <value>
                <elementReference>Expires_On</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Terms__c</field>
            <value>
                <elementReference>Service_Payment_Term</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Account__c</field>
            <value>
                <elementReference>ShiptoAccount1.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Address__c</field>
            <value>
                <elementReference>ShiptoAddress.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Delivery_Contact__c</field>
            <value>
                <elementReference>InvoicingContactc.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Payment_Terms__c</field>
            <value>
                <elementReference>Software_Days_Payment_Due_Net_x_1st_Yr</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_quote_record_price_stage</name>
        <label>Update quote record price stage</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bill_To_Account__c</field>
            <value>
                <elementReference>BilltoAccount1_pp.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_To_Address__c</field>
            <value>
                <elementReference>BilltoAddress1_pp.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Master_Terms__c</field>
            <value>
                <elementReference>Contract_Master_Label_pp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Segment_Months__c</field>
            <value>
                <elementReference>First_Segment_Month_pp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_of_Business__c</field>
            <value>
                <elementReference>Line_of_Business</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>Software_Billing_frequency_1st_year_pp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExpirationDate__c</field>
            <value>
                <elementReference>Expires_On_pp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>Start_Date_pp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Account__c</field>
            <value>
                <elementReference>ShiptoAccount1_pp.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_To_Address__c</field>
            <value>
                <elementReference>ShiptoAddress_pp.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Payment_Terms__c</field>
            <value>
                <elementReference>Software_Days_Payment_Due_Net_x_1st_Yr_pp</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Greenboxscreenflow</name>
        <label>Greenboxscreenflow</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Greenboxcomponenet</name>
            <extensionName>c:greenBoxDisplay</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit For Approval</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OSA_Required_Field</name>
        <label>OSA Required Field</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_MSSA_And_SOW</targetReference>
        </connector>
        <fields>
            <name>OSA_Required_Field_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OSA_Required_Field_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Master_Label</name>
                    <choiceReferences>Contractmasterterm</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Contract_Master_Terms__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract Master Term</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Software_Days_Payment_Due_Net_x_1st_Yr</name>
                    <choiceReferences>softwarepaymentterm</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Software_Payment_Terms__c</elementReference>
                    </defaultValue>
                    <fieldText>Software Days Payment Due (Net x,1st Yr)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Expires_On</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.SBQQ__ExpirationDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Expires On</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>BilltoAccount1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Bill_To_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>Billtoaccount</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Bill_To_Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BilltoAddress1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Bill_To_Address__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>BilltoAddress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Bill_To_Address__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>InvoicingContactc</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Invoicing_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Invoicing Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Invoicing_Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MSSA_Document_Attached</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>MSSAValue</elementReference>
                    </defaultValue>
                    <fieldText>MSSA Document Attached</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Contract_Master_Label</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MSSA Attached</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Contract_Master_Label</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>New MSSA Signed Separate</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OSA_Required_Field_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Software_Billing_frequency_1st_year</name>
                    <choiceReferences>Software</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.SBQQ__BillingFrequency__c</elementReference>
                    </defaultValue>
                    <fieldText>Software Billing frequency (1st year)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Start_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.SBQQ__StartDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Service_Payment_Term</name>
                    <choiceReferences>Servicepaymentterm1</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Services_Terms__c</elementReference>
                    </defaultValue>
                    <fieldText>Service Payment Term</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ShiptoAccount1</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Ship_To_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>ship</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Ship_To_Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ShiptoAddress</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Ship_To_Address__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>ShipToAddressc</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Ship_To_Address__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SoftwareDeliveryContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Software_Delivery_Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Software Delivery Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Software_Delivery_Contact__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SOW_Document_Attached</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>SOWValue1</elementReference>
                    </defaultValue>
                    <fieldText>SOW Document Attached</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId.Services_Net_Total__c</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Service_Payment_Term</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Milestone</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Service_Payment_Term</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Trial</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Service_Payment_Term</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>FF</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Service_Payment_Term</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Service_Payment_Term</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>T&amp;M</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Service_Payment_Term</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Blended FF_T&amp;M</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SOW_Status</name>
                    <fieldText>&lt;p&gt;SOW Status : {!recordId.SOW_Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>recordId.SOW_Status__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pricing_and_Proposal</name>
        <label>Pricing and Proposal</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_quote_record_price_stage</targetReference>
        </connector>
        <fields>
            <name>Pricing_and_Proposal_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pricing_and_Proposal_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Line_of_Business</name>
                    <choiceReferences>LineofBusiness</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Line_of_Business__c</elementReference>
                    </defaultValue>
                    <fieldText>Line of Business</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contract_Master_Label_pp</name>
                    <choiceReferences>Contractmasterterm</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Contract_Master_Terms__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract Master Terms</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Software_Days_Payment_Due_Net_x_1st_Yr_pp</name>
                    <choiceReferences>softwarepaymentterm</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Software_Payment_Terms__c</elementReference>
                    </defaultValue>
                    <fieldText>Software Days Payment Due (Net x,1st Yr)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Expires_On_pp</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.SBQQ__ExpirationDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Expires On</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>BilltoAccount1_pp</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Bill_To_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>Billtoaccount</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Bill_To_Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BilltoAddress1_pp</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Bill_To_Address__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>BilltoAddress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Bill_To_Address__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pricing_and_Proposal_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Software_Billing_frequency_1st_year_pp</name>
                    <choiceReferences>Software</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.SBQQ__BillingFrequency__c</elementReference>
                    </defaultValue>
                    <fieldText>Software Billing frequency (1st year)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Start_Date_pp</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>recordId.SBQQ__StartDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>First_Segment_Month_pp</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>recordId.First_Segment_Months__c</elementReference>
                    </defaultValue>
                    <fieldText>First Segment Month</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>ShiptoAccount1_pp</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Ship_To_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>ship</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Ship_To_Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ShiptoAddress_pp</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Ship_To_Address__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>ShipToAddressc</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>SBQQ__Quote__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId.Ship_To_Address__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_SCreen</name>
        <label>Validation SCreen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Null_Check_MSSA_and_SOW</targetReference>
        </connector>
        <fields>
            <name>ErrorScreen</name>
            <fieldText>&lt;p&gt;Please acknowledge that the &lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;MSSA Document has been attached.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>MSSA_Document_Attached</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SOW_Document_Attached1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif;&quot;&gt;The SOW Status field should be equal to PSOPs Approved prior to Approval Submission. Please request Services Ops to approve the SOW in OP4I/ OpenAir&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.SOW_Status__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>PSOps Approved</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Quote_Stage</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Billtoaccount</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bill To Account</text>
    </textTemplates>
    <textTemplates>
        <name>BilltoAddress</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bill to Address</text>
    </textTemplates>
    <textTemplates>
        <name>BillToAddressc</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bill to Address</text>
    </textTemplates>
    <textTemplates>
        <name>Invoicingcontact</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Invoicing Contact</text>
    </textTemplates>
    <textTemplates>
        <name>ship</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ship To Account</text>
    </textTemplates>
    <textTemplates>
        <name>ShipToAddressc</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ship to Address</text>
    </textTemplates>
    <textTemplates>
        <name>SoftwareDeliveryContactc1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Software Delivery Contact</text>
    </textTemplates>
    <variables>
        <name>MSSAValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.MSSA_Document_Attached__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>SOWValue1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId.SOW_Document_Attached__c</elementReference>
        </value>
    </variables>
</Flow>
