force-app/main/default/flows/Quote_Line_Before_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignmentOfNetTotal</name>
        <label>assignmentOfNetTotal</label>
        <locationX>490</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>varNetTotalAdj</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopAllLineItems.SBQQ__NetTotal__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopAllLineItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Renewal</name>
        <label>Check If Renewal</label>
        <locationX>358</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__RenewedSubscription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Delete_Renewal_Lines</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Net</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Net_Total_Adj_Bundle__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllLineItemLst</targetReference>
            </connector>
            <label>Net Total Adj Bundle &gt; 0</label>
        </rules>
    </decisions>
    <description>created as part of BIZ-49068. To prevent deletion of Renewal Lines with Renewed Subscription.
Modified to calculate TCV Adj on Quote</description>
    <environments>Default</environments>
    <interviewLabel>Quote Line Before Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line Before Delete</label>
    <loops>
        <name>loopAllLineItems</name>
        <label>loopAllLineItems</label>
        <locationX>402</locationX>
        <locationY>503</locationY>
        <collectionReference>getAllLineItemLst</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignmentOfNetTotal</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Parent_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAllLineItemLst</name>
        <label>getAllLineItemLst</label>
        <locationX>402</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopAllLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Parent_Quote</name>
        <label>Update Parent Quote</label>
        <locationX>402</locationX>
        <locationY>803</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TCV_Adj__c</field>
            <value>
                <elementReference>varNetTotalAdj</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_Renewal</targetReference>
        </connector>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varNetTotalAdj</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
