force-app/main/default/flows/Quote_After_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approval_OSA_email</name>
        <label>Approval OSA email</label>
        <locationX>336</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AssignQuoteID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>receipentemailaddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Quote has been Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ApproveTemplateOSA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.SubmittedUser__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Approval_Pricing_and_proposal_email</name>
        <label>Approval Pricing and proposal email</label>
        <locationX>72</locationX>
        <locationY>384</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>AssignQuoteID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>receipentemailaddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Quote has been Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Approvaltemplatepricing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.SubmittedUser__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_47_A1</name>
        <label>New MSSA Required Notification</label>
        <locationX>204</locationX>
        <locationY>7752</locationY>
        <actionName>SBQQ__Quote__c.New_MSSA_Required_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>X090_Condtn</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.New_MSSA_Required_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_50_A2</name>
        <label>Request OSA Email</label>
        <locationX>204</locationX>
        <locationY>8568</locationY>
        <actionName>SBQQ__Quote__c.Send_notification_to_requester</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_55</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.Send_notification_to_requester</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_55_A2</name>
        <label>Request OSA Email</label>
        <locationX>204</locationX>
        <locationY>8976</locationY>
        <actionName>SBQQ__Quote__c.Send_notification_to_requester_pb</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_60</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.Send_notification_to_requester_pb</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_60_A2</name>
        <label>Send OSA Email</label>
        <locationX>204</locationX>
        <locationY>9384</locationY>
        <actionName>SBQQ__Quote__c.Send_notification_to_requester_pb</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>StatusIsChanged</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.Send_notification_to_requester_pb</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>myRule_65_A2</name>
        <label>Request OSA Email</label>
        <locationX>204</locationX>
        <locationY>10092</locationY>
        <actionName>SBQQ__Quote__c.Send_notification_to_requester_pb</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_70</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.Send_notification_to_requester_pb</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SBQQ_Quote_c_notify_requester_that_quote_needs_review</name>
        <label>SBQQ__Quote__c.notify_requester_that_quote_needs_review</label>
        <locationX>204</locationX>
        <locationY>9684</locationY>
        <actionName>SBQQ__Quote__c.notify_requester_that_quote_needs_review</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>myRule_65</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.notify_requester_that_quote_needs_review</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailtoContractOps</name>
        <label>SendEmailtoContractOps</label>
        <locationX>204</locationX>
        <locationY>8052</locationY>
        <actionName>SBQQ__Quote__c.Send_email_to_Contracts_Operations_and_LegalOps_ONLY_Rita_Rodriguez_Vera_Friss_L</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UpdateQuoteBoolean</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SBQQ__Quote__c.Send_email_to_Contracts_Operations_and_LegalOps_ONLY_Rita_Rodriguez_Vera_Friss_L</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Opportunity_Async</name>
        <label>Update Opportunity Async</label>
        <locationX>204</locationX>
        <locationY>11700</locationY>
        <actionName>ClsAsyncOpportunityUpdate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AccountNotNull</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>lstOpportunity</name>
            <value>
                <elementReference>lstUpdateOpportunity</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClsAsyncOpportunityUpdate</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Update_Opportunity_to_List</name>
        <label>Add Update Opportunity to List</label>
        <locationX>204</locationX>
        <locationY>11592</locationY>
        <assignmentItems>
            <assignToReference>lstUpdateOpportunity</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpdateOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Async</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_approver_records_to_quote</name>
        <label>Assign approver records to quote</label>
        <locationX>204</locationX>
        <locationY>12300</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Segment_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.Sales_Segment_Lead_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Services_Segment_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.Services_Segment_Lead_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Industry_Sales_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.Industry_Sales_Lead_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.SVP_Finance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.SVP_Finance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.COO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.COO_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.CRO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.CRO_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Industry_President__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.Industry_President_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.SVP_Services__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.SVP_Services_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Services_Segment_Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.Services_Segment_Lead_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.CPO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Approver_Matrix.CPO_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_status_of_quote_is_pricing_and_proposal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Original_Quote</name>
        <label>Assign Original Quote</label>
        <locationX>72</locationX>
        <locationY>13308</locationY>
        <assignmentItems>
            <assignToReference>OriginalQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Original_Quote_For_Amendment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Approval_Threshold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quarterly_Y1_for_year_1</name>
        <label>Assign Quarterly Y1 for year 1</label>
        <locationX>556</locationX>
        <locationY>14724</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionQL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quarterly</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quarterly_Y1_only_other_year</name>
        <label>Assign Quarterly Y1 only other year</label>
        <locationX>820</locationX>
        <locationY>14724</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionQL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Semiannual_Y1_for_year_1</name>
        <label>Assign Semiannual Y1 for year 1</label>
        <locationX>1084</locationX>
        <locationY>14724</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionQL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Semiannual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Semiannual_Y1_only_other_year</name>
        <label>Assign Semiannual Y1 only other year</label>
        <locationX>1348</locationX>
        <locationY>14724</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionQL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_STD_Billing_Freq</name>
        <label>Assign STD Billing Freq</label>
        <locationX>292</locationX>
        <locationY>14724</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionQL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountRecIDs</name>
        <label>AssignAccountRecIDs</label>
        <locationX>204</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>UpdateBillingAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContrRecIDs</name>
        <label>AssignContrRecIDs</label>
        <locationX>204</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordOppLookupIsNotNull_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOppRecIDs</name>
        <label>AssignOppRecIDs</label>
        <locationX>204</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordAccLookupIsNotNull_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQuoteID</name>
        <label>AssignQuoteID</label>
        <locationX>336</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordContrLookupIsNotNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Original_Quote</name>
        <label>Assign Original Quote</label>
        <locationX>336</locationX>
        <locationY>13308</locationY>
        <assignmentItems>
            <assignToReference>OriginalQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Get_Original_Quote_For_Amendment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Approval_Threshold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Quote</name>
        <label>Update Quote</label>
        <locationX>446</locationX>
        <locationY>13716</locationY>
        <assignmentItems>
            <assignToReference>UpdQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Amend_Appl_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.ApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Required</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Rec_Is_Not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initial_Term_End_Date</name>
        <label>Initial Term End Date</label>
        <locationX>204</locationX>
        <locationY>5652</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Initial_Term_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_1_myRule_25_A1_8144032200</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_31</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Net_Amount_on_Opp</name>
        <label>Net Amount on Opp</label>
        <locationX>204</locationX>
        <locationY>7452</locationY>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__NetAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_47</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_cancelable_Multiyear_Agreements</name>
        <label>Non-cancelable Multiyear Agreements</label>
        <locationX>204</locationX>
        <locationY>5952</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Non_cancelable_Multiyear_Agreements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2 year</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_33</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_cancelable_Multiyear_Agreements1</name>
        <label>Non-cancelable Multiyear Agreements1</label>
        <locationX>204</locationX>
        <locationY>6252</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Non_cancelable_Multiyear_Agreements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3 year</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_35</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_cancelable_Multiyear_Agreementsupd</name>
        <label>Non-cancelable Multiyear Agreementsupt</label>
        <locationX>204</locationX>
        <locationY>6552</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Non_cancelable_Multiyear_Agreements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4 year</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_37</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_cancelable_Multiyear_Agreementsupd1</name>
        <label>Non-cancelable Multiyear Agreementsupd1</label>
        <locationX>204</locationX>
        <locationY>6852</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Non_cancelable_Multiyear_Agreements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5 year</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_39</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_cancelable_Multiyear_Agreementsupd3</name>
        <label>Non-cancelable Multiyear Agreementsupd3</label>
        <locationX>204</locationX>
        <locationY>7152</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Non_cancelable_Multiyear_Agreements__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&gt;5 year</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_43</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Non_Standard_Cloud_Location_this_deal</name>
        <label>Non-Standard Cloud Location - this deal</label>
        <locationX>50</locationX>
        <locationY>4284</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Non_Standard_Cloud_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Non_Standard_Cloud_Location_this_deal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_13</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Payment_Terms_Software</name>
        <label>Payment Terms: Software</label>
        <locationX>204</locationX>
        <locationY>2592</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Payment_Terms_Software__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Software_Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOB_Master_Contract_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Retainer</name>
        <label>Retainer %</label>
        <locationX>204</locationX>
        <locationY>1692</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Retainer_percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Retainer_percentage_editable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Primary_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ROR</name>
        <label>ROR</label>
        <locationX>50</locationX>
        <locationY>5268</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.ROR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ROR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_25</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ROR_Expiration_Date</name>
        <label>ROR Expiration Date</label>
        <locationX>50</locationX>
        <locationY>4776</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.ROR_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ROR_Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_15</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Services_Payment_Terms</name>
        <label>Services Payment Terms</label>
        <locationX>204</locationX>
        <locationY>2292</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Services_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SFA_Cap_after_Initial_Term</name>
        <label>SFA Cap after Initial Term</label>
        <locationX>50</locationX>
        <locationY>3300</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.CPI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SFA_Cap_after_Initial_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Software_Billing_Frequency_1st_Year</name>
        <label>Software Billing Frequency (1st Year)</label>
        <locationX>50</locationX>
        <locationY>3792</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Software_Billing_Frequency_1st_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_11</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Software_Delivery_Contact</name>
        <label>Software Delivery Contact</label>
        <locationX>204</locationX>
        <locationY>10692</locationY>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Client_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Software_Delivery_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_74</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Request_OSA</name>
        <label>Uncheck Request OSA</label>
        <locationX>204</locationX>
        <locationY>8460</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Request_OSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.OSA_requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_6_myRule_55_A3_3120327323</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.OSA_Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_7_myRule_60_A4_9395249152</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_50_A2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Request_OSA_0</name>
        <label>Uncheck Request OSA</label>
        <locationX>204</locationX>
        <locationY>8868</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Request_OSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.OSA_requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_6_myRule_55_A3_3120327323</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.OSA_Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_7_myRule_60_A4_9395249152</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_55_A2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Request_OSA_0_0</name>
        <label>Uncheck Request OSA</label>
        <locationX>204</locationX>
        <locationY>9276</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Request_OSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.OSA_requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_6_myRule_55_A3_3120327323</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.OSA_Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_7_myRule_60_A4_9395249152</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_60_A2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Uncheck_Request_OSA_0_0_0</name>
        <label>Uncheck Request OSA</label>
        <locationX>204</locationX>
        <locationY>9984</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Request_OSA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.OSA_requestor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_6_myRule_55_A3_3120327323</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.OSA_Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_7_myRule_60_A4_9395249152</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_65_A2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_approver_name_and_Level</name>
        <label>Update approver name and Level</label>
        <locationX>204</locationX>
        <locationY>12900</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Approval_Level_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Highestapproverfieldname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Approval_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Approval_check_approval_level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Implementationdiscountlevel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_ImplementationDiscountLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Service_Only_level_no__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceonlyformulalevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Hierarchy_level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Highest_Approver_level__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Quote_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Master_Contract_LOB_and</name>
        <label>Update Master Contract LOB and OP4I Owner</label>
        <locationX>204</locationX>
        <locationY>2892</locationY>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.Applicable_Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Line_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateAssociatedContr.OP4I_Deal_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OP4I_Deal_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>204</locationX>
        <locationY>1992</locationY>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Deal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Deal_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.First_Segment_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Segment_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Free_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Free_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__PaymentTerms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Quote_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Software_Billing_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Total_Contract_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__SubscriptionTerm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdOpp</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateOpportunity.Services_Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Services_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>182</locationX>
        <locationY>13716</locationY>
        <assignmentItems>
            <assignToReference>UpdQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Amend_Appl_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.ApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Submission</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Rec_Is_Not_Null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_Line</name>
        <label>Update Quote Line</label>
        <locationX>952</locationX>
        <locationY>14916</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collectionQL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_pricing_proposal_status</name>
        <label>Update Quote pricing proposal status</label>
        <locationX>204</locationX>
        <locationY>12600</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Pricing_Proposal_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricingproposalfieldupdateformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdQuote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Approval_field_changes_to_update_approval_level</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateQuoteBoolean</name>
        <label>UpdateQuoteBoolean</label>
        <locationX>204</locationX>
        <locationY>8160</locationY>
        <assignmentItems>
            <assignToReference>UpdateQuoteRecord.Annex_email_sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_50</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AccountNotNull</name>
        <label>AccountNotNull</label>
        <locationX>336</locationX>
        <locationY>11892</locationY>
        <defaultConnector>
            <targetReference>Sales_Segment_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_Segment_Update</targetReference>
            </connector>
            <label>AccNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approval_field_changes_to_update_approval_level</name>
        <label>Approval field changes to update approval level</label>
        <locationX>336</locationX>
        <locationY>12792</locationY>
        <defaultConnector>
            <targetReference>Check_Quote_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_fields_are_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initial_Term_Discount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Free_months_at_no_cost__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Software_Payment_Terms__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Min_year_on_year_committed_spend__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Services_Discount_Percentage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UpdQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFA_Level__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_level__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Non_standard_Level__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Prime_discount_level__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fr_maximum_service_Level__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Highest_Approver_level__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_check_approval_level__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_approver_name_and_Level</targetReference>
            </connector>
            <label>Approval fields are changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Appl_Level</name>
        <label>Check Appl Level</label>
        <locationX>94</locationX>
        <locationY>13608</locationY>
        <defaultConnector>
            <targetReference>Update_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amend_Appl_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Rec_Is_Not_Null</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Approval_Threshold</name>
        <label>Check Approval Threshold</label>
        <locationX>336</locationX>
        <locationY>13500</locationY>
        <defaultConnector>
            <targetReference>For_new_quotes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approval_Threshold_Exceeded</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initial_Term_Discount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalQuote.Initial_Term_Discount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Free_Months__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalQuote.Free_Months__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalQuote.SBQQ__BillingFrequency__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Software_Payment_Terms__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalQuote.Software_Payment_Terms__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Min_year_on_year_committed_spend__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalQuote.Min_year_on_year_committed_spend__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Services_Discount_Percentage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalQuote.Services_Discount_Percentage__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SFA_Cap__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalQuote.SFA_Cap__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ROR__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalQuote.ROR__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Development_Obligation__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalQuote.Development_Obligation__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.On_Prem_New_product__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalQuote.On_Prem_New_product__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Non_Standard_Packaging_Structure__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OriginalQuote.Non_Standard_Packaging_Structure__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Appl_Level</targetReference>
            </connector>
            <label>Approval Threshold Exceeded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_status_of_quote_is_pricing_and_proposal</name>
        <label>Check if status of quote is pricing and proposal</label>
        <locationX>336</locationX>
        <locationY>12492</locationY>
        <defaultConnector>
            <targetReference>Approval_field_changes_to_update_approval_level</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_pricing_proposal_status</targetReference>
            </connector>
            <label>Stage check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Type</name>
        <label>Check Quote Type</label>
        <locationX>336</locationX>
        <locationY>13092</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Quote_Rec_Is_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Original_Quote_For_Amendment</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Renewal_Changes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Consolidated_Quote</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Original_Quote_For_Amendment</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkQuoteType</name>
        <label>checkQuoteType</label>
        <locationX>1018</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AmendmentORRenewal</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OP4i_Deal_Id_Formula__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOp4I_Deal_ID</targetReference>
            </connector>
            <label>AmendmentORRenewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Common_Decision_block</name>
        <label>Common Decision block</label>
        <locationX>182</locationX>
        <locationY>3192</locationY>
        <defaultConnector>
            <targetReference>myRule_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Common_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Superseded by Newer Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Lapsed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partially Cancelled or superseded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force/ Billing under separate Contract#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFA_Cap_after_Initial_Term</targetReference>
            </connector>
            <label>Common Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>Common_Decision_block_0</name>
        <label>Common Decision block</label>
        <locationX>182</locationX>
        <locationY>3684</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Common_Decision_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Superseded by Newer Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Lapsed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partially Cancelled or superseded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force/ Billing under separate Contract#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Software_Billing_Frequency_1st_Year</targetReference>
            </connector>
            <label>Common Decision 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Common_Decision_block_0_0</name>
        <label>Common Decision block</label>
        <locationX>182</locationX>
        <locationY>4176</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Common_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Superseded by Newer Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Lapsed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partially Cancelled or superseded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force/ Billing under separate Contract#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Standard_Cloud_Location_this_deal</targetReference>
            </connector>
            <label>Common_Decision_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Common_Decision_block_0_0_0</name>
        <label>Common Decision block</label>
        <locationX>182</locationX>
        <locationY>4668</locationY>
        <defaultConnector>
            <targetReference>myRule_15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Common_Decision_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Superseded by Newer Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Lapsed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partially Cancelled or superseded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force/ Billing under separate Contract#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ROR_Expiration_Date</targetReference>
            </connector>
            <label>Common_Decision_2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Common_Decision_block_0_0_0_0</name>
        <label>Common Decision block</label>
        <locationX>182</locationX>
        <locationY>5160</locationY>
        <defaultConnector>
            <targetReference>myRule_25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Common_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Superseded by Newer Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Lapsed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partially Cancelled or superseded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force/ Billing under separate Contract#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ROR</targetReference>
            </connector>
            <label>Common_Decision_3</label>
        </rules>
    </decisions>
    <decisions>
        <name>ContractIdNotNull</name>
        <label>ContractIdNotNull</label>
        <locationX>336</locationX>
        <locationY>11184</locationY>
        <defaultConnector>
            <targetReference>OppNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContractNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contracts</targetReference>
            </connector>
            <label>ContractNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>For_new_quotes</name>
        <label>For new quotes</label>
        <locationX>578</locationX>
        <locationY>13608</locationY>
        <defaultConnector>
            <targetReference>Quote_Rec_Is_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_the_condition_for_new_quotes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Quote</targetReference>
            </connector>
            <label>check the condition for new quotes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Billing_Frequency</name>
        <label>If Billing Frequency</label>
        <locationX>952</locationX>
        <locationY>14616</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionQL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Standard_BF</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semiannual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__BillingFrequency__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_STD_Billing_Freq</targetReference>
            </connector>
            <label>If Standard BF</label>
        </rules>
        <rules>
            <name>If_Quarterly_Y1_only_Year_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly Y1 Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quarterly_Y1_for_year_1</targetReference>
            </connector>
            <label>If Quarterly Y1 only - Year 1</label>
        </rules>
        <rules>
            <name>If_Quarterly_Y1_only_Other_years</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quarterly_Y1_only_other_year</targetReference>
            </connector>
            <label>If Quarterly Y1 only - Other years</label>
        </rules>
        <rules>
            <name>If_Semiannual_Y1_only_Year_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semi-annual Y1 Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Semiannual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Semiannual_Y1_for_year_1</targetReference>
            </connector>
            <label>If Semiannual Y1 only Year 1</label>
        </rules>
        <rules>
            <name>If_Semiannual_Y1_only_other_years</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semi-annual Y1 Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Semiannual_Y1_only_other_year</targetReference>
            </connector>
            <label>If Semiannual Y1 only other years</label>
        </rules>
    </decisions>
    <decisions>
        <name>LOB_Master_Contract_Updated</name>
        <label>LOB Master Contract Updated?</label>
        <locationX>336</locationX>
        <locationY>2784</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Master_Contract_LOB_and</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1</name>
        <label>Retainer</label>
        <locationX>336</locationX>
        <locationY>1584</locationY>
        <defaultConnector>
            <targetReference>Quote_Primary_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Retainer</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Superseded by Newer Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Lapsed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partially Cancelled or superseded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force/ Billing under separate Contract#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retainer</targetReference>
            </connector>
            <label>TRUE_Retainer</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_11</name>
        <label>Sync Non-Standard Cloud Location - this deal</label>
        <locationX>336</locationX>
        <locationY>4068</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sync Non-Standard Cloud Location - this deal</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Common_Decision_block_0_0</targetReference>
            </connector>
            <label>TRUE_Sync Non-Standard Cloud Location - this deal</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>ROR Expiration date</label>
        <locationX>336</locationX>
        <locationY>4560</locationY>
        <defaultConnector>
            <targetReference>myRule_15</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_ROR Expiration date</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Common_Decision_block_0_0_0</targetReference>
            </connector>
            <label>TRUE_ROR Expiration date</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_15</name>
        <label>ROR</label>
        <locationX>336</locationX>
        <locationY>5052</locationY>
        <defaultConnector>
            <targetReference>myRule_25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_ROR</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Common_Decision_block_0_0_0_0</targetReference>
            </connector>
            <label>TRUE_ROR</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_25</name>
        <label>Populate Initial Term End Date on Contract</label>
        <locationX>336</locationX>
        <locationY>5544</locationY>
        <defaultConnector>
            <targetReference>myRule_31</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Populate Initial Term End Date on Contract</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initial_Term_End_Date</targetReference>
            </connector>
            <label>TRUE_Populate Initial Term End Date on Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3</name>
        <label>Service Terms</label>
        <locationX>336</locationX>
        <locationY>2184</locationY>
        <defaultConnector>
            <targetReference>myRule_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Service Terms</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Superseded by Newer Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Lapsed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partially Cancelled or superseded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force/ Billing under separate Contract#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Services_Payment_Terms</targetReference>
            </connector>
            <label>TRUE_Service Terms</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_31</name>
        <label>2 year - Populate Non-Cancellable Multi-Year Agreement</label>
        <locationX>336</locationX>
        <locationY>5844</locationY>
        <defaultConnector>
            <targetReference>myRule_33</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_2 year - Populate Non-Cancellable Multi-Year Agreement</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_cancelable_Multiyear_Agreements</targetReference>
            </connector>
            <label>TRUE_2 year - Populate Non-Cancellable Multi-Year Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_33</name>
        <label>3 year- Populate Non-Cancellable Multi-Year Agreement</label>
        <locationX>336</locationX>
        <locationY>6144</locationY>
        <defaultConnector>
            <targetReference>myRule_35</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_3 year- Populate Non-Cancellable Multi-Year Agreement</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_33</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_cancelable_Multiyear_Agreements1</targetReference>
            </connector>
            <label>TRUE_3 year- Populate Non-Cancellable Multi-Year Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_35</name>
        <label>4 year- Populate Non-Cancellable Multi-Year Agreement</label>
        <locationX>336</locationX>
        <locationY>6444</locationY>
        <defaultConnector>
            <targetReference>myRule_37</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_4 year- Populate Non-Cancellable Multi-Year Agreement</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_35</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_cancelable_Multiyear_Agreementsupd</targetReference>
            </connector>
            <label>TRUE_4 year- Populate Non-Cancellable Multi-Year Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_37</name>
        <label>5 year- Populate Non-Cancellable Multi-Year Agreement</label>
        <locationX>336</locationX>
        <locationY>6744</locationY>
        <defaultConnector>
            <targetReference>myRule_39</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_5 year- Populate Non-Cancellable Multi-Year Agreement</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_37</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_37</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_cancelable_Multiyear_Agreementsupd1</targetReference>
            </connector>
            <label>TRUE_5 year- Populate Non-Cancellable Multi-Year Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_39</name>
        <label>&gt;5 year- Populate Non-Cancellable Multi-Year Agreement</label>
        <locationX>336</locationX>
        <locationY>7044</locationY>
        <defaultConnector>
            <targetReference>myRule_43</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_&gt;5 year- Populate Non-Cancellable Multi-Year Agreement</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_39</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_39</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_cancelable_Multiyear_Agreementsupd3</targetReference>
            </connector>
            <label>TRUE_&gt;5 year- Populate Non-Cancellable Multi-Year Agreement</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_43</name>
        <label>Populate total contract amount to Opportunity</label>
        <locationX>336</locationX>
        <locationY>7344</locationY>
        <defaultConnector>
            <targetReference>myRule_47</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Populate total contract amount to Opportunity</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_43</name>
            <conditionLogic>((2 AND 1 AND 4) OR (3 AND 1 AND 4)) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__NetAmount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Primary__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Net_Amount_on_Opp</targetReference>
            </connector>
            <label>TRUE_Populate total contract amount to Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_47</name>
        <label>New MSSA Required</label>
        <locationX>336</locationX>
        <locationY>7644</locationY>
        <defaultConnector>
            <targetReference>X090_Condtn</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_New MSSA Required</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_47</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_OSA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_OSA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.New_MSSA_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_47_A1</targetReference>
            </connector>
            <label>TRUE_New MSSA Required</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5</name>
        <label>Software Payment Terms</label>
        <locationX>336</locationX>
        <locationY>2484</locationY>
        <defaultConnector>
            <targetReference>LOB_Master_Contract_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Software Payment Terms</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Superseded by Newer Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled / Lapsed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Partially Cancelled or superseded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Force/ Billing under separate Contract#</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__r.Status</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_Terms_Software</targetReference>
            </connector>
            <label>TRUE_Software Payment Terms</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_50</name>
        <label>Request OSA Services</label>
        <locationX>336</locationX>
        <locationY>8352</locationY>
        <defaultConnector>
            <targetReference>myRule_55</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Request OSA Services</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_50</name>
            <conditionLogic>(1 AND 2 AND 3 AND 4) OR (1 AND 2 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_OSA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_OSA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Services_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Software_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Master_Terms__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Request_OSA</targetReference>
            </connector>
            <label>TRUE_Request OSA Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_55</name>
        <label>Request OSA Software</label>
        <locationX>336</locationX>
        <locationY>8760</locationY>
        <defaultConnector>
            <targetReference>myRule_60</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Request OSA Software</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_55</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_OSA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_OSA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Software_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Services_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Request_OSA_0</targetReference>
            </connector>
            <label>TRUE_Request OSA Software</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_60</name>
        <label>Request OSA Software&amp;Services</label>
        <locationX>336</locationX>
        <locationY>9168</locationY>
        <defaultConnector>
            <targetReference>StatusIsChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Request OSA Software&amp;Services</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_60</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_OSA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_OSA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Services_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Software_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Request_OSA_0_0</targetReference>
            </connector>
            <label>TRUE_Request OSA Software&amp;Services</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_65</name>
        <label>Request OSA non Software and non Service</label>
        <locationX>336</locationX>
        <locationY>9876</locationY>
        <defaultConnector>
            <targetReference>myRule_70</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Request OSA non Software and non Service</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_65</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_OSA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Request_OSA__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Software_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Has_Services_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Master_Terms__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Training</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Uncheck_Request_OSA_0_0_0</targetReference>
            </connector>
            <label>TRUE_Request OSA non Software and non Service</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>SFA</label>
        <locationX>336</locationX>
        <locationY>3084</locationY>
        <defaultConnector>
            <targetReference>myRule_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_SFA</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Common_Decision_block</targetReference>
            </connector>
            <label>TRUE_SFA</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_70</name>
        <label>populate economic buyer</label>
        <locationX>336</locationX>
        <locationY>10284</locationY>
        <defaultConnector>
            <targetReference>myRule_72</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_populate economic buyer</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_70</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_70</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_70_A1</targetReference>
            </connector>
            <label>TRUE_populate economic buyer</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_72</name>
        <label>Populate software delivery</label>
        <locationX>336</locationX>
        <locationY>10584</locationY>
        <defaultConnector>
            <targetReference>myRule_74</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Populate software delivery</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_72</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_72</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Software_Delivery_Contact</targetReference>
            </connector>
            <label>TRUE_Populate software delivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_74</name>
        <label>quote terms OSA</label>
        <locationX>336</locationX>
        <locationY>10884</locationY>
        <defaultConnector>
            <targetReference>ContractIdNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_quote terms OSA</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_74</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_74</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_74_A1</targetReference>
            </connector>
            <label>TRUE_quote terms OSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9</name>
        <label>Billing frequency</label>
        <locationX>336</locationX>
        <locationY>3576</locationY>
        <defaultConnector>
            <targetReference>myRule_11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Billing frequency</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Common_Decision_block_0</targetReference>
            </connector>
            <label>TRUE_Billing frequency</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppNotNull</name>
        <label>OppNotNull</label>
        <locationX>336</locationX>
        <locationY>11484</locationY>
        <defaultConnector>
            <targetReference>AccountNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpporNOtNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdOpp</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Update_Opportunity_to_List</targetReference>
            </connector>
            <label>OpporNOtNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Primary_Check</name>
        <label>Quote Primary Check</label>
        <locationX>336</locationX>
        <locationY>1884</locationY>
        <defaultConnector>
            <targetReference>myRule_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Primary_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Primary__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Record</targetReference>
            </connector>
            <label>Primary Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Rec_Is_Not_Null</name>
        <label>Quote Rec Is Not Null</label>
        <locationX>336</locationX>
        <locationY>13992</locationY>
        <defaultConnector>
            <targetReference>Quote_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteRecNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdQuote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateQuote</targetReference>
            </connector>
            <label>QuoteRecNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Update</name>
        <label>Quote Update</label>
        <locationX>336</locationX>
        <locationY>14292</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Conditions_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Ordered__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lookup_quote_lines</targetReference>
            </connector>
            <label>Conditions check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quotes_status_is_Approved</name>
        <label>Quotes status is Approved</label>
        <locationX>336</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>AssignQuoteID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>when_status_of_quote_is_Approved_Pricing_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubmittedUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_Pricing_and_proposal_email</targetReference>
            </connector>
            <label>when status of quote is Approved(Pricing Proposal)</label>
        </rules>
        <rules>
            <name>when_status_of_quote_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalize OSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SubmittedUser__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_OSA_email</targetReference>
            </connector>
            <label>when status of quote is Approved(Finalise OSA)</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordAccLookupIsNotNull_0_0</name>
        <label>RecordAccLookupIsNotNull</label>
        <locationX>336</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteAccNotNull_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__r.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountRecIDs</targetReference>
            </connector>
            <label>QuoteAccNotNull_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordContrLookupIsNotNull</name>
        <label>RecordContrLookupIsNotNull</label>
        <locationX>336</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>RecordOppLookupIsNotNull_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteContrNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__MasterContract__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContrRecIDs</targetReference>
            </connector>
            <label>QuoteContrNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordOppLookupIsNotNull_0</name>
        <label>RecordOppLookupIsNotNull</label>
        <locationX>336</locationX>
        <locationY>984</locationY>
        <defaultConnector>
            <targetReference>RecordAccLookupIsNotNull_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteOppNotNull_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Opportunity2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOppRecIDs</targetReference>
            </connector>
            <label>QuoteOppNotNull_1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Update the sales segment on quote and related Lead fields on quote</description>
        <name>Sales_Segment_Update</name>
        <label>Sales Segment Update</label>
        <locationX>336</locationX>
        <locationY>12084</locationY>
        <defaultConnector>
            <targetReference>Check_if_status_of_quote_is_pricing_and_proposal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sales_Segment_Update_name</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OP4I_Sales_Segment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approver_Matrix</targetReference>
            </connector>
            <label>Sales Segment Update name</label>
        </rules>
    </decisions>
    <decisions>
        <name>StatusIsChanged</name>
        <label>StatusIsChanged</label>
        <locationX>336</locationX>
        <locationY>9576</locationY>
        <defaultConnector>
            <targetReference>myRule_65</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isStatusChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote needs Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SBQQ_Quote_c_notify_requester_that_quote_needs_review</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>isStatusChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>X090_Condtn</name>
        <label>090_Condtn</label>
        <locationX>336</locationX>
        <locationY>7944</locationY>
        <defaultConnector>
            <targetReference>myRule_50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X090_con</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Criteria_Rule_090Exxx</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailtoContractOps</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>090_con</label>
        </rules>
    </decisions>
    <description>Modified as part of BIZ-46894.Updated the flow with the modified version
Updated: RR/17/11: Updated Pricing and proposal status decisions and formula
Updated RR:11/21: Updated formula field for approval check
Updated RR: update Not required only when new quote is created. Updating the description
Updated RR:  Trigger email alert
BIZ-52845: AB : Added Async path
RR: added logic to updated order id</description>
    <environments>Default</environments>
    <formulas>
        <description>To populated the value of billing frequency when Billing frequency approval level is highest</description>
        <name>Approverbillingfrequency</name>
        <dataType>String</dataType>
        <expression>IF(({!$Record.Highest_Approver_level__c} = {!$Record.Billing_Frequency_approval_level__c}),&quot;Software Billing frequency (1st year)&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>To populated the value of Additional free month when Additional free month approval level is highest</description>
        <name>Approverfreemonth</name>
        <dataType>String</dataType>
        <expression>IF(({!$Record.Highest_Approver_level__c} = {!$Record.Free_month_approver_Level__c}),&quot;Additional Free months at no cost , &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>when minimum year is max level</description>
        <name>Approverminimumyear</name>
        <dataType>String</dataType>
        <expression>IF(({!$Record.Highest_Approver_level__c} = {!$Record.Minimum_year_approver_level__c}),&quot;Min year on year committed spend , &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>when payments term value has highest approver</description>
        <name>ApproverPaymentterm</name>
        <dataType>String</dataType>
        <expression>IF(({!$Record.Highest_Approver_level__c} = {!$Record.Payment_Term_Approver_Level__c}),&quot;Payment Terms , &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Calculate highest service approval level</description>
        <name>Calculatehighestservicelevel</name>
        <dataType>Number</dataType>
        <expression>MAX({!Service_ImplementationDiscountLevel},{!serviceonlyformulalevel})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Criteria_Rule_090Exxx</name>
        <dataType>Boolean</dataType>
        <expression>AND( {!$Record.SBQQ__Account__r.Pre_9_4_1_Liability_Annex_Executed__c}=False, {!$Record.Annex_email_sent__c} = FALSE, ISBLANK({!$Record.SBQQ__Account__r.Liability_Annex_Contract_Number__c}), NOT( OR( ISPICKVAL({!$Record.SBQQ__Account__r.Liability_Annex_Status__c},&quot;Received&quot;), ISPICKVAL({!$Record.SBQQ__Account__r.Liability_Annex_Status__c},&quot;Drafted&quot;),  ISPICKVAL({!$Record.SBQQ__Account__r.Liability_Annex_Status__c},&quot;N/A&quot;), ISPICKVAL({!$Record.SBQQ__Account__r.Liability_Annex_Status__c},&quot;Requested&quot;) )), {!$Record.Request_OSA__c}=True,  OR( ISPICKVAL({!$Record.SBQQ__Account__r.Contract_Term_Version__c},&quot;8.5&quot;),  ISPICKVAL({!$Record.SBQQ__Account__r.Contract_Term_Version__c},&quot;8.8&quot;),  ISPICKVAL({!$Record.SBQQ__Account__r.Contract_Term_Version__c},&quot;8.9&quot;),  ISPICKVAL({!$Record.SBQQ__Account__r.Contract_Term_Version__c},&quot;9.0&quot;), ISPICKVAL({!$Record.SBQQ__Account__r.Contract_Term_Version__c},&quot;9.1&quot;), ISPICKVAL({!$Record.SBQQ__Account__r.Contract_Term_Version__c},&quot;9.2&quot;), ISPICKVAL({!$Record.SBQQ__Account__r.Contract_Term_Version__c},&quot;9.3&quot;), ISPICKVAL({!$Record.SBQQ__Account__r.Contract_Term_Version__c},&quot;9.4&quot;)  ) )</expression>
    </formulas>
    <formulas>
        <name>formula_10_myRule_65_A3_8755989835</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_25_A1_8144032200</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.SBQQ__StartDate__c},{!$Record.SBQQ__SubscriptionTerm__c}) -1</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_28_A1_5917703120</name>
        <dataType>String</dataType>
        <expression>{!$Record.SBQQ__PriceBook__r.Name }</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_50_A4_0835692455</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_4_myRule_50_A3_9583828099</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>formula_5_myRule_55_A4_7587183781</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_6_myRule_55_A3_3120327323</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>formula_7_myRule_60_A4_9395249152</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_8_myRule_60_A3_4908378614</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>formula_9_myRule_65_A4_6194193996</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!$Record.SBQQ__MasterContract__r.Contract__c })),
{!$Record.SBQQ__Primary__c=true},


OR ( ISNEW(),
ISCHANGED ({!$Record.Retainer_percentage_editable__c }) )
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Record.SBQQ__Primary__c =True},

NOT(ISBLANK({!$Record.SBQQ__MasterContract__r.Contract__c })),

OR ( ISNEW(),
ISCHANGED ({!$Record.Non_Standard_Cloud_Location_this_deal__c }) )
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Record.SBQQ__Primary__c =True},
NOT(ISBLANK({!$Record.SBQQ__MasterContract__r.Contract__c })),

OR ( ISNEW(),
ISCHANGED ({!$Record.ROR_Expiration_Date__c }) )

)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Record.SBQQ__Primary__c =True},
NOT(ISBLANK({!$Record.SBQQ__MasterContract__r.Contract__c })),

OR ( ISNEW(),
ISCHANGED ({!$Record.ROR__c }) )

)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISNEW(),
{!$Record.SBQQ__Opportunity2__r.Bill_to_Account__r.Name =&apos;ROOX&apos;})</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!$Record.SBQQ__Primary__c = TRUE},
NOT(ISBLANK({!$Record.SBQQ__MasterContract__c})),
OR(
AND(
NOT(ISBLANK({!$Record.SBQQ__MasterContract__c})),
ISCHANGED({!$Record.SBQQ__SubscriptionTerm__c })
),
ISCHANGED({!$Record.SBQQ__MasterContract__c}),
ISCHANGED({!$Record.SBQQ__StartDate__c })
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_28</name>
        <dataType>Boolean</dataType>
        <expression>OR(
ISNEW(),
ISCHANGED({!$Record.SBQQ__PricebookId__c })
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!$Record.SBQQ__MasterContract__r.Contract__c })),
{!$Record.SBQQ__Primary__c=true},

OR ( ISNEW(),
ISCHANGED ({!$Record.Services_Terms__c }) )

)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>AND(
 NOT(ISBLANK({!$Record.SBQQ__MasterContract__c })),
({!$Record.SBQQ__SubscriptionTerm__c} - {!$Record.First_Segment_Months__c }) &gt;=1,
({!$Record.SBQQ__SubscriptionTerm__c} - {!$Record.First_Segment_Months__c })&lt;=12,
{!$Record.Primary_Quote__c = 1},
ISBLANK({!$Record.ROR_Expiration_Date__c })
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_33</name>
        <dataType>Boolean</dataType>
        <expression>AND(
({!$Record.SBQQ__SubscriptionTerm__c} -{!$Record.First_Segment_Months__c }) &gt;=13,
({!$Record.SBQQ__SubscriptionTerm__c} -{!$Record.First_Segment_Months__c })&lt;=24,
NOT(ISBLANK({!$Record.SBQQ__MasterContract__c})),

{!$Record.Primary_Quote__c = 1},

ISBLANK({!$Record.ROR_Expiration_Date__c })

)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_35</name>
        <dataType>Boolean</dataType>
        <expression>AND(
({!$Record.SBQQ__SubscriptionTerm__c} -{!$Record.First_Segment_Months__c }) &gt;=25,
({!$Record.SBQQ__SubscriptionTerm__c} -{!$Record.First_Segment_Months__c })&lt;=36,
NOT(ISBLANK({!$Record.SBQQ__MasterContract__c })),

{!$Record.Primary_Quote__c = 1},

ISBLANK({!$Record.ROR_Expiration_Date__c })

)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_37</name>
        <dataType>Boolean</dataType>
        <expression>AND(
({!$Record.SBQQ__SubscriptionTerm__c} -{!$Record.First_Segment_Months__c }) &gt;=37,
({!$Record.SBQQ__SubscriptionTerm__c} -{!$Record.First_Segment_Months__c })&lt;=48,
NOT(ISBLANK({!$Record.SBQQ__MasterContract__c })),

{!$Record.Primary_Quote__c = 1},

ISBLANK({!$Record.ROR_Expiration_Date__c })

)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_39</name>
        <dataType>Boolean</dataType>
        <expression>AND(
({!$Record.SBQQ__SubscriptionTerm__c} -{!$Record.First_Segment_Months__c }) &gt;=49,

NOT(ISBLANK({!$Record.SBQQ__MasterContract__c })),

{!$Record.Primary_Quote__c = 1},

ISBLANK({!$Record.ROR_Expiration_Date__c })

)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_41</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISCHANGED({!$Record.SBQQ__Opportunity2__c }),
NOT(ISNEW()),
NOT( ISBLANK({!$Record.SBQQ__Opportunity2__c.Associated_Contract_OSA__c}))
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!$Record.SBQQ__MasterContract__r.Contract__c })),
{!$Record.SBQQ__Primary__c=true},

OR ( ISNEW(),
ISCHANGED ({!$Record.Software_Payment_Terms__c }) )
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!$Record.SBQQ__MasterContract__r.Contract__c })),

{!$Record.SBQQ__Primary__c=true},
OR ( ISNEW(),
ISCHANGED ({!$Record.SFA_Cap_after_Initial_Term__c }) )

)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_70</name>
        <dataType>Boolean</dataType>
        <expression>OR(
AND(
ISNEW(),
NOT(ISBLANK({!$Record.SBQQ__PrimaryContact__c }))
),
AND(
NOT(ISBLANK({!$Record.SBQQ__PrimaryContact__c  })),
ISCHANGED({!$Record.SBQQ__PrimaryContact__c })
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_72</name>
        <dataType>Boolean</dataType>
        <expression>OR (
AND(
NOT(ISBLANK({!$Record.Software_Delivery_Contact__c}) ),
ISNEW())

,

AND(
NOT(ISBLANK({!$Record.Software_Delivery_Contact__c}) ),
ISCHANGED({!$Record.Software_Delivery_Contact__c})))</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_74</name>
        <dataType>Boolean</dataType>
        <expression>AND (
ISCHANGED({!$Record.SBQQ__MasterContract__c}),
NOT(ISNEW()),
NOT(ISBLANK({!$Record.SBQQ__MasterContract__r.Contract__c })
)
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT(ISBLANK({!$Record.SBQQ__MasterContract__r.Contract__c })),
{!$Record.SBQQ__Primary__c=true},

OR ( ISNEW(),
ISCHANGED ({!$Record.SBQQ__BillingFrequency__c }) )

)</expression>
    </formulas>
    <formulas>
        <name>Highestapprovallevel</name>
        <dataType>Number</dataType>
        <expression>MAX({!$Record.InitialTermapproverLevel__c},{!$Record.Free_month_approver_Level__c},{!$Record.Payment_Term_Approver_Level__c},{!$Record.Billing_Frequency_approval_level__c},{!$Record.Minimum_year_approver_level__c},{!$Record.SFA_Level__c},{!$Record.Minimum_year_approver_level__c},{!$Record.Implementationdiscountlevel__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>when initial term discount value has highest approval level</description>
        <name>HighestapprovernameInitialtermdiscount</name>
        <dataType>String</dataType>
        <expression>IF(({!$Record.Highest_Approver_level__c} = {!$Record.InitialTermapproverLevel__c}), &quot;Initial Term Discount ,&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Implementationapprovername</name>
        <dataType>String</dataType>
        <expression>IF(({!$Record.Highest_Approver_level__c} = {!$Record.Implementationdiscountlevel__c}),&quot;Implementation Services Discount, &quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>To check is the quote new.</description>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>IsOppUpdated</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISCHANGED({!$Record.SBQQ__Opportunity2__r.Net_Amount__c}) ,
ISCHANGED({!$Record.SBQQ__Opportunity2__r.Client_Contact__c}))</expression>
    </formulas>
    <formulas>
        <description>Formula field to update the status value</description>
        <name>Pricingproposalfieldupdateformula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.ApprovalStatus__c},&quot;Pending&quot;),&quot;In Progress&quot; ,IF(ISPICKVAL({!$Record.ApprovalStatus__c},&quot;Approved&quot;),&quot;Approved&quot;,
IF(ISPICKVAL({!$Record.ApprovalStatus__c},&quot;Rejected&quot;),&quot;Rejected&quot;,
IF(ISPICKVAL({!$Record.ApprovalStatus__c},&quot;Recalled&quot;),&quot;Recalled&quot;,
IF(ISPICKVAL({!$Record.ApprovalStatus__c},&quot;Pending Submission&quot;),&quot;Pending Submission&quot;,&quot;Pending Submission&quot;)))))</expression>
    </formulas>
    <formulas>
        <name>QuoteeId</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Id}, 15)</expression>
    </formulas>
    <formulas>
        <name>Quoteurl</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>receipentemailaddress</name>
        <dataType>String</dataType>
        <expression>{!$Record.SubmittedUser__r.Email}</expression>
    </formulas>
    <formulas>
        <description>Formula field to calculate the highest level of approver based on the value of Implementation Discount field value
0 - No Approver
1 - Sales Segment
2. - Industry sales Lead
3 - CRO
5 -  SVP, Services</description>
        <name>Service_ImplementationDiscountLevel</name>
        <dataType>Number</dataType>
        <expression>IF((({!$Record.Services_Discount_Percentage__c}) = 0) , 0, 
IF((({!$Record.Services_Discount_Percentage__c}) &lt;10) , 1,IF((({!$Record.Services_Discount_Percentage__c}) &gt;=10) &amp;&amp; (({!$Record.Services_Discount_Percentage__c})&lt;20) , 3,IF((({!$Record.Services_Discount_Percentage__c}) &gt;=20),7,0))))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>formula to calculate service only level on the basis of Discount percentage value</description>
        <name>serviceonlyformulalevel</name>
        <dataType>Number</dataType>
        <expression>IF((({!$Record.Services_Discount_Percentage__c}) = 0) , 0, 
IF(({!$Record.Services_Discount_Percentage__c}) &lt; 20, 6,IF((({!$Record.Services_Discount_Percentage__c}) &gt;=20) ,7,0)))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quote After Insert-Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote After Insert-Update</label>
    <loops>
        <name>collectionQL</name>
        <label>collectionQL</label>
        <locationX>204</locationX>
        <locationY>14508</locationY>
        <collectionReference>lookup_quote_lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Billing_Frequency</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_collectionQL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Original_Quote_For_Amendment</name>
        <label>Get Original Quote For Renewal</label>
        <locationX>336</locationX>
        <locationY>13200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Original_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__RenewedContract__r.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>To get the approver matrix record on the basis of sales segment field on quote</description>
        <name>Get_Approver_Matrix</name>
        <label>Get Approver  Matrix</label>
        <locationX>204</locationX>
        <locationY>12192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_approver_records_to_quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OP4I_Sales_Segment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Approvers_Matrix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Quote_For_Amendment</name>
        <label>Get Original Quote For Amendment</label>
        <locationX>72</locationX>
        <locationY>13200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Original_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.SBQQ__AmendedContract__r.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>lookup_quote_lines</name>
        <label>lookup quote lines</label>
        <locationX>204</locationX>
        <locationY>14400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>collectionQL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ChargeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_collectionQL</name>
        <label>Update collectionQL</label>
        <locationX>204</locationX>
        <locationY>15108</locationY>
        <inputReference>QuoteLineList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contracts</name>
        <label>Update Contracts</label>
        <locationX>204</locationX>
        <locationY>11292</locationY>
        <connector>
            <targetReference>OppNotNull</targetReference>
        </connector>
        <inputReference>UpdateAssociatedContr</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateOp4I_Deal_ID</name>
        <label>updateOp4I Deal ID</label>
        <locationX>886</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>OP4IDealID__c</field>
            <value>
                <elementReference>$Record.OP4i_Deal_Id_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuote</name>
        <label>UpdateQuote</label>
        <locationX>204</locationX>
        <locationY>14100</locationY>
        <connector>
            <targetReference>Quote_Update</targetReference>
        </connector>
        <inputReference>UpdateQuoteRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Quotes_status_is_Approved</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Update_OP4I_Deal_Id</name>
            <connector>
                <targetReference>checkQuoteType</targetReference>
            </connector>
            <label>Update OP4I Deal Id</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>myRule_70_A1</name>
        <label>create economic buyer</label>
        <locationX>204</locationX>
        <locationY>10392</locationY>
        <connector>
            <targetReference>myRule_72</targetReference>
        </connector>
        <flowName>Create_Champion_Contact_Role</flowName>
        <inputAssignments>
            <name>OppID</name>
            <value>
                <elementReference>$Record.SBQQ__Opportunity2__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactID</name>
            <value>
                <elementReference>$Record.SBQQ__PrimaryContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ContactRoleName</name>
            <value>
                <stringValue>Economic Buyer</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>myRule_74_A1</name>
        <label>update osa</label>
        <locationX>204</locationX>
        <locationY>10992</locationY>
        <connector>
            <targetReference>ContractIdNotNull</targetReference>
        </connector>
        <flowName>update_contract_on_quotes</flowName>
        <inputAssignments>
            <name>contract_ID</name>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quoteID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Approvaltemplatepricing</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$Record.SubmittedUser__r.FirstName},
Pricing Proposal for OSA {!$Record.OSA_Number__c} has been Approved.
Please access the record to view the details.
Note: Please do not reply to this email as it is not monitored, and your message will not be received.</text>
    </textTemplates>
    <textTemplates>
        <name>ApproveTemplateOSA</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello {!$Record.SubmittedUser__r.FirstName},
OSA for {!$Record.OSA_Number__c} has been Approved.
Please access the record to view the details. 

Note: Please do not reply to this email as it is not monitored, and your message will not be received.</text>
    </textTemplates>
    <textTemplates>
        <name>Highestapproverfieldname</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!HighestapprovernameInitialtermdiscount}  
{!Approverfreemonth}  
{!ApproverPaymentterm} 
{!Approverbillingfrequency} 
{!Approverminimumyear}
{!Implementationapprovername}</text>
    </textTemplates>
    <triggerOrder>50</triggerOrder>
    <variables>
        <description>This collection stores list of opportunities to be updated.</description>
        <name>lstUpdateOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OriginalQuote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>UpdAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateAssociatedContr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>UpdateBillingAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdateOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>This variable stores the Opportunity to be updated outside the quote update context.</description>
        <name>updateOpportunityAsync</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdateQuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>UpdContract</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdOpp</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdQuote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
