force-app/main/default/flows/Quote_Document_Generation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>X1_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckBundleOSA</name>
        <label>CheckBundleOSA</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bundle_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_need_to_bundle_the_OSA_Document</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X1_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createAdditionalDoc</targetReference>
            </connector>
            <label>BundleYes</label>
        </rules>
        <rules>
            <name>BundleNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_need_to_bundle_the_OSA_Document</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>X1_No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuoteOSADoc</targetReference>
            </connector>
            <label>BundleNo</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkDocType</name>
        <label>checkDocType</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pricing_Proposal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pricing Proposal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getDocument.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pricing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQuoteDoc</targetReference>
            </connector>
            <label>Pricing Proposal</label>
        </rules>
        <rules>
            <name>OSA_Bundle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finalize OSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getDocument.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bundle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bundle_OSA_Document</targetReference>
            </connector>
            <label>OSA Bundle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Doc_Found</name>
        <label>Doc Found</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDocument.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkDocType</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>BIZ-51228: Flow to create quote document record
BIZ-49800: Bundle OSA Document</description>
    <environments>Default</environments>
    <formulas>
        <name>fxName</name>
        <dataType>String</dataType>
        <expression>LEFT({!getDocument.Name}, LEN({!getDocument.Name}) - 19) + &apos;v&apos; + TEXT({!fxVersionNmber}) + &apos;.pdf&apos;</expression>
    </formulas>
    <formulas>
        <name>fxOSAName</name>
        <dataType>String</dataType>
        <expression>LEFT({!getDocument.Name}, LEN({!getDocument.Name}) - 19) + &apos;v&apos; + TEXT({!fxOSAVersionNumber}) + &apos;.pdf&apos;</expression>
    </formulas>
    <formulas>
        <name>fxOSAVersionNumber</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!getQuoteOSADoc.SBQQ__Version__c}),1,{!getQuoteOSADoc.SBQQ__Version__c}+1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fxQuoteId</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId.Id},15)</expression>
    </formulas>
    <formulas>
        <name>fxVersionNmber</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!getQuoteDoc.SBQQ__Version__c}),1,{!getQuoteDoc.SBQQ__Version__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Quote Document Generation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Document Generation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createAdditionalDoc</name>
        <label>createAdditionalDoc</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Copy_1_of_Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>getDocument.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__DisplayOrder__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__ExternalId__c</field>
            <value>
                <elementReference>getDocument.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__RelatedContent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createQuoteDoc</name>
        <label>createQuoteDoc</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Success2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fxName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__DocumentId__c</field>
            <value>
                <elementReference>getDocument.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OutputFormat__c</field>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Version__c</field>
            <value>
                <elementReference>fxVersionNmber</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createQuoteOSADoc</name>
        <label>createQuoteOSADoc</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fxOSAName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__DocumentId__c</field>
            <value>
                <elementReference>getDocument.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OutputFormat__c</field>
            <value>
                <stringValue>PDF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Version__c</field>
            <value>
                <elementReference>fxOSAVersionNumber</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteDocument__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getDocument</name>
        <label>getDocument</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Doc_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attachment</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuoteDoc</name>
        <label>getQuoteDoc</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createQuoteDoc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Pricing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteDocument__c</object>
        <sortField>SBQQ__Version__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuoteOSADoc</name>
        <label>getQuoteOSADoc</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createQuoteOSADoc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Bundle</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteDocument__c</object>
        <sortField>SBQQ__Version__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Bundle_OSA_Document</name>
        <label>Bundle OSA Document</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckBundleOSA</targetReference>
        </connector>
        <fields>
            <name>Bundle_OSA</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Bundle OSA Document&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_need_to_bundle_the_OSA_Document</name>
            <choiceReferences>X1_Yes</choiceReferences>
            <choiceReferences>X1_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you need to bundle the OSA Document?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IfYes</name>
            <fieldText>&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;OSA document will be generated and added to the “Additional Document”.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;After you have added other additional documents like SOW, please click on “Generate OSA Bundle” to collate the additional documents.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Saving the Generate OSA Bundle will generate the new bundled OSA document in the Quote Document and it will sync with OP4I.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_need_to_bundle_the_OSA_Document</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>X1_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>IfNo</name>
            <fieldText>&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;The OSA Document will be added to the Quote Document and it will be synched with OP4I.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please Note:&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; No additional documents will be bundled with the OSA document.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_need_to_bundle_the_OSA_Document</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>X1_No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Success</name>
        <label>Success</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Success1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;OSA Document has been added to the Additional Document. Please upload other required documents that needs to be bundled by clicking “Add Document” button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Failure1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No document is found. Please generate Pricing Proposal/OSA Document before synching to OP4I.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;OSA Document has been added to the Quote Document.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success2</name>
        <label>Success</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Success1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(23, 43, 77); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Pricing Proposal Document has been added to the Quote Document and will be synched with OP4I.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getDocument</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>varVersionNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
