force-app/main/default/flows/Quote_Line_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Quotes_Billing_Frequency_to_QL</name>
        <label>Assign Quotes Billing Frequency to QL</label>
        <locationX>50</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Populate_Item_Master_Products_and_IM_Product_Number</name>
        <label>Populate Item Master Products and IM Product Number</label>
        <locationX>578</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.Item_Master_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__r.Item_Master_Product__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Item_Master_Product_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__r.Item_Master_Product__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_14</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Price_book_Is_bundle</name>
        <label>Populate Price book &amp; Is bundle</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>$Record.Price_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__PriceBook__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_is_Bundle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__r.Bundle_product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OSA_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.OSA_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Product_Family_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__r.Product_LineNew__r.Simple_Product_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Segment_Index_Custom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__SegmentIndex__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Quote_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Services</name>
        <label>Populate Services</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Services_Product_Type</name>
        <label>Populate Services Product Type</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services Discount</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Software_Product_Type</name>
        <label>Populate Software Product Type</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Software</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_Code</name>
        <label>Product Code</label>
        <locationX>578</locationX>
        <locationY>1811</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Code_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__r.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_QL_BillingFrequency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quarterly_y1_only_other_segment</name>
        <label>Quarterly y1 only other segment</label>
        <locationX>578</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Quarterly_y1_only_segment_1</name>
        <label>Quarterly y1 only segment 1</label>
        <locationX>314</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quarterly</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Semi_annual_y1_only_segment_1</name>
        <label>Semi annual y1 only segment 1</label>
        <locationX>842</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Semiannual</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Semi_annual_y1_only_segment_other</name>
        <label>Semi annual y1 only segment other</label>
        <locationX>1106</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Description</name>
        <label>Update Description</label>
        <locationX>578</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Including: Intapp Integrate – Standard</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_16</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_QL_s_profroma_invoice</name>
        <label>Update QL&apos;s profroma invoice</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Proforma_Invoice_Renewal_Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Performa_Invoice_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myRule_6</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_QL_BillingFrequency</name>
        <label>Check QL BillingFrequency</label>
        <locationX>710</locationX>
        <locationY>2003</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_standard_Billing_Frequency</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semiannual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__BillingFrequency__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quotes_Billing_Frequency_to_QL</targetReference>
            </connector>
            <label>If standard Billing Frequency</label>
        </rules>
        <rules>
            <name>If_quarterly_y1_only_segment_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly Y1 Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quarterly_y1_only_segment_1</targetReference>
            </connector>
            <label>If quarterly y1 only segment 1</label>
        </rules>
        <rules>
            <name>If_quarterly_y1_only_other_segment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly Y1 Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quarterly_y1_only_other_segment</targetReference>
            </connector>
            <label>If quarterly y1 only other segment</label>
        </rules>
        <rules>
            <name>If_semi_annual_y1_only_segment_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semi-annual Y1 Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Semi_annual_y1_only_segment_1</targetReference>
            </connector>
            <label>If semi annual y1 only segment 1</label>
        </rules>
        <rules>
            <name>If_semi_annual_y1_only_segment_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semi-annual Y1 Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Semi_annual_y1_only_segment_other</targetReference>
            </connector>
            <label>If semi annual y1 only segment other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Quote_Renewal</name>
        <label>Check Quote Renewal</label>
        <locationX>710</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>myRule_6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_quote_is_renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto-Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Performa_Invoice_record</targetReference>
            </connector>
            <label>If quote is renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_12</name>
        <label>Item Master</label>
        <locationX>710</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>myRule_14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Item Master</defaultConnectorLabel>
        <rules>
            <name>Item_Master</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Item_Master_Product__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Item_Master_Products_and_IM_Product_Number</targetReference>
            </connector>
            <label>Item Master</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_14</name>
        <label>Populate Description</label>
        <locationX>710</locationX>
        <locationY>1403</locationY>
        <defaultConnector>
            <targetReference>myRule_16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Populate Description</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_14</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Item_Master_Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3g50000001ZBFuAAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Item_Master_Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Item_Master_Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3g50000000O070AAC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Item_Master_Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3g50000000O8BDAA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Item_Master_Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3g50000001ZBFVAA4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Item_Master_Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3g50000001ZBFpAAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Item_Master_Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3g50000001ZBFfAAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Item_Master_Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3g50000001ZBFkAAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Item_Master_Product__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a3g50000000O9KcAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Description</targetReference>
            </connector>
            <label>TRUE_Populate Description</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_16</name>
        <label>Product Code Text</label>
        <locationX>710</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Check_QL_BillingFrequency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Product Code Text</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_16</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.ProductCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Code</targetReference>
            </connector>
            <label>TRUE_Product Code Text</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_6</name>
        <label>Software</label>
        <locationX>710</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>myRule_12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Software</defaultConnectorLabel>
        <rules>
            <name>Software</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.Product_License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Software_Product_Type</targetReference>
            </connector>
            <label>Software</label>
        </rules>
        <rules>
            <name>Services1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.Product_License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Services</targetReference>
            </connector>
            <label>Services1</label>
        </rules>
        <rules>
            <name>Services_Discounts1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services Discount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Services_Product_Type</targetReference>
            </connector>
            <label>Services Discounts1</label>
        </rules>
    </decisions>
    <description>Added an entry criteria to bypass this flow for Static Bundle ; BIZ-49581
Migrated logic from Quote_Line_After_Insert for QL Proforma Invoice
Updated billing freq conditions for Amendment quotes</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_1_myRule_1_A2_7432604101</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.SBQQ__Product__r.Bundle_product__c }</expression>
    </formulas>
    <interviewLabel>Quote Line Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Performa_Invoice_record</name>
        <label>Get Performa Invoice record</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_QL_s_profroma_invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal_Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Proforma_Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_Price_book_Is_bundle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skip_OP4I_Sync__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countOfLookUpRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>QuoteLineRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
