force-app/main/default/flows/Quote_Line_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Quote_Line</name>
        <label>Assign Quote Line</label>
        <locationX>380</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>$Record.Original_ACV_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_ACV_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateQuoteLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignRenewalValues</name>
        <label>assignRenewalValues</label>
        <locationX>644</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>previousACVChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOriginalLineLastSegment.Previous_ACV_Change__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>previousACVChange</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getOriginalLineLastSegment.ACV_Change__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateQuoteLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_ACV_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>previousACVChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Original_ACV_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>acvChangeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignValues</name>
        <label>assignValues</label>
        <locationX>908</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>previousACVChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculatePrevValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ACVChange</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>acvChangeFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Quote_Line</name>
        <label>Assign Quote Line</label>
        <locationX>908</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Original_ACV_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACVChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Previous_ACV_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>previousACVChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.YOY_Quantity_Change__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantityChange</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateQuoteLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_ACV_Type</name>
        <label>Update ACV Type</label>
        <locationX>490</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.ACV_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Segment_1_Quote_Line.ACV_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ACV_Type_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Segment_1_Quote_Line.ACV_Type_Override__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateQuoteLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkSegmentofQuoteLine</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Segment_Index</name>
        <label>Check Segment Index</label>
        <locationX>776</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>checkSegmentofQuoteLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Index_Greater_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Segment_1_Quote_Line</targetReference>
            </connector>
            <label>Index Greater than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Segment_Index_1</name>
        <label>Check Segment Index 1</label>
        <locationX>622</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>checkSegmentofQuoteLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Segment_1_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Segment_1_Quote_Line</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_ACV_Type</targetReference>
            </connector>
            <label>Segment 1 Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSegmentofQuoteLine</name>
        <label>checkSegmentofQuoteLine</label>
        <locationX>776</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Line1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSegment1</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.Guided_Selling_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quote</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Line</targetReference>
            </connector>
            <label>IsSegment1</label>
        </rules>
        <rules>
            <name>IsSegment1Renewal</name>
            <conditionLogic>((1 OR 4) AND 2 AND 3 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SegmentIndex_Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AutoRenewalTaxChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOriginalLineLastSegment</targetReference>
            </connector>
            <label>IsSegment1Renewal</label>
        </rules>
        <rules>
            <name>SegmentGreaterThan1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Product__r.Guided_Selling_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Software</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AutoRenewalTaxChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getPrviousSegmentLine</targetReference>
            </connector>
            <label>SegmentGreaterThan1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Quote_Line1</name>
        <label>Update Quote Line</label>
        <locationX>776</locationX>
        <locationY>1787</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updateQuoteLine</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Line</targetReference>
            </connector>
            <label>Update True</label>
        </rules>
    </decisions>
    <description>Modified As part of BIZ- 50449,
Modified as part of BIZ-46894, BIZ-47135,
BIZ-50365:  flow should update this Original ACV Change.
RR: Updated to change quote approval status
Code Refactoring</description>
    <environments>Default</environments>
    <formulas>
        <name>acvChangeFormula</name>
        <dataType>Number</dataType>
        <expression>{!calculateValue} - {!previousACVChange}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AutoRenewalTaxChanged</name>
        <dataType>Boolean</dataType>
        <expression>IF(
ISPICKVAL({!$Record.SBQQ__Quote__r.Renewal_Quote_Type__c},&quot;Auto-Renewal&quot;)
&amp;&amp; NOT(ISNEW())&amp;&amp; ISCHANGED({!$Record.AVA_SFCPQ__TaxAmount__c}), true, false)</expression>
    </formulas>
    <formulas>
        <name>calculatePrevValue</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!getPrviousSegmentLine.ACV_Change_Manual__c}), IF(ISNULL({!getPrviousSegmentLine.Extended_Term_Discount__c}), (({!getPrviousSegmentLine.SBQQ__NetTotal__c}*12) / {!getPrviousSegmentLine.Segment_Months__c}),
((({!getPrviousSegmentLine.SBQQ__NetTotal__c} + {!getPrviousSegmentLine.Extended_Term_Discount__c} )*12) / {!getPrviousSegmentLine.Segment_Months__c})), IF(ISNULL({!getPrviousSegmentLine.Extended_Term_Discount__c}), ({!getPrviousSegmentLine.ACV_Change__c} + {!getPrviousSegmentLine.Previous_ACV_Change__c}),
{!getPrviousSegmentLine.ACV_Change__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>calculateValue</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!$Record.Extended_Term_Discount__c}), (({!$Record.SBQQ__NetTotal__c}*12) / {!$Record.Segment_Months__c}),
((({!$Record.SBQQ__NetTotal__c} + {!$Record.Extended_Term_Discount__c} )*12) / {!$Record.Segment_Months__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>previousSegment</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__SegmentIndex__c}-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>quantityChange</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SBQQ__Quantity__c} - {!getPrviousSegmentLine.SBQQ__Quantity__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Amend QL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Line After Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Segment_1_Quote_Line</name>
        <label>Get Segment 1 Quote Line</label>
        <locationX>622</locationX>
        <locationY>779</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Segment_Index_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__SegmentIndex__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__SegmentIndex__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__SegmentIndex__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOriginalLineLastSegment</name>
        <label>getOriginalLineLastSegment</label>
        <locationX>644</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignRenewalValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RenewedSubscription__r.SBQQ__OriginalQuoteLine__r.SBQQ__Quote__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__SegmentIndex__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__RenewedSubscription__r.SBQQ__OriginalQuoteLine__r.SBQQ__Quote__r.SegmentIndex_Max__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPrviousSegmentLine</name>
        <label>getPrviousSegmentLine</label>
        <locationX>908</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__SegmentIndex__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>previousSegment</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Product__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote_Line</name>
        <label>Update Quote Line</label>
        <locationX>644</locationX>
        <locationY>1895</locationY>
        <inputAssignments>
            <field>ACV_Type_Override__c</field>
            <value>
                <elementReference>$Record.ACV_Type_Override__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ACV_Type__c</field>
            <value>
                <elementReference>$Record.ACV_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_ACV_Change__c</field>
            <value>
                <elementReference>$Record.Original_ACV_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_ACV_Change__c</field>
            <value>
                <elementReference>$Record.Previous_ACV_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>YOY_Quantity_Change__c</field>
            <value>
                <elementReference>$Record.YOY_Quantity_Change__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Segment_Index</targetReference>
        </connector>
        <filterFormula>NOT(ISPICKVAL({!$Record.SBQQ__Quote__r.SBQQ__Type__c}, &apos;Migration Quote&apos;))</filterFormula>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ACVChange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AvaTaxMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previousACVChange</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>updateQuoteLine</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varNetTotalAdj</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
