force-app/main/default/flows/Quote_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Quote_sent_for_approval</name>
        <label>Is Quote sent for approval</label>
        <locationX>614</locationX>
        <locationY>322</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Approval_Status_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status</targetReference>
            </connector>
            <label>Is Approval Status Pending</label>
        </rules>
        <rules>
            <name>Is_Approval_Status_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status_to_In_review</targetReference>
            </connector>
            <label>Is Approval Status Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>PaymentTermUpdates</name>
        <label>PaymentTermUpdates</label>
        <locationX>678</locationX>
        <locationY>132</locationY>
        <defaultConnector>
            <targetReference>Is_Quote_sent_for_approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPaymentTermUpdate</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Software_Payment_Terms__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateQuoteLines</targetReference>
            </connector>
            <label>IsPaymentTermUpdate</label>
        </rules>
    </decisions>
    <description>Added condition to update only Software quote lines</description>
    <environments>Default</environments>
    <interviewLabel>Quote Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Before Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Quote_s_std_payment_terms_field</name>
        <label>Update Quote&apos;s std payment terms field</label>
        <locationX>555</locationX>
        <locationY>126</locationY>
        <connector>
            <targetReference>PaymentTermUpdates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Software_Payment_Terms__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__PaymentTerms__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__PaymentTerms__c</field>
            <value>
                <elementReference>$Record.Software_Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Status</name>
        <label>Update Quote Status</label>
        <locationX>512</locationX>
        <locationY>443</locationY>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>OSA Requested</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Quote_Status_to_In_review</name>
        <label>Update Quote Status to In review</label>
        <locationX>776</locationX>
        <locationY>443</locationY>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateQuoteLines</name>
        <label>UpdateQuoteLines</label>
        <locationX>1000</locationX>
        <locationY>130</locationY>
        <connector>
            <targetReference>Is_Quote_sent_for_approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ChargeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__BillingFrequency__c</field>
            <value>
                <elementReference>$Record.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Software_Payment_Term__c</field>
            <value>
                <elementReference>$Record.Software_Payment_Terms__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__QuoteLine__c</object>
    </recordUpdates>
    <start>
        <locationX>167</locationX>
        <locationY>33</locationY>
        <connector>
            <targetReference>Update_Quote_s_std_payment_terms_field</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Quote {!$Record.Name} has been assigned to you for approval.</text>
    </textTemplates>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
