force-app/main/default/flows/Quote_OSA_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Update_Output_Status</name>
        <label>Update Output Status</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>OutputStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SubmitForApproval</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_OutputStatus</name>
        <label>Update OutputStatus</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>OutputStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_For_Approval_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>OSA_Approval_Criteria</name>
        <label>OSA Approval Criteria</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_OutputStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Criteria_Satisfied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Record_Details.Quote_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OSA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote_Record_Details.OSA_Instructions__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_For_Approval</targetReference>
            </connector>
            <label>Is Criteria Satisfied</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote OSA Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OSA Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote_Record_Details</name>
        <label>Get Quote Record Details</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OSA_Approval_Criteria</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Notes_on_Quote</name>
        <label>Update Notes on Quote</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Output_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deal_Justification__c</field>
            <value>
                <elementReference>Deal_Justification</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <screens>
        <name>Submit_For_Approval</name>
        <label>Submit For Approval</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>No</backButtonLabel>
        <connector>
            <targetReference>Submit_For_Approval_Confirmation</targetReference>
        </connector>
        <fields>
            <name>Quote_Approval_Confirmation</name>
            <fieldText>&lt;p&gt;The quote requires approval from &amp;lt;Max Approver Information&amp;gt; (OSA &amp;amp; Segment Leader).&lt;/p&gt;&lt;p&gt;Do you want to submit for approval?&lt;/p&gt;&lt;p&gt;(Please click on close icon to cancel approval submission)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Yes</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_For_Approval_Confirmation</name>
        <label>Submit For Approval</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Notes_on_Quote</targetReference>
        </connector>
        <fields>
            <name>Deal_Justification</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Quote_Record_Details.Deal_Justification__c</elementReference>
            </defaultValue>
            <fieldText>Deal Justification</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Submit_For_Approval_Notification</name>
        <label>Submit For Approval Notification</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Warning_Message</name>
            <fieldText>&lt;p&gt;The quote is submitted for OSA approval&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Record_Details</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OutputStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
