force-app/main/default/flows/Renewal_Letter_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Payment_Allocation</name>
        <label>Assign Payment Allocation</label>
        <locationX>1282</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>GetPA.blng__InvoiceLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPA.blng__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Loop.blng__Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPA.blng__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Allocation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetPA.blng__Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Posted_Payment_Record_from_Renewal_letter.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PAList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetPA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PostedInvoiceLines</name>
        <label>PostedInvoiceLines</label>
        <locationX>1326</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>InvoiceLinesCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Invoice_Lines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Invoice_lines_are_posted</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_status_is_Payment_received</name>
        <label>Check if status is Payment received</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Renewal_Letter_status_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activity_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment Created</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Orders_from_Renewal_Quote</targetReference>
            </connector>
            <label>If Renewal Letter status is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Invoice_lines_are_posted</name>
        <label>Check Invoice lines are posted</label>
        <locationX>1326</locationX>
        <locationY>708</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Invoice_Lines_Posted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceLinesCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Posted_Payment_Record_from_Renewal_letter</targetReference>
            </connector>
            <label>If Invoice Lines Posted</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Invoice_posted</name>
        <label>If Invoice posted</label>
        <locationX>1524</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Posted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Activity_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Posted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Posted_Invoice_from_Renewal_Letter</targetReference>
            </connector>
            <label>If Posted</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_payment_received_not_allocated</name>
        <label>If payment received &amp; not allocated</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_received_not_allocated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment received</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Activity_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Order Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_from_Renewal_Letter</targetReference>
            </connector>
            <label>if received &amp; not allocated</label>
        </rules>
    </decisions>
    <description>Modified from version 12</description>
    <environments>Default</environments>
    <interviewLabel>Renewal Letter - After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal Letter - After Update</label>
    <loops>
        <name>Get_Loop</name>
        <label>Get Loop</label>
        <locationX>1194</locationX>
        <locationY>924</locationY>
        <collectionReference>Get_Invoice_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Payment_Allocation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Payment_Allocations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Payment_Allocations</name>
        <label>Create Payment Allocations</label>
        <locationX>1194</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Update_status_as_allocated</targetReference>
        </connector>
        <inputReference>PAList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Invoice_from_Renewal_Letter</name>
        <label>Get Invoice from Renewal Letter</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Invoice_as_Posted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proforma_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice_Lines</name>
        <label>Get Invoice Lines</label>
        <locationX>1326</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PostedInvoiceLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Posted_Invoice_from_Renewal_Letter.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__InvoiceLineStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Orders_from_Renewal_Quote</name>
        <label>Get Orders from Renewal Quote</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate_the_Renewal_Order1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Renewal_Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Record_from_renewalletter</name>
        <label>Get Payment Record from Renewal letter</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Payment_s_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proforma_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Posted_Invoice_from_Renewal_Letter</name>
        <label>Get Posted Invoice from Renewal Letter</label>
        <locationX>1326</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Invoice_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proforma_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Posted_Payment_Record_from_Renewal_letter</name>
        <label>Get posted Payment Record from Renewal letter</label>
        <locationX>1194</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Proforma_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_the_Renewal_Order1</name>
        <label>Activate the Renewal Order</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Invoice_the_Renewal_Order1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Orders_from_Renewal_Quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Proforma_Invoice__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Contracted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Invoice_the_Renewal_Order1</name>
        <label>Invoice the Renewal Order</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Update_renewal_letter_checkbox</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Orders_from_Renewal_Quote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__BillNow__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Post_the_Payment</name>
        <label>Post the Payment</label>
        <locationX>50</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Update_Renewal_Letter_as_Invoice_posted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Record_from_renewalletter.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Amount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Get_Invoice_from_Renewal_Letter.blng__TotalAmount__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__Status__c</field>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </inputAssignments>
        <object>blng__Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice_as_Posted</name>
        <label>Update Invoice as Posted</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Get_Payment_Record_from_renewalletter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice_from_Renewal_Letter.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__TaxStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__InvoiceStatus__c</field>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </inputAssignments>
        <object>blng__Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Payment_s_Invoice</name>
        <label>Update Payment&apos;s Invoice</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <connector>
            <targetReference>Post_the_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Record_from_renewalletter.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Posted</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>blng__Invoice__c</field>
            <value>
                <elementReference>Get_Invoice_from_Renewal_Letter.Id</elementReference>
            </value>
        </inputAssignments>
        <object>blng__Payment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Renewal_Letter_as_Invoice_posted</name>
        <label>Update Renewal Letter as Invoice posted</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>Activity_Status__c</field>
            <value>
                <stringValue>Invoice Posted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_renewal_letter_checkbox</name>
        <label>Update renewal letter checkbox</label>
        <locationX>578</locationX>
        <locationY>708</locationY>
        <inputAssignments>
            <field>Activity_Status__c</field>
            <value>
                <stringValue>Order Activated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_as_allocated</name>
        <label>Update status as allocated</label>
        <locationX>1194</locationX>
        <locationY>1332</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Payment Allocated</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>529</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Payment Allocated</stringValue>
            </value>
        </filters>
        <object>Proforma_Invoice__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Post_Invoice_Payment_After_2_mins</name>
            <connector>
                <targetReference>If_payment_received_not_allocated</targetReference>
            </connector>
            <label>Post Invoice &amp; Payment After 2 mins</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Create_Order_Invoice</name>
            <connector>
                <targetReference>Check_if_status_is_Payment_received</targetReference>
            </connector>
            <label>Create Order &amp; Invoice</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Allocate_Payment_after_3_mins</name>
            <connector>
                <targetReference>If_Invoice_posted</targetReference>
            </connector>
            <label>Allocate Payment after 3 mins</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignInvoicesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GetPA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>blng__PaymentAllocationInvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvoiceLinesCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoOfOrders</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PAList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>blng__PaymentAllocationInvoiceLine__c</objectType>
    </variables>
</Flow>
