force-app/main/default/flows/Service_Project_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_summary_of_Invoice_fields</name>
        <label>Assign summary of Invoice fields</label>
        <locationX>979</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>SubtotalfromInvoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoices.blng__Subtotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NetbalancefromInvoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoices.blng__Balance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Nettaxfrominvoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoices.blng__TaxAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Netpaidfrominvoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Invoices.Paid_Credit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoices</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Service Project Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Project Create/Update</label>
    <loops>
        <name>Loop_Invoices</name>
        <label>Loop Invoices</label>
        <locationX>831</locationX>
        <locationY>279</locationY>
        <collectionReference>Get_Invoice</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_summary_of_Invoice_fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Service_Project_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>835</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Invoices</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SFDC_Services_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>blng__Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Project_Fields</name>
        <label>Update Service Project Fields</label>
        <locationX>820</locationX>
        <locationY>470</locationY>
        <inputAssignments>
            <field>Net_Total_from_Invoices__c</field>
            <value>
                <elementReference>NetbalancefromInvoices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subtotal_from_Invoices__c</field>
            <value>
                <elementReference>SubtotalfromInvoices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Paid_Credit_from_Invoices__c</field>
            <value>
                <elementReference>Netpaidfrominvoices</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Tax_from_Invoices__c</field>
            <value>
                <elementReference>Nettaxfrominvoices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
        <object>SFDC_Services_Project__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NetbalancefromInvoices</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Netpaidfrominvoices</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Nettaxfrominvoices</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SubtotalfromInvoices</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sumofbalances</name>
        <dataType>Currency</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
