force-app/main/default/flows/Subscription_Before_Insert_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Subscription_Type</name>
        <label>Assign Subscription Type</label>
        <locationX>116</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ProductSubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__TerminatedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerminationDateFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Subscription_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Termination_Date</name>
        <label>Assign Termination Date</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__TerminatedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerminationDateFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Distributor_Discount_Null</name>
        <label>Set Distributor Discount Null</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__DistributorDiscount__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Credit_Lines</name>
        <label>Check Credit Lines</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Check_Subscription_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quantity__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Contract__r.SBQQ__Quote__r.Renewal_Quote_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Consolidated-Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Subscription_Type</targetReference>
            </connector>
            <label>Credit Lines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Subscription_Type</name>
        <label>Check Subscription Type</label>
        <locationX>248</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Distributor_Disocunt_Not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>One_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SubscriptionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-time</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Termination_Date</targetReference>
            </connector>
            <label>One-Time</label>
        </rules>
    </decisions>
    <decisions>
        <name>Distributor_Disocunt_Not_Null</name>
        <label>Distributor Disocunt Not Null</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__DistributorDiscount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Distributor_Discount_Null</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>To populate the Termination date for One-Time products or services. Created as part of BIZ-51230.</description>
    <environments>Default</environments>
    <formulas>
        <name>TerminationDateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <interviewLabel>Subscription Before Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscription Before Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Credit_Lines</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SBQQ__SubscriptionType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>One-time</stringValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__DistributorDiscount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Subscription__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
