force-app/main/default/flows/trial_expiration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>trial expiration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>trial expiration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>set_true</name>
        <label>set true</label>
        <locationX>181</locationX>
        <locationY>367</locationY>
        <connector>
            <targetReference>set_true_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trial_Expiration_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>trial_expired_notification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Product_Ownership_Detail__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>set_true_0</name>
        <label>set true</label>
        <locationX>181</locationX>
        <locationY>610</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trial_Expiration_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>today</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>trial_expired_notification__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Product_Ownership_Detail__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>set_true</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2021-01-17</startDate>
            <startTime>18:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
