force-app/main/default/flows/Update_Billing_day_Override_billing_date_in_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Annual_free_month_order_prd</name>
        <label>Assign Annual free month order prd</label>
        <locationX>1106</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice Plan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__BillingTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Billing_Treatment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Non_segment_1_override_next_date</name>
        <label>Assign Non segment 1 override next date</label>
        <locationX>578</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__OverrideNextBillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Overridenextbilldateformula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_null_at_Override_next_billing_date</name>
        <label>Assign null at Override next billing date</label>
        <locationX>50</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__OverrideNextBillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullDatevalue</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_override_next_billing_date</name>
        <label>Assign override next billing date</label>
        <locationX>314</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__OverrideNextBillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Segment1nextbillingdate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_quarterly_free_month_order_prd_0</name>
        <label>Assign quarterly free month order prd</label>
        <locationX>1370</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice Plan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__BillingTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Billing_Treatment_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Semiannual_free_month_order_prd</name>
        <label>Assign Semiannual free month order prd</label>
        <locationX>1634</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invoice Plan</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__BillingTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Billing_Treatment_0.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Start_End_Date</name>
        <label>Assign Start &amp; End Date</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__StartDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__QuoteLine__r.SBQQ__EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Order_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLegalEntityatOP</name>
        <label>AssignLegalEntityatOP</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__LegalEntity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Legal_Entities.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxTreatment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tax_Treatment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_Validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Hold_billing_as_Yes</name>
        <label>Update Hold billing as Yes</label>
        <locationX>842</locationX>
        <locationY>1211</locationY>
        <assignmentItems>
            <assignToReference>$Record.blng__HoldBilling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Order_Product</name>
        <label>Check Order Product</label>
        <locationX>974</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Invoice_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_null_at_Override_next_billing_date</targetReference>
            </connector>
            <label>If Invoice Plan</label>
        </rules>
        <rules>
            <name>If_Segment_index_1</name>
            <conditionLogic>(1 OR 2) AND 3 AND (4 OR 7) AND 5 AND 6 AND 8</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.SBQQ__Quote__r.Free_Months__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__OverrideNextBillingDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Segment1nextbillingdate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BilledAmountwithouttax__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.SBQQ__Quote__r.Free_Months__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_override_next_billing_date</targetReference>
            </connector>
            <label>If Segment index 1</label>
        </rules>
        <rules>
            <name>Other_segments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__OverrideNextBillingDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Overridenextbilldateformula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BilledAmountwithouttax__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Non_segment_1_override_next_date</targetReference>
            </connector>
            <label>Other segments</label>
        </rules>
        <rules>
            <name>If_one_time</name>
            <conditionLogic>(1 OR 3) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent_of_Bundle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__HoldBilling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product2.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Services</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hold_billing_as_Yes</targetReference>
            </connector>
            <label>If one time</label>
        </rules>
        <rules>
            <name>If_Freemonth_in_Segment_1_annual</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 8 AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.SBQQ__Quote__r.Free_Months__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BillingTreatment__r.blng__InvoicePlan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BillingTreatment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BilledAmountwithouttax__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Billing_Treatment</targetReference>
            </connector>
            <label>If Freemonth in Segment 1 annual</label>
        </rules>
        <rules>
            <name>If_Freemonth_in_seg_1_quarterly</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 8 AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.SBQQ__Quote__r.Free_Months__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BillingTreatment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BillingTreatment__r.blng__InvoicePlan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BilledAmountwithouttax__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Billing_Treatment_0</targetReference>
            </connector>
            <label>If Freemonth in seg 1 quarterly</label>
        </rules>
        <rules>
            <name>If_Freemonth_in_Segment_1_Semiannual</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 8 AND (5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.SBQQ__Quote__r.Free_Months__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__r.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semiannual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BillingTreatment__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BillingTreatment__r.blng__InvoicePlan__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BillingTreatment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.blng__BilledAmountwithouttax__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Billing_TreatmentSemiannual</targetReference>
            </connector>
            <label>If Freemonth in Segment 1 Semiannual</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSubsidiary_in_Order</name>
        <label>CheckSubsidiary in Order</label>
        <locationX>974</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Date_Validation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Subsidiary_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Order.Subsidiary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_Entities</targetReference>
            </connector>
            <label>If Subsidiary is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_Validation</name>
        <label>Date Validation</label>
        <locationX>974</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Check_Order_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Start_and_End_Date_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__QuoteLine__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Start_End_Date</targetReference>
            </connector>
            <label>Is Start and End Date Blank?</label>
        </rules>
    </decisions>
    <description>Updated Hold Billing conditions. Changed event trigger and merged with Order Product : Before Insert or Update - V1
Added a extra condition to decision and Added condition to work for Invoice Plan BF</description>
    <environments>Default</environments>
    <formulas>
        <name>Billingtreatmentname</name>
        <dataType>String</dataType>
        <expression>&quot;Billing Treatment&quot; &amp; &quot; &quot; &amp; {!$Record.OrderItemNumber}</expression>
    </formulas>
    <formulas>
        <name>Invoiceplanname</name>
        <dataType>String</dataType>
        <expression>&quot;Invoice Plan&quot; &amp; &quot; &quot; &amp; {!$Record.blng__BillingRule__r.Name} &amp; {!$Record.OrderItemNumber}</expression>
    </formulas>
    <formulas>
        <name>NullDatevalue</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Overridenextbilldateformula</name>
        <dataType>Date</dataType>
        <expression>CASE(TEXT({!$Record.Order.SBQQ__PaymentTerm__c}),
 &quot;Net 7&quot;, ({!$Record.ServiceDate} - 37),
 &quot;Net 30&quot;, ({!$Record.ServiceDate} - 60), 
 &quot;Net 45&quot;, ({!$Record.ServiceDate} - 75),
&quot;Net 60&quot;, ({!$Record.ServiceDate} - 90),
&quot;Net 90&quot;, ({!$Record.ServiceDate} - 120),
&quot;Net 120&quot;, ({!$Record.ServiceDate} - 150),
{!$Record.ServiceDate})</expression>
    </formulas>
    <formulas>
        <name>Segment1nextbillingdate</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!$Record.Order.SBQQ__Quote__r.Override_Next_Billing_date__c}), DATEVALUE({!$Record.Order.ActivatedDate}), {!$Record.Order.SBQQ__Quote__r.Override_Next_Billing_date__c})</expression>
    </formulas>
    <formulas>
        <name>SubsidiaryName</name>
        <dataType>String</dataType>
        <expression>IF((LEFT(TEXT({!$Record.Order.Subsidiary__c}), 1) = &quot;0&quot;), 
MID(TEXT({!$Record.Order.Subsidiary__c}), 2, 1), 
LEFT(TEXT({!$Record.Order.Subsidiary__c}), 2))</expression>
    </formulas>
    <interviewLabel>Update Billing day &amp; Override billing date in Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Product Before Insert or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Billing_Treatment</name>
        <label>Get Billing Treatment</label>
        <locationX>1106</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Annual_free_month_order_prd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing Treatment Annual 100</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__BillingTreatment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Treatment_0</name>
        <label>Get Billing Treatment</label>
        <locationX>1370</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_quarterly_free_month_order_prd_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quarterly 25</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__BillingTreatment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_TreatmentSemiannual</name>
        <label>Get Billing Treatment</label>
        <locationX>1634</locationX>
        <locationY>1211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Semiannual_free_month_order_prd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Semi Annual 50</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__BillingTreatment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Entities</name>
        <label>Get Legal Entities</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tax_Treatment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubsidiaryName</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__LegalEntity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tax_Treatment</name>
        <label>Get Tax Treatment</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignLegalEntityatOP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>blng__TaxLegalEntity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Legal_Entities.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>blng__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>blng__TaxCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__TaxCode__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>blng__TaxTreatment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckSubsidiary_in_Order</targetReference>
        </connector>
        <object>OrderItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>othersegmentoverridedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Segment1overridedate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetOneTimasNobBilling</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
