force-app/main/default/flows/Update_QL_s_Billing_Freq_from_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Quarterly_Y1_for_year_1</name>
        <label>Assign Quarterly Y1 for year 1</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionQL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quarterly</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quarterly_Y1_only_other_year</name>
        <label>Assign Quarterly Y1 only other year</label>
        <locationX>792</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionQL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Semiannual_Y1_for_year_1_0</name>
        <label>Assign Semiannual Y1 for year 1</label>
        <locationX>1056</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionQL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Semiannual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Semiannual_Y1_only_other_year</name>
        <label>Assign Semiannual Y1 only other year</label>
        <locationX>1320</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionQL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Annual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_STD_Billing_Freq</name>
        <label>Assign STD Billing Freq</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>collectionQL.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineUpdate.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__BillingFrequency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Quote_Line</name>
        <label>Update Quote Line</label>
        <locationX>924</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collectionQL</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Billing_Frequency</name>
        <label>If Billing Frequency</label>
        <locationX>924</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>collectionQL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Standard_BF</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semiannual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice Plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.SBQQ__BillingFrequency__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_STD_Billing_Freq</targetReference>
            </connector>
            <label>If Standard BF</label>
        </rules>
        <rules>
            <name>If_Quarterly_Y1_only_Year1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly Y1 Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quarterly_Y1_for_year_1</targetReference>
            </connector>
            <label>If Quarterly Y1 only - Year 1</label>
        </rules>
        <rules>
            <name>If_Quarterly_Y1_only_Other_years</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quarterly Y1 Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quarterly_Y1_only_other_year</targetReference>
            </connector>
            <label>If Quarterly Y1 only - Other years</label>
        </rules>
        <rules>
            <name>If_Semiannual_Y1_only_Year1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semi-annual Y1 Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Semiannual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Semiannual_Y1_for_year_1_0</targetReference>
            </connector>
            <label>If Semiannual Y1 only Year 1</label>
        </rules>
        <rules>
            <name>If_Semiannual_Y1_only_other_years</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semi-annual Y1 Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__SegmentIndex__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>collectionQL.SBQQ__BillingFrequency__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Annual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Semiannual_Y1_only_other_year</targetReference>
            </connector>
            <label>If Semiannual Y1 only other years</label>
        </rules>
    </decisions>
    <description>refactored the flow</description>
    <environments>Default</environments>
    <interviewLabel>Update QL&apos;s Billing Freq from Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update QL&apos;s Billing Freq from Quote</label>
    <loops>
        <name>collectionQL</name>
        <label>collectionQL</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>lookup_quote_lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Billing_Frequency</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Copy_1_of_Update_collectionQL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookup_quote_lines</name>
        <label>lookup quote lines</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>collectionQL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ChargeType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_collectionQL</name>
        <label>Copy 1 of Copy 1 of Update collectionQL</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <inputReference>QuoteLineList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>lookup_quote_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Ordered__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__BillingFrequency__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__BillingFrequency__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>collectionofquotlines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteLineUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
