force-app/main/default/flows/Update_Subsidiary_on_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Change_Subsidairy_for_Intapp</name>
        <label>Change Subsidairy for Intapp</label>
        <locationX>892</locationX>
        <locationY>1</locationY>
        <assignmentItems>
            <assignToReference>get_associated_contracts.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>01:200 Integration Appliance (US)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_contract_to_be_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Subsidiary_for_dealCloud</name>
        <label>Change Subsidiary for dealCloud</label>
        <locationX>918</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>get_associated_contracts.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>18:DealCloud, Inc.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_contract_to_be_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_contract_to_be_updated</name>
        <label>Get contract to be updated</label>
        <locationX>1273</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>getcontracttobeupdated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_associated_contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_contract_Subsidiary</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Line_of_Business</name>
        <label>Line of Business</label>
        <locationX>625</locationX>
        <locationY>164</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Line_of_Business_is_Intapp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_associated_contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intapp</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Subsidairy_for_Intapp</targetReference>
            </connector>
            <label>Check if Line of Business is Intapp</label>
        </rules>
        <rules>
            <name>Check_if_Line_of_Business_is_DealCloud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_associated_contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Line_of_Business__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DealCloud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Subsidiary_for_dealCloud</targetReference>
            </connector>
            <label>Check if Line of Business is DealCloud</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Subsidiary on Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Subsidiary on Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_associated_contracts</name>
        <label>get associated contracts</label>
        <locationX>445</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Line_of_Business</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Associated_Contract_OSA__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subsidiary__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contract_Subsidiary</name>
        <label>Update contract Subsidiary</label>
        <locationX>1271</locationX>
        <locationY>394</locationY>
        <inputReference>getcontracttobeupdated</inputReference>
    </recordUpdates>
    <start>
        <locationX>28</locationX>
        <locationY>20</locationY>
        <connector>
            <targetReference>get_associated_contracts</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Intapp</stringValue>
            </value>
        </filters>
        <filters>
            <field>Line_of_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DealCloud</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>getcontracttobeupdated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
</Flow>
