force-app/main/default/flows/Update_Proposal_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>SegmentleadNAwest</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.OP4I_Sales_Segment__c = &quot;01 - Legal NA West&quot;}, {!DonnaBailey}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Update Proposal status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pricing and proposal and approval matrix</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Approver_matrix_record</name>
        <label>Approver matrix record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Segment_lead_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Segment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OP4I_Sales_Segment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Approvers_Matrix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Upadate Op4i sales segment Field from account
Get the approver matrix record on the basis of Op4i field
Update all the approver fields on the basis of Op4i sales segment field</description>
        <name>Update_Op4i_sales_segment</name>
        <label>Update Op4i sales segment</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Approver_matrix_record</targetReference>
        </connector>
        <inputAssignments>
            <field>OP4I_Sales_Segment__c</field>
            <value>
                <elementReference>$Record.SBQQ__Account__r.OP4I_Sales_Segment__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_propose_approval_status</name>
        <label>Update propose approval status</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_propose_approval_statusApproved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>pendingGovernance1__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricing_Proposal_Approval__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_propose_approval_status_Rejected</name>
        <label>Update propose approval status(Rejected)</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>pendingGovernance1__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricing_Proposal_Approval__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_propose_approval_statusApproved</name>
        <label>Update propose approval status(Approved)</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_propose_approval_status_Rejected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Quote_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pricing Proposal</stringValue>
            </value>
        </filters>
        <filters>
            <field>pendingGovernance1__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricing_Proposal_Approval__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Segment_lead_field</name>
        <label>Update Segment lead field</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_propose_approval_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OP4I_Sales_Segment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>COO__c</field>
            <value>
                <elementReference>Approver_matrix_record.COO_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CRO__c</field>
            <value>
                <elementReference>Approver_matrix_record.CRO_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_President__c</field>
            <value>
                <elementReference>Approver_matrix_record.Industry_President_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Sales_Lead__c</field>
            <value>
                <elementReference>Approver_matrix_record.Industry_Sales_Lead_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SVP_Services__c</field>
            <value>
                <elementReference>Approver_matrix_record.SVP_Services_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segment_Lead__c</field>
            <value>
                <elementReference>Approver_matrix_record.Sales_Segment_Lead_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Services_Segment_Lead__c</field>
            <value>
                <elementReference>Approver_matrix_record.Services_Segment_Lead_Approver__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Op4i_sales_segment</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>DonnaBailey</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>0052J000008gH70QAE</text>
    </textTemplates>
    <variables>
        <name>Salessegment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
