force-app/main/default/flows/Update_Reivew_Status_and_Prop_Stage_on_Stage_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Stage closed</label>
        </rules>
    </decisions>
    <description>Updates Review Status and Proposed Stage values to Null when Stage is closed V1.2</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISCHANGED([Opportunity].StageName),
OR(
ISPICKVAL([Opportunity].StageName,&quot;Closed Won&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - No Decision&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - Should Never Have Been Opened&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - Renewed without change&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - Renewed with User Increase&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - Renewed with User Decrease&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - Cancelled&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - Superseded New Contract&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - Billing Pause Avoided&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - Billing Paused&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - Billing Restarted&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - Merged&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed Lost&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed - Avoided Cancellation&quot;),
ISPICKVAL([Opportunity].StageName,&quot;Closed Won Adjustment&quot;)
)
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!myVariable_current.StageName}),
OR(
ISPICKVAL({!myVariable_current.StageName},&quot;Closed Won&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - No Decision&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - Should Never Have Been Opened&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - Renewed without change&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - Renewed with User Increase&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - Renewed with User Decrease&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - Cancelled&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - Superseded New Contract&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - Billing Pause Avoided&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - Billing Paused&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - Billing Restarted&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - Merged&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed Lost&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed - Avoided Cancellation&quot;),
ISPICKVAL({!myVariable_current.StageName},&quot;Closed Won Adjustment&quot;)
)
)</expression>
    </formulas>
    <interviewLabel>Update_Reivew_Status_and_Prop_Stage_on_Stage_change-3_InterviewLabel</interviewLabel>
    <label>Update Reivew Status and Prop Stage on Stage change</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Review Status and Prop stage</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Proposed Stage</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Proposed_Stage__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Review Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Review_Stage__c</field>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
